<template>
  <v-container>
    <v-row :style="{ 'height': height }">
      <v-col cols="12" sm="12" md="5" align="center" justify="center">
        <br>
        <h1 style="font-size: 41px !important;" class="half-underline mt-16 blue_text--text text-left font_section_titles">{{ items.title }}</h1>
        <h3 class="font-weight-regular text-left mt-10 text-justify">{{ items.texto }}</h3>
      </v-col>
      <v-col cols="12" sm="12" md="6" offset-md="1">
        <v-row :class="margin_top2">
          <video controls :class="margin_top" :style="{ 'width': width }" style="margin-bottom: 80px !important;">
            <source type="video/mp4" :src=items.video_url />
          </video>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "EduOffer8_7",
  data: () => ({
    height: "650px",
    margin_top: "mt-12",
    margin_top2: "mt-8",
    width: "90%",
    items: {
      title: "Modernos simuladores de avión",
      texto: "Una atractiva profesión que cambiará tu estilo de vida. En Columbia te formamos con los conocimientos y capacidad para ingresar a la industria de los viajes, ya sea como Tripulante de Cabina o Counter. Tendrás una formación profesional que te permitirá ingresar a las mejores aerolíneas y hacer línea de carrera.",
      video_url: require("@/assets/prueba.mp4")
    }
  }),
  mounted() {
    this.onResize()
    window.addEventListener('resize', this.onResize, { passive: true })
  },

  methods: {

    onResize() {

      if (window.innerWidth <= 600) {
        this.height = "900px";
        this.margin_top2 = "mt-0";
        this.width = "100%";
        this.margin_top = "mt-0";
      } else {
        this.height = "650px";
        this.width = "90%";
        this.margin_top = "mt-16";
        this.margin_top2 = "mt-8"
      }
    }
  },

});
</script>


