<template>
  <v-container fluid class="mt-3 mb-10">
    <v-row class="mb-5 mt-3">
      <v-col cols="12">
        <h1 class="blue_text--text font_section_titles h1_benefi_offer text-center">{{ title }}</h1>
        <div class="arrow-down_purple  mt-4"></div>
      </v-col>
    </v-row>
    
      <v-row aling="center" justify="center">
        <v-col cols="9">
          <v-row aling="center" justify="space-between" class="mt-2">
            <v-col cols="12" sm="12" md="4" class="text-center" v-for="(feature, i) in features" :key="i">
              <v-hover v-slot:default="{ hover }">
                <v-card class="card bc_rounded text-left pad_card" shaped :elevation="hover ? 16 : 0"
                  :class="{ up: hover, bc_hover: hover }" style="height: 300px !important;">
                  <v-row class="py-4 mb-1 ml-3">
                    <span :class="feature.icon" class="primary--text" :style="{ 'font-size': feature.font_icon, 'margin-top':feature.mt,'margin-left':feature.ml }"></span>
                  </v-row>
                  <h3 style="line-height: 1;" :style="{'font-size':font_size_cd_title}" class="ml-4 grey--text"><strong>{{ feature.title }}</strong></h3>
                  <p  :style="{'font-size':font_size_cd_text}" class="mt-3 ml-4  grey--text text-justify">
                    {{ feature.text }}
                  </p>
                </v-card>

              </v-hover>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    
  </v-container>
</template>
      
<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "EduOffer8_4",

  data: () => ({
    title: "Nuestros Beneficios",
    font_size_title:"",
    font_size_cd_title:"",
    font_size_cd_text:"",
    features: [
      {
        icon: "icon-star",
        font_icon: "33px",
        ml: "-5px",
        mt: "-10px",
        title: "PRESTIGIO",
        text: "Miles de egresados trabajando en las mejores aerolíneas.",
      },
      {
        icon: "icon-bag",
        font_icon :"54px",
        ml:"-15px",
        mt:"-32px",
        title: "COLUMBIA JOBS",
        text: "Oportunidades laborales y procesos de selección dentro de nuestra área de Columbia Jobs.",
      },
      {
        icon: "icon-certificado",
        font_icon: "33px",
        ml: "-5px",
        mt: "-10px",
        title: "FORMACIÓN DE PRIMER NIVEL",
        text: "Profesores altamente capacitados y especializados.",
      },
      {
        icon: "icon-avion_inclinado",
        font_icon: "34px",
        ml: "-15px",
        mt: "-10px",
        title: "PASANTÍAS INTERNACIONALES",
        text: "Viajes Internacionales de estudio, visitas y prácticas en los mejores resorts y hoteles cinco estrellas.",
      },
      {
        icon: "icon-chair-tooth",
        font_icon: "60px",
        ml: "-12px",
        mt: "-27px",
        mb: "-32px",
        title: "MODERNOS SIMULADORES DE AVIÓN",
        text: "Modernos simuladores implementados con todo lo necesario para que desarrolles tu potencial",
      },
      {
        icon: "icon-recurso-138",
        font_icon: "33px",
        ml: "",
        mt: "-15px",
        title: "INGLÉS ESPECIALIZADO",
        text: "Reforzamos tus habilidades con el idioma inglés en clases prácticas vivenciales.",
      },
    ],
  }),
  mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },

    methods: {

        onResize() {

            if (window.innerWidth > 1650) {
              this.font_size_title ="423% !important"
              this.font_size_cd_title ="155% !important"
              this.font_size_cd_text =" 115% !important"
            }
            else {
              this.font_size_title =""
              this.font_size_cd_title =""
              this.font_size_cd_text =""

            }
        }
    },
});
</script>

<style >
@media screen and (max-width:1940px){
  .h1_benefi_offer{
    font-size:5vh;
  }
}
@media screen and (max-width:1368px){
  .h1_benefi_offer{
    font-size:6vh;
  }
}
</style>
