<template>

  <svg v-if="name === 'bag'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_2" data-name="Capa 2" viewBox="0 0 127 127">
  <defs>

    <filter id="" filterUnits="userSpaceOnUse">
      <feOffset dx="7" dy="7"/>
      <feGaussianBlur result="blur" stdDeviation="5"/>
      <feFlood flood-color="#000" flood-opacity=".4"/>
      <feComposite in2="blur" operator="in"/>
      <feComposite in="SourceGraphic"/>
    </filter>
    <linearGradient id="Degradado_sin_nombre_18" data-name="Degradado_sin_nombre_18" x1="17.67" y1="22.1" x2="100.86" y2="98.88" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#0071ff"/>
      <stop offset="1" stop-color="#b7008a"/>
    </linearGradient>
  </defs>
  <g id="Capa_1-2" data-name="Capa 1">
    <g>
      <circle class="cls-3" cx="56.81" cy="56.35" r="47.9"/>
      <path class="cls-2" d="m56.78,78.4c-5.85,0-11.71,0-17.56,0-2.08,0-3.98-.61-5.62-1.91-2.06-1.64-3.19-3.78-3.4-6.41-.04-.51-.04-1.01-.04-1.52,0-7.13,0-14.27,0-21.4,0-2.56.88-4.78,2.72-6.57,1.63-1.58,3.6-2.46,5.88-2.49,2.81-.04,5.62-.01,8.43-.01q.48,0,.49-.5c.02-3.41,2.65-6.02,6.06-6.03,2.01,0,4.01,0,6.02,0,2.34,0,4.14.98,5.37,2.99.55.91.77,1.92.8,2.97.02.57,0,.57.59.57,2.63,0,5.27,0,7.9,0,2.59-.01,4.79.91,6.57,2.77,1.46,1.52,2.26,3.37,2.42,5.48.05.57.04,1.15.04,1.72,0,7.07,0,14.13,0,21.2,0,2.47-.81,4.63-2.53,6.41-1.58,1.62-3.5,2.52-5.77,2.69-.55.04-1.1.04-1.65.04-5.58,0-11.16,0-16.74,0Zm.01-2.65c5.92,0,11.84,0,17.76,0,3.47,0,6.26-2.81,6.27-6.28,0-3.96,0-7.92,0-11.87,0-.42-.01-.43-.4-.32-3.2.95-6.46,1.7-9.75,2.26-1.88.32-3.77.57-5.67.76-1.25.12-2.5.21-3.76.29-.57.04-.57.06-.58.63-.06,2.32-2.22,4.08-4.5,3.67-1.88-.34-3.18-1.89-3.19-3.83,0-.32-.08-.45-.42-.46-.8-.03-1.6-.1-2.41-.16-2.3-.17-4.58-.46-6.85-.83-3.42-.57-6.79-1.33-10.11-2.32-.35-.11-.38-.09-.38.28,0,4.02,0,8.05,0,12.07,0,1.03.26,2.01.79,2.9,1.25,2.1,3.1,3.21,5.56,3.22,5.88.01,11.75,0,17.63,0Zm0-35.04c-5.81,0-11.62,0-17.43,0-.34,0-.68.02-1.02.05-3.07.34-5.51,3.03-5.53,6.11-.01,2.38,0,4.76,0,7.14,0,.3.1.43.38.51,2.55.78,5.14,1.43,7.75,1.96,2.62.53,5.25.92,7.91,1.18,1.25.12,2.5.19,3.76.29.27.02.37-.07.37-.35,0-.44.08-.88.24-1.29.68-1.7,2.38-2.7,4.14-2.44,1.78.26,3.12,1.68,3.3,3.5q.06.6.67.58s.09,0,.13,0c2.55-.17,5.1-.41,7.62-.81,3.85-.61,7.64-1.46,11.36-2.6.27-.08.39-.2.39-.5-.01-2.39,0-4.78,0-7.18,0-.87-.19-1.71-.58-2.49-1.2-2.37-3.13-3.63-5.79-3.65-5.89-.03-11.77,0-17.66,0Zm.01-2.62c2.04,0,4.08,0,6.12,0,.26,0,.37-.06.38-.35.04-2.06-1.37-3.53-3.41-3.53-2.04,0-4.08,0-6.12,0-2.05,0-3.44,1.41-3.44,3.47,0,.32.1.41.41.41,2.02-.01,4.04,0,6.05,0Zm1.21,21.32c0-.58,0-1.17,0-1.75-.01-.66-.53-1.19-1.16-1.2-.66,0-1.18.47-1.22,1.14-.06,1.17-.04,2.33,0,3.5.02.7.53,1.21,1.19,1.21.66,0,1.18-.54,1.19-1.24,0-.55,0-1.1,0-1.65Z"/>
    </g>
  </g>
</svg>
</template>


<script>
export default {
  props: ['name']
}
</script>
<style>
.cls-1 {
  fill: url(#Degradado_sin_nombre_18) !important;
}

.cls-2 {
  fill: #fff;
  filter: url(#drop-shadow-1) !important;
}
</style>