<template>
  <svg v-if="name === 'clock'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_2" data-name="Capa 2" viewBox="0 0 127 127">
    <defs>

    <filter id="" filterUnits="userSpaceOnUse">
      <feOffset dx="7" dy="7"/>
      <feGaussianBlur result="blur" stdDeviation="5"/>
      <feFlood flood-color="#000" flood-opacity=".4"/>
      <feComposite in2="blur" operator="in"/>
      <feComposite in="SourceGraphic"/>
    </filter>
    <linearGradient id="Degradado_sin_nombre_18" data-name="Degradado sin nombre 18" x1="-19.07" y1="-42.42" x2="98.41" y2="110.99" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#0071ff"/>
      <stop offset="1" stop-color="#b7008a"/>
    </linearGradient>
    <linearGradient id="Degradado_sin_nombre_18-2" data-name="Degradado sin nombre 18" x1="-16.05" y1="-44.73" x2="101.43" y2="108.68" xlink:href="#Degradado_sin_nombre_18"/>
  </defs>
  <g id="Capa_1-2" data-name="Capa 1">
    <g>
      <circle class="cls-3" cx="56.59" cy="56.35" r="47.9"/>
      <g>
        <path class="cls-2" d="m54.32,28.95c1.5,0,2.99,0,4.49,0,.4.06.81.12,1.21.17,6.3.82,11.72,3.48,16.12,8.05,5.8,6.01,8.36,13.24,7.71,21.58-.3,3.82-1.42,7.4-3.26,10.75-5.59,10.14-17.06,16.05-28.87,13.75-10.9-2.12-18.01-8.72-21.47-19.25-.58-1.76-.82-3.6-1.05-5.44,0-1.5,0-2.99,0-4.49.13-.86.21-1.73.38-2.58,2.29-10.9,8.77-18.05,19.34-21.5,1.75-.57,3.57-.8,5.38-1.03Zm2.27,4.31c-12.69,0-23.05,10.31-23.07,22.97-.02,12.75,10.3,23.12,23.02,23.13,12.71,0,23.06-10.32,23.07-23.02,0-12.71-10.32-23.06-23.02-23.07Z"/>
        <path class="cls-1" d="m54.4,50.1c0-2.12-.01-4.24,0-6.36,0-.98.66-1.8,1.57-2.06.91-.25,1.87.09,2.4.87.29.43.38.91.38,1.42,0,3.56,0,7.12-.01,10.68,0,.52.15.85.57,1.16,2.29,1.69,4.56,3.41,6.84,5.12.6.45,1.02.98,1.05,1.77.04.91-.34,1.6-1.12,2.03-.77.43-1.56.38-2.27-.12-.89-.62-1.75-1.29-2.62-1.94-1.88-1.41-3.75-2.83-5.65-4.22-.8-.59-1.18-1.31-1.16-2.32.03-2.01,0-4.02,0-6.04h0Z"/>
      </g>
    </g>
  </g>
  </svg>
  
  </template>
  
  
  <script>
  export default {
    props: ['name']
  }
  </script>
  
  <style>
  .cls-1 {
    fill: url(#Degradado_sin_nombre_18-2);
  }

  .cls-2 {
    fill: url(#Degradado_sin_nombre_18);
  }

  .cls-3 {
    fill: #fff;
    filter: url(#drop-shadow-1);
  }
</style>