<template>
  <svg v-if="name === 'clockf'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_2" data-name="Capa 2" viewBox="0 0 127 127">
    <defs>
  
    <filter id="" filterUnits="userSpaceOnUse">
      <feOffset dx="7" dy="7"/>
      <feGaussianBlur result="blur" stdDeviation="5"/>
      <feFlood flood-color="#000" flood-opacity=".4"/>
      <feComposite in2="blur" operator="in"/>
      <feComposite in="SourceGraphic"/>
    </filter>
    <linearGradient id="Degradado_sin_nombre_18" data-name="Degradado sin nombre 18" x1="24.84" y1="22.78" x2="80.76" y2="95.76" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#0071ff"/>
      <stop offset="1" stop-color="#b7008a"/>
    </linearGradient>
    <linearGradient id="Degradado_sin_nombre_18-2" data-name="Degradado sin nombre 18" x1="27.28" y1="20.91" x2="83.19" y2="93.89" xlink:href="#Degradado_sin_nombre_18"/>
    <linearGradient id="Degradado_sin_nombre_18-3" data-name="Degradado sin nombre 18" x1="30.03" y1="18.8" x2="85.95" y2="91.78" xlink:href="#Degradado_sin_nombre_18"/>
    <linearGradient id="Degradado_sin_nombre_18-4" data-name="Degradado sin nombre 18" x1="19.74" y1="26.69" x2="75.65" y2="99.67" xlink:href="#Degradado_sin_nombre_18"/>
    <linearGradient id="Degradado_sin_nombre_18-5" data-name="Degradado sin nombre 18" x1="38.74" y1="12.13" x2="94.66" y2="85.11" xlink:href="#Degradado_sin_nombre_18"/>
    <linearGradient id="Degradado_sin_nombre_18-6" data-name="Degradado sin nombre 18" x1="22.53" y1="24.56" x2="78.44" y2="97.53" xlink:href="#Degradado_sin_nombre_18"/>
    <linearGradient id="Degradado_sin_nombre_18-7" data-name="Degradado sin nombre 18" x1="39.58" y1="11.49" x2="95.5" y2="84.46" xlink:href="#Degradado_sin_nombre_18"/>
    <linearGradient id="Degradado_sin_nombre_18-8" data-name="Degradado sin nombre 18" x1="25.67" y1="22.15" x2="81.59" y2="95.12" xlink:href="#Degradado_sin_nombre_18"/>
    <linearGradient id="Degradado_sin_nombre_18-9" data-name="Degradado sin nombre 18" x1="17.43" y1="28.46" x2="73.35" y2="101.43" xlink:href="#Degradado_sin_nombre_18"/>
    <linearGradient id="Degradado_sin_nombre_18-10" data-name="Degradado sin nombre 18" x1="32.04" y1="17.27" x2="87.95" y2="90.24" xlink:href="#Degradado_sin_nombre_18"/>
    <linearGradient id="Degradado_sin_nombre_18-11" data-name="Degradado sin nombre 18" x1="34.83" y1="15.13" x2="90.74" y2="88.1" xlink:href="#Degradado_sin_nombre_18"/>
    <linearGradient id="Degradado_sin_nombre_18-12" data-name="Degradado sin nombre 18" x1="14.98" y1="30.34" x2="70.9" y2="103.31" xlink:href="#Degradado_sin_nombre_18"/>
    <linearGradient id="Degradado_sin_nombre_18-13" data-name="Degradado sin nombre 18" x1="15.82" y1="29.69" x2="71.74" y2="102.67" xlink:href="#Degradado_sin_nombre_18"/>
    <linearGradient id="Degradado_sin_nombre_18-14" data-name="Degradado sin nombre 18" x1="37.13" y1="13.37" x2="93.04" y2="86.34" xlink:href="#Degradado_sin_nombre_18"/>
    <linearGradient id="Degradado_sin_nombre_18-15" data-name="Degradado sin nombre 18" x1="28.89" y1="19.68" x2="84.81" y2="92.65" xlink:href="#Degradado_sin_nombre_18"/>
  </defs>
  <g id="Capa_1-2" data-name="Capa 1">
    <g>
      <circle class="cls-9" cx="56.36" cy="56.35" r="47.9"/>
      <g>
        <path class="cls-3" d="m54.18,31.42c-.43-.43-.85-.85-1.27-1.26-.14-.14-.26-.3-.33-.49-.19-.53,0-1.09.49-1.41.46-.31,1.07-.25,1.48.16.9.89,1.8,1.8,2.7,2.7.2.2.4.4.59.59.51.51.51,1.24,0,1.75-.71.71-1.42,1.42-2.13,2.13-.38.38-.75.75-1.13,1.13-.36.35-.78.48-1.26.32-.48-.16-.75-.52-.81-1.02-.05-.38.09-.71.36-.98.3-.31.61-.61.92-.92.05-.05.12-.09.14-.18-.19-.05-.37.01-.55.03-2.66.32-5.2,1.04-7.62,2.18-2.16,1.01-4.13,2.31-5.92,3.88-1.64,1.44-3.07,3.06-4.29,4.87-1.56,2.32-2.71,4.84-3.43,7.54-.38,1.44-.63,2.9-.75,4.38-.09,1.06-.11,2.13-.06,3.19.13,2.91.74,5.72,1.85,8.42.98,2.36,2.28,4.52,3.92,6.49,1.11,1.33,2.34,2.54,3.7,3.62,1.29,1.03,2.66,1.93,4.13,2.68,2.06,1.06,4.22,1.83,6.5,2.28,1.21.24,2.43.39,3.66.45,3.89.2,7.62-.46,11.2-1.99,2.33-.99,4.46-2.32,6.38-3.97.62-.53,1.22-1.09,1.79-1.68,1.63-1.7,3.01-3.59,4.12-5.67,1.11-2.07,1.9-4.26,2.39-6.56.28-1.3.45-2.62.51-3.95.03-.76.54-1.29,1.23-1.28.65.01,1.19.54,1.18,1.19-.02,1.01-.13,2.02-.29,3.02-.32,2.09-.87,4.11-1.66,6.07-.79,1.96-1.8,3.8-3.01,5.53-1.14,1.63-2.44,3.11-3.9,4.45-1.8,1.66-3.79,3.05-5.96,4.18-2.42,1.26-4.97,2.14-7.65,2.63-1.29.24-2.59.37-3.9.43-2.51.11-4.98-.13-7.43-.7-1.94-.45-3.8-1.12-5.59-1.99-1.98-.96-3.82-2.14-5.52-3.54-2.24-1.84-4.14-3.98-5.71-6.41-1.94-3.01-3.24-6.27-3.9-9.79-.23-1.23-.36-2.47-.42-3.72-.15-3,.19-5.95,1.01-8.84.67-2.36,1.64-4.58,2.91-6.68,1.05-1.73,2.27-3.33,3.67-4.79,1.71-1.78,3.62-3.32,5.73-4.59,2.99-1.8,6.22-2.99,9.66-3.56.69-.11,1.38-.21,2.08-.26.06,0,.12,0,.21-.07Z"/>
        <path class="cls-1" d="m77.23,58.9c.03,11.33-9.2,20.89-20.92,20.85-11.52-.04-20.78-9.36-20.79-20.84-.01-11.5,9.29-20.88,20.86-20.88,11.66,0,20.89,9.51,20.86,20.87Zm-20.86,18.54c10.18.04,18.56-8.29,18.57-18.53.01-10.25-8.34-18.53-18.45-18.58-10.24-.06-18.62,8.22-18.68,18.43-.06,10.51,8.5,18.72,18.56,18.69Z"/>
        <path class="cls-15" d="m55.24,53.17c0-1.89,0-3.78,0-5.67,0-.89.92-1.44,1.7-1.01.37.21.56.54.59.96,0,.09,0,.17,0,.26,0,3.24,0,6.48,0,9.72q0,.31.3.31c1.94,0,3.89,0,5.83,0,.92,0,1.46.8,1.11,1.65-.15.37-.59.65-1.04.65-.95,0-1.89,0-2.84,0-1.48,0-2.97,0-4.45,0-.73,0-1.21-.48-1.21-1.22,0-1.88,0-3.77,0-5.65h0Z"/>
        <path class="cls-12" d="m54.71,74.52c0-.93.76-1.68,1.67-1.68.92,0,1.68.76,1.67,1.68,0,.92-.77,1.67-1.69,1.67-.91,0-1.66-.76-1.65-1.67Z"/>
        <path class="cls-6" d="m64.17,47.01c-.91,0-1.67-.77-1.66-1.67.01-.93.77-1.67,1.71-1.66.89,0,1.65.77,1.65,1.67,0,.93-.76,1.67-1.7,1.67Z"/>
        <path class="cls-13" d="m41.17,51.07c0-.93.75-1.68,1.67-1.68.92,0,1.67.76,1.67,1.68,0,.91-.75,1.67-1.66,1.67-.92,0-1.68-.75-1.68-1.68Z"/>
        <path class="cls-8" d="m69.94,49.39c.9,0,1.66.78,1.65,1.68,0,.92-.78,1.68-1.69,1.67-.92,0-1.68-.78-1.67-1.7,0-.91.78-1.67,1.7-1.66Z"/>
        <path class="cls-10" d="m64.2,70.76c.92,0,1.68.76,1.67,1.68,0,.91-.77,1.66-1.68,1.66-.92,0-1.68-.76-1.68-1.68,0-.92.76-1.66,1.69-1.66Z"/>
        <path class="cls-16" d="m40.75,57.22c.92,0,1.68.76,1.68,1.68,0,.92-.76,1.66-1.69,1.66-.91,0-1.66-.75-1.67-1.67,0-.92.76-1.67,1.68-1.67Z"/>
        <path class="cls-7" d="m71.59,66.7c0,.93-.76,1.68-1.7,1.67-.88,0-1.66-.78-1.65-1.67,0-.92.77-1.69,1.67-1.69.91,0,1.68.77,1.68,1.68Z"/>
        <path class="cls-5" d="m54.71,43.26c0-.93.75-1.69,1.66-1.69.93,0,1.68.76,1.68,1.68,0,.92-.76,1.68-1.68,1.67-.91,0-1.66-.75-1.66-1.67Z"/>
        <path class="cls-14" d="m41.17,66.69c0-.91.75-1.66,1.66-1.66.92,0,1.67.75,1.67,1.68,0,.91-.75,1.67-1.66,1.67-.93,0-1.68-.75-1.68-1.69Z"/>
        <path class="cls-2" d="m50.23,72.43c0,.93-.74,1.67-1.68,1.66-.92,0-1.66-.76-1.66-1.69,0-.91.75-1.65,1.67-1.65.94,0,1.66.73,1.66,1.67Z"/>
        <path class="cls-11" d="m73.67,58.88c0,.92-.73,1.67-1.64,1.68-.94,0-1.69-.72-1.69-1.65,0-.93.73-1.68,1.66-1.69.93,0,1.67.73,1.68,1.66Z"/>
        <path class="cls-4" d="m48.55,47.01c-.92,0-1.66-.75-1.66-1.67,0-.92.75-1.67,1.68-1.67.93,0,1.66.75,1.66,1.7,0,.92-.74,1.64-1.68,1.64Z"/>
      </g>
    </g>
  </g>
  </svg>
  
  </template>
  
  
  <script>
  export default {
    props: ['name']
  }
  </script>
  
  <style>
      .cls-1 {
        fill: url(#Degradado_sin_nombre_18-2);
      }

      .cls-2 {
        fill: url(#Degradado_sin_nombre_18-13);
      }

      .cls-3 {
        fill: url(#Degradado_sin_nombre_18);
      }

      .cls-4 {
        fill: url(#Degradado_sin_nombre_18-15);
      }

      .cls-5 {
        fill: url(#Degradado_sin_nombre_18-11);
      }

      .cls-6 {
        fill: url(#Degradado_sin_nombre_18-5);
      }

      .cls-7 {
        fill: url(#Degradado_sin_nombre_18-10);
      }

      .cls-8 {
        fill: url(#Degradado_sin_nombre_18-7);
      }

      .cls-9 {
        fill: #fff !important;
        filter: url(#drop-shadow-1);
      }

      .cls-10 {
        fill: url(#Degradado_sin_nombre_18-8);
      }

      .cls-11 {
        fill: url(#Degradado_sin_nombre_18-14);
      }

      .cls-12 {
        fill: url(#Degradado_sin_nombre_18-4);
      }

      .cls-13 {
        fill: url(#Degradado_sin_nombre_18-6);
      }

      .cls-14 {
        fill: url(#Degradado_sin_nombre_18-12);
      }

      .cls-15 {
        fill: url(#Degradado_sin_nombre_18-3);
      }

      .cls-16 {
        fill: url(#Degradado_sin_nombre_18-9);
      }
    </style>