<template>
  <svg v-if="name === 'pointer'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_2" data-name="Capa 2" viewBox="0 0 127 127">
    <defs>

    <filter id="" filterUnits="userSpaceOnUse">
      <feOffset dx="7" dy="7"/>
      <feGaussianBlur result="blur" stdDeviation="5"/>
      <feFlood flood-color="#000" flood-opacity=".4"/>
      <feComposite in2="blur" operator="in"/>
      <feComposite in="SourceGraphic"/>
    </filter>
    <linearGradient id="Degradado_sin_nombre_18" data-name="Degradado sin nombre 18" x1="5.93" y1=".36" x2="120.02" y2="114.45" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#0071ff"/>
      <stop offset="1" stop-color="#b7008a"/>
    </linearGradient>
    <linearGradient id="Degradado_sin_nombre_18-2" data-name="Degradado sin nombre 18" x1="-7.9" y1="14.19" x2="106.19" y2="128.28" xlink:href="#Degradado_sin_nombre_18"/>
  </defs>
  <g id="Capa_1-2" data-name="Capa 1">
    <g>
      <circle class="cls-3" cx="56.2" cy="56.35" r="47.9"/>
      <g>
        <path class="cls-2" d="m38.96,48.75c-.05-8.53,6.04-15.76,14.42-17.13,9.68-1.58,18.74,5.17,19.91,14.88.51,4.24-.37,8.24-2.24,12.05-1.7,3.45-4.06,6.43-6.58,9.3-2.33,2.65-4.69,5.27-7.03,7.9-.72.81-1.74.84-2.45.05-2.84-3.18-5.7-6.35-8.49-9.58-2.13-2.48-4-5.15-5.39-8.13-1.39-2.97-2.13-6.07-2.16-9.35Zm17.24-9.66c-5.18-.01-9.4,4.17-9.43,9.36-.03,5.2,4.2,9.49,9.48,9.47,5.15-.02,9.28-4.2,9.32-9.41.04-5.15-4.2-9.4-9.37-9.42Z"/>
        <path class="cls-1" d="m56.2,83.04c-3.12.02-6.2-.28-9.17-1.3-1.12-.38-2.2-.86-3.11-1.65-1.37-1.2-1.35-2.59.07-3.76,1.34-1.1,2.98-1.55,4.59-2.08,1.14-.38,1.93-.23,2.62.81.5.76,1.18,1.4,1.78,2.09,1.82,2.13,4.53,2.13,6.36.02.85-.99,1.74-1.95,2.59-2.93.2-.23.38-.3.68-.23,1.54.33,3.06.72,4.44,1.5.62.35,1.23.78,1.73,1.28.88.89.85,2,.01,2.94-.7.78-1.6,1.27-2.55,1.66-2.62,1.09-5.39,1.5-8.2,1.65-.61.03-1.23,0-1.85,0Z"/>
      </g>
    </g>
  </g>
  </svg>
  
  </template>
  
  
  <script>
  export default {
    props: ['name']
  }
  </script>
  
  <style>
  .cls-1 {
    fill: url(#Degradado_sin_nombre_18-2);
  }

  .cls-2 {
    fill: url(#Degradado_sin_nombre_18);
  }

  .cls-3 {
    fill: #fff;
    filter: url(#drop-shadow-1);
  }
</style>