<template>
    <div style="min-width:100%;">
        <v-row >
            <v-col cols="12">
                <v-img :src="img" style="width:100%;" class="banner_height">
                    <v-row align="center" justify="center" style="height:100%;">
                        <v-col cols="8" :lg="lg_temp" >
                            <h1 class="white--text text-center mt-16 banner_tittle_profe">Profesionales y Emprendedores 
                                <br> <strong class="font-italic">COLUMBIA</strong></h1>
                        </v-col>
                    </v-row>
                </v-img>
            </v-col>
        </v-row>
    </div>
    <!--
        <div>
        <section style="margin-top: 37px;">
            <v-img :class="height_class" class="" :src=img>
                <v-container class=" mb-10" style="background-color:red;">
                    <v-row no-gutters justify="center" align="center" class="ml-9 text-center">
                        <h1 class="white--text" :style="{'font-size':font_size, 'margin-top':margin_top}">Profesionales y Emprendedores <strong
                                class="font-italic">COLUMBIA?</strong></h1>
                    </v-row>
                </v-container>
            </v-img>
        </section>
    </div>
    -->
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    name: "Section1",
    data: () => ({
        height_class:"",
        margin_top:"",
        font_size:"",
        lg_temp:'',
        img: require("@/assets/pages/professionals/banner1.png")
    }),
	mounted() {
		this.onResize()
		window.addEventListener('resize', this.onResize, { passive: true })
	},

	methods: {
        // font-size: 351% !important;
		onResize() {
            console.log(window.innerWidth)
			if (window.innerWidth <= 800) {
                console.log("entro aca")
				this.font_size="250% !important"
                this.margin_top="80px !important"

			} else if ( window.innerWidth > 1650) {
                this.height_class="section_img"
                this.margin_top="155px !important"
                this.lg_temp="12"
                this.font_size="550% !important"
			}
			else if( window.innerWidth > 801 &&  window.innerWidth < 1650) {
                this.height_class="section_img_md"
                this.margin_top="100px !important"
                this.lg_temp="8"
                this.font_size="380% !important"
			}
		}
	},
});
</script>
<style scoped>
.title_banner {
    font-size: 400% !important;
    margin-top: 75px;
}
.banner_height{
    height:70vh;
}
@media screen and (max-width:1940px){
    .banner_tittle_profe{
        font-size: 7.5vh;
        line-height: 11vh;
    }
    .banner_height{
        margin-top:4%;
    }
}
@media screen and (max-width:1368px){
    .banner_tittle_profe{
        font-size: 8vh;
        line-height: 11vh;
    }
    .banner_height{
        margin-top:4.5%;
    }
}
</style>