<template>
	<v-container fluid>
		<v-row>
			<v-col cols="12" md="12" sm="12" class="mt-12">
				<v-row>
					<v-col cols="12">
						<h1 class="blue_text--text text-center" :style="{ 'font-size': font_size_title }">Profesionales Columbia</h1>
						<div class="arrow-down_purple text-center"></div>
					</v-col>
				</v-row>
				<v-row justify="center">
					<v-col cols="8">
						<v-carousel hide-delimiters>
							<template v-slot:prev="{ on, attrs }">
						<v-btn id="btn_left" depressed fab dark small color="white" v-bind="attrs" v-on="on">
							<v-icon dark color="info" size="40">
								mdi-chevron-left
							</v-icon>
						</v-btn>
					</template>
					<template  v-slot:next=" { on, attrs }">
						<!-- <v-btn color="info" v-bind="attrs" v-on="on">Next slide</v-btn> -->
						<v-btn id="btn_right" depressed fab dark small color="white" v-bind="attrs" v-on="on">
							<v-icon dark color="info" size="40">
								mdi-chevron-right
							</v-icon>
						</v-btn>
					</template>
							<v-carousel-item v-for="itemIMG in items_profesionales">
								<v-container fluid>
									<v-row >
										<v-col cols="3" v-for="imgS in itemIMG.imgs">
											<v-row>
												<v-img class="imgItemCarouselProfesionals" src="@/assets/pages/professionals/tempcarouselimg.jpg" style="width:100px; height:100%;"></v-img>
												<div>
													<div class="containerTextmgItemProfesionals white--text">
														<h3 class="font-weight-strong">{{imgS.name}}</h3>
														<p>{{ imgS.cargo}} </p>
													</div>
													
												</div>
											</v-row>
										</v-col>
									</v-row>
								</v-container>
									
							</v-carousel-item>
						</v-carousel>
					</v-col>
				</v-row>		
			</v-col>
		</v-row>
		<v-row>
			<v-col cols="12" md="12" sm="12" class="mt-12">
				<v-row>
					<v-col cols="12">
						<h1 class="blue_text--text text-center" :style="{ 'font-size': font_size_title }">Emprendedores Columbia</h1>
						<div class="arrow-down_purple text-center"></div>
					</v-col>
				</v-row>
				<v-row justify="center">
					<v-col cols="8">
						<v-carousel hide-delimiters>
						<template v-slot:prev="{ on, attrs }">
						<v-btn id="btn_left" depressed fab dark small color="white" v-bind="attrs" v-on="on">
							<v-icon dark color="info" size="40">
								mdi-chevron-left
							</v-icon>
						</v-btn>
					</template>
					<template  v-slot:next=" { on, attrs }">
						<v-btn id="btn_right" depressed fab dark small color="white" v-bind="attrs" v-on="on">
							<v-icon dark color="info" size="40">
								mdi-chevron-right
							</v-icon>
						</v-btn>
					</template>
							<v-carousel-item v-for="itemIMG in items_emprendedores">
								<v-container fluid>
									<v-row >
										<v-col cols="3" v-for="imgS in itemIMG.imgs">
											<v-row>
												<v-img class="imgItemCarouselProfesionals" src="@/assets/pages/professionals/tempcarouselimg.jpg" style="width:100px; height:100%;"></v-img>
												<div>
													<div class="containerTextmgItemProfesionals white--text">
														<h3 class="font-weight-strong">{{imgS.name}}</h3>
														<p>{{ imgS.cargo}} </p>
													</div>
													
												</div>
											</v-row>
										</v-col>
									</v-row>
								</v-container>
									
							</v-carousel-item>
						</v-carousel>
					</v-col>
				</v-row>		
			</v-col>
		</v-row>
	</v-container>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
	name: "Section2",
	data: () => ({
		max_width: "",
		model: 0,
		font_size_title: "",
		items_profesionales: [
			{
				imgs: [
					{
						name: "Nombre_profesional",
						cargo:"Cargo_profesional",
						img: require("@/assets/pages/professionals/carousel.png"),
					},
					{
						name: "Nombre_profesional",
						cargo:"Cargo_profesional",
						img: require("@/assets/pages/professionals/carousel.png"),
					},
					{
						name: "Nombre_profesional",
						cargo:"Cargo_profesional",
						img: require("@/assets/pages/professionals/carousel.png"),
					},
					{
						name: "Nombre_profesional",
						cargo:"Cargo_profesional",
						img: require("@/assets/pages/professionals/carousel.png"),
					}
				]
			},
			{
				
				imgs: [
					{
						name: "Nombre_profesional",
						cargo:"Cargo_profesional",
						img: require("@/assets/pages/professionals/carousel.png"),
					},
					{
						name: "Nombre_profesional",
						cargo:"Cargo_profesional",
						img: require("@/assets/pages/professionals/carousel.png"),
					},
					{
						name: "Nombre_profesional",
						cargo:"Cargo_profesional",
						img: require("@/assets/pages/professionals/carousel.png"),
					},
					{
						name: "Nombre_profesional",
						cargo:"Cargo_profesional",
						img: require("@/assets/pages/professionals/carousel.png"),
					}
				]
			},
		],
		items_emprendedores: [
			{
				imgs: [
					{
						name: "Nombre_emprendedor",
						cargo:"Cargo_emprededor",
						img: require("@/assets/pages/professionals/carousel.png"),
					},
					{
						name: "Nombre_emprendedor",
						cargo:"Cargo_emprededor",
						img: require("@/assets/pages/professionals/carousel.png"),
					},
					{
						name: "Nombre_emprendedor",
						cargo:"Cargo_emprededor",
						img: require("@/assets/pages/professionals/carousel.png"),
					},
					{
						name: "Nombre_emprendedor",
						cargo:"Cargo_emprededor",
						img: require("@/assets/pages/professionals/carousel.png"),
					}
				]
			},
			{
				
				imgs: [
					{
						name: "Nombre_emprendedor",
						cargo:"Cargo_emprededor",
						img: require("@/assets/pages/professionals/carousel.png"),
					},
					{
						name: "Nombre_emprendedor",
						cargo:"Cargo_emprededor",
						img: require("@/assets/pages/professionals/carousel.png"),
					},
					{
						name: "Nombre_emprendedor",
						cargo:"Cargo_emprededor",
						img: require("@/assets/pages/professionals/carousel.png"),
					},
					{
						name: "Nombre_emprendedor",
						cargo:"Cargo_emprededor",
						img: require("@/assets/pages/professionals/carousel.png"),
					}
				]
			},
		],
		
	}),
	mounted() {
		this.onResize()
		window.addEventListener('resize', this.onResize, { passive: true })
	},

	methods: {

		onResize() {

			if (window.innerWidth < 900) {
				this.font_size_title = "220%"

			} else if (window.innerWidth > 1650) {
				this.max_width = "1440px !important";
				this.font_size_title = "423%"
			}
			else {

				this.max_width = "1000px !important";
				this.font_size_title = "320%"

			}
		}
	},
});
</script>

<style scoped>
.v-window__prev, .v-window__next{
	background:rgba(0,0,0,0) !important;
  }
  .imgItemCarouselProfesionals{
	position:relative;
  }
  
  .imgItemCarouselProfesionals + div{
	position:absolute;
	background-color: rgba(0,0,0,0.3);
	width: 25%;
	height: 100%;
	z-index: 10;
  }
  .imgItemCarouselProfesionals + div .containerTextmgItemProfesionals{
	position:absolute;
	bottom: 10%;
	width: 100%;
	text-align: center;
	font-size: 85%;
  }
  .imgItemCarouselProfesionals + div:hover .containerTextmgItemProfesionals{
	bottom: 40%;
	transition-duration: .6s;
  }
  .imgItemCarouselProfesionals + div:hover{
	background-color: transparent;
	transition-duration: .3s;
  }
  .imgItemCarouselProfesionals + div:hover .containerTextmgItemProfesionals h3{
	font-size: 110%;
	transition-duration: .6s;
  }
  

</style>