<template>
	<div>
		<v-container fluid class="mt-15 sect6_content" :style="{ 'height': video.height_section }">
			<v-row aling="center" justify="center" class="text-justify mt-6">
				<v-col cols="12" sm="12" md="8">
					<h1 class="white--text text-center" :style="{ 'font-size': '240%' }">{{ video.title }}</h1>
					<div class="arrow-down_white mt-5 text-center"></div>

				</v-col>
				
				<!-- font-size: 320%; -->
			</v-row>
			<v-row>
				<v-container>
					<v-row justify="center" style="padding-left:4rem;">
						<v-col cols="8" class="text-center">
							<p :style="{ 'font-size': video.font_content }" :class="video.content_width"
								class="mt-10 white--text text-center">{{
									video.content
								}}</p>
						</v-col>
					</v-row>
					<v-row style="padding-left:6rem;" justify="center" align="center">
						<v-dialog v-model="video.dialog" persistent max-width="850">
							<template v-slot:activator="{ on, attrs }">
								<v-img max-height="750" max-width="750"
									:style="{ 'max-height': '750px', 'max-width': '750px' }" :src="video.portada">
									<v-btn @click="video.stop = false" color="transparent"
										style="width: 100% !important; height:100% !important" dark v-bind="attrs" v-on="on">
										<!-- Open Modal -->
									</v-btn>
								</v-img>
							</template>
							<v-card v-if="!video.stop">
								<!-- Para videos de host que no sean youtube, o local -->
								<!-- <video controls :class="video_content">
													<source type="video/mp4" src="RUTA_VIDEO" />
											</video> -->
								<!--
									<Embed src="https://www.youtube.com/watch?v=NMNBTjxGqpc&ab_channel=NightVibes"></Embed>	
								-->
								
								<iframe width="100%" height="450" :src="video.video_link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

								<v-card-actions>
									<v-spacer></v-spacer>
									<v-btn color="primary" text @click="video.dialog = false, video.stop = true">
										Cerrar
									</v-btn>
								</v-card-actions>
							</v-card>
						</v-dialog>
					</v-row>
						
				</v-container>
				<div style="border-radius:20px; background-color:white; margin-top:5%; height:525px; width:50px; position:absolute; right:5%;">
					
				</div>
				<div>
					<v-img v-for="icon in icons_divider" @click="dividerChange(icon)" :src="icon.icon_src" class="icon_nav_divider"></v-img>
				</div>
			</v-row>
		</v-container>
		
	</div>
</template>

<script lang="ts">
import Vue from "vue";
import Embed from '../../../node_modules/v-video-embed/src/embed.vue';

export default Vue.extend({
	name: "video_about1",
	components: {
		Embed
	},
	data: () => ({
		icons_divider: [
          {
            icon_src: require("@/assets/icons/avion_1.webp"),
            portada: require("@/assets/portada_video_8.png"),
			title: "Nuria Ríos – Tripulante de Cabina Senior",
			content: "Nuestra egresada de Aviación Comercial, Nuria Ríos, nos cuenta sobre su experiencia siendo tripulante de cabina en una prestigiosa aerolínea.",
			video_link:"https://www.youtube.com/embed/uzB_bVqXgLU"

          },
          {
            icon_src: require("@/assets/icons/chef_outline.webp"),
            portada: require("@/assets/portada_video_9.png"),
			title: "Vladimir Rojas – Jefe de cocina",
			content: "Nuestro egresado de Alta Cocina nos comparte su experiencia como Jefe de Cocina en el importante Hotel 5 estrellas Hyatt Centric Lima.",
			video_link:"https://www.youtube.com/embed/uzB_bVqXgLU"
          },
          {
            icon_src: require("@/assets/icons/edificio.webp"),
            portada: require("@/assets/portada_video_3.png"),
			title: "Rosalí Barboza – Pasantía en OHLA Barcelona",
			content: "Conoce el testimonio de nuestra alumna Rosalí Barboza, quien realizó sus prácticas en el hotel 5 estrellas OHLA, en Barcelona.",
			video_link:"https://www.youtube.com/embed/uzB_bVqXgLU"
          }
        ],
		video:{
			portada: require("@/assets/portada_video_8.png"),
			stop: false,
			height_section: "",
			font_title: "",
			dialog: false,
			video_content: "video_content",
			content_width: "",
			font_content: "",
			height_img: "750px",
			width_img: "750px",
			title: "Nuria Ríos – Tripulante de Cabina Senior",
			content: "Nuestra egresada de Aviación Comercial, Nuria Ríos, nos cuenta sobre su experiencia siendo tripulante de cabina en una prestigiosa aerolínea.",
			video_link:"https://www.youtube.com/embed/uzB_bVqXgLU"
		},
		video_1: {
			portada: require("@/assets/portada_video_8.png"),
			stop: false,
			height_section: "",
			font_title: "",
			dialog: false,
			video_content: "video_content",
			content_width: "",
			font_content: "",
			height_img: "750px",
			width_img: "750px",
			title: "Nuria Ríos – Tripulante de Cabina Senior",
			content: "Nuestra egresada de Aviación Comercial, Nuria Ríos, nos cuenta sobre su experiencia siendo tripulante de cabina en una prestigiosa aerolínea.",

		},
	}),
	mounted() {
		this.onResize()
		window.addEventListener('resize', this.onResize, { passive: true })
	},
	methods: {

		onResize() {
			if (window.innerWidth <= 600) {
				this.video.video_content = "video_content_sm"
				this.video.width_img = "550px !important"
				this.video.height_img = "550px !important"

			} else if (window.innerWidth > 1650) {
				this.video.height_section = "1000px !important"
				this.video.video_content = "video_content"
				this.video.font_title = "423% !important"
				this.video.content_width = "content_width_video_lg"
				this.video.font_content = "106% !important"
				this.video.width_img = "750px !important"
				this.video.height_img = "750px !important"


			}
			else if (window.innerWidth > 1000 && window.innerWidth <= 1200) {
				this.video.height_section = "800px !important"
			}
			else if (window.innerWidth > 800 && window.innerWidth < 1000) {
				this.video.height_section = "950px !important"
			}
			else {
				this.video.font_title = "320% !important"
				this.video.content_width = "content_width_video_md"
				this.video.font_content = "110% !important"
				this.video.height_section = "1000px !important"
				this.video.width_img = "750px !important"
				this.video.height_img = "750px !important"
			}
		},
		dividerChange(obj:any):void{
			this.video.portada = obj.portada;
			this.video.title = obj.title;
			this.video.content = obj.content;
			this.video.video_link = obj.video_link
		},
	}
});
</script>

<style scoped>
.embed-responsive-item {

	width: 100% !important;
	height: 400px !important;
}

.content_width_video_lg {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.content_width_video_md {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width:1940px){
	.icon_nav_divider{
		width: 70px;
		height: 70px;
	}
	.icon_nav_divider{
		margin-top: 160%;
		margin-left: -145%;
	}
}
@media screen and (max-width:1368px){
	.icon_nav_divider{
		width: 70px;
		height: 70px;
	}
	.icon_nav_divider{
		margin-top: 150%;
		margin-left: -140%;
	}
}
</style>