<template>
    <section class="pt-10 pb-4" style="margin-top: 140px; background-color:#f4f4f4;">
        <v-container fluid class="mb-10">
            <v-row  justify="center">
                <v-col cols="12" sm="12" md="4">
                    <v-row justify="center" class="pa-7">
                        <v-img src="@/assets/pages/page_5/banner4.webp" class="imgRightBannerCard"></v-img>
                    </v-row>
                    
                </v-col>
                <v-col cols="12" md="5">
                    
                    <v-row justify="end">
                        <h1 class="leftTittleBannerCard">{{
                            banner.title
                        }}</h1>
                    </v-row>
                    <v-row style="">
                        <v-divider class="items_line_card_1"></v-divider>
                            <div 
                                class="text_bar_divider text-uppercase font-weight-black white--text">{{ banner.subtitle }}
                            </div>
                            <v-img class="circulo_s" src="@/assets/icons/copa.svg"></v-img>
                    </v-row>
                    <v-row class="bannerCardContentContainer">
                        <p class="text-justify grey--text bannerCardContent">
                            {{ banner.content }}
                        </p>
                    </v-row>
                    <v-row>
                        <h2 class="blue_text--text bannerCardDuration">Duracion: {{
                            banner.duration
                        }}</h2>
                    </v-row>
                    <v-row>
                        <v-btn class="white--text font-weight-regular btn_crd_banner px-4"
                            style="border-radius: 8px; background-color: #dbbd00;"
                            v-bind:to="'/educative_offer4'"
                            >
                            Conoce Más
                        </v-btn>
                    </v-row>
                </v-col>
                <!--
                <v-col cols="12" sm="12" md="5" class="leftContentBannerCard" style="background-color:red;" >
                    <v-card color="transparent" flat>
                        <v-card-content>
                            <v-card-text class="text-right mb-2 card_tittle_offerColumb">
                                <h1 class="blue_text--text leftTittleBannerCard">{{
                                    banner.title
                                }}</h1>
                            </v-card-text>
                            <v-divider class="items_line_card_1"></v-divider>
                            <div 
                                class="text_bar text-uppercase font-weight-black white--text">{{ banner.subtitle }}
                            </div>
                            <v-img :class="lg_btn_circle" class="circulo_s" src="@/assets/icons/structure.svg"></v-img>
                        </v-card-content>
                        <v-row class="mt-12">
                            <v-col cols="12" class="mt-6 bannerCardContentContainer">
                                <v-row>
                                    <h3 class="font-weight-regular grey--text text-justify bannerCardContent">
                                        {{ banner.content }}
                                    </h3>
                                </v-row>
                                    
                                <div class="mt-3">
                                    <h2 class="blue_text--text bannerCardDuration">Duracion: {{
                                        banner.duration
                                    }}</h2>
                                    <v-btn class="white--text font-weight-regular btn_crd_banner px-4"
                                        style="border-radius: 8px; background-color: #003c91;">
                                        Conoce Más
                                    </v-btn>
                                </div>
                            </v-col>
                        </v-row>
                    </v-card>
                </v-col>
                -->
            </v-row>
        </v-container>
    </section>

</template>
    
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    name: "EduOffer3",

    data: () => ({
        btn_crd: "",
        font_size_title: "",
        font_size_text: "",
        ml_col: "",
        ml_text: "",
        height_container: "",
        height_img_offer:'',
        fluid_container:false,
        font_size_sub: "",
        lg_btn_circle:"",
        banner: {
            title: "Bartender Internacional",
            subtitle: "PROGRAMA DE FORMACIÓN CONTINUA",
            content: "La búsqueda de nuevos talentos en la preparación de cócteles y bebidas aumenta cada día. En Columbia te enseñamos a desarrollar tus habilidades para que te conviertas en un maestro de la coctelería nacional e internacional.",
            duration: "8 meses",
        }
    }),
    mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },
    methods: {

        onResize() {
            
            if (window.innerWidth > 1650) {
                this.font_size_title = "430% !important"
                this.font_size_text = "159% !important"
                this.ml_text = "117px !important"
                this.ml_col = "67px"
                this.btn_crd = "btn_crd"
                this.height_container = "700px"
                this.height_img_offer='100%'
                this.fluid_container=true,
                this.font_size_sub = "132% !important"
                this.lg_btn_circle ="lg_btn_circle"
            } else if (window.innerWidth > 1400) {
                this.ml_text = "9vh !important"
            }
            else {
                this.font_size_title = "350% !important"
                this.font_size_text = "99% !important"
                this.ml_text = "-25px"
                this.ml_col = "43px"
                this.btn_crd = ""
                this.height_container = ""
                this.height_img_offer='80%'
                this.font_size_sub = ""
                this.lg_btn_circle =""
            }
        }
    }
});
</script>

<style scoped>
.card_tittle_offerColumb{
    margin-left:1.8rem;
}
.items_line_card {
    position: absolute;
    width: 80%;
    margin-left: 29px !important;
    border: solid 15px !important;
    border-radius: 6px;
    border-color: #6200ea !important;
}

.font_section_TC {
    font-size: 50px !important;
    line-height: normal !important;
    
}

.circulo_s {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    margin-top: -33px;
}
.leftTittleBannerCard{
    color:#0077ff;
}

.text_bar_divider {
    width: 97%;
    z-index: 10;
    margin-top: .2rem;
    text-align: right;
}
.btn_crd_banner {
    text-transform: unset !important;
    font-size: 3vh !important;
}
.bannerCardContent{
    font-size: 2.2vh;
}
@media  screen and (max-width: 1920px) {
    .text_bar_divider {
        margin-top: .4rem;
    }
    .card_tittle_offerColumb{
        margin-left:1.2rem;
    }
    .btn_crd_banner {
        font-size: 2vh !important;
        margin-top:5%;
    }
    
    .leftContentBannerCard{
        margin-top: .7%;
    }
    .leftTittleBannerCard{
        font-size: 5.3vh;
        margin-bottom: 3%;
    }
    .bannerCardContent{
        font-size: 1.9vh;
    }
    .bannerCardContentContainer{
        margin-top: 12%;
    }
    
}
@media screen and (max-width:1368px){
    .btn_crd_banner {
        font-size: 2.5vh !important;
        margin-top: 5%;
    }
    .text_bar_divider {
        margin-top: .3rem;
        
    }
    .bannerCardContent{
        font-size: 2.5vh;
        
    }
    .leftTittleBannerCard{
        margin-top:-2%;
        font-size: 6.1vh;
    }
    .bannerCardContentContainer{
        margin-top:17%;
    }
    .bannerCardDuration{
        font-size: 3vh;
    }
}
</style>