<template>
    <section id="bannerIMG">
        <v-row no-gutters style="height:100%;">
            
        </v-row>
    </section>
    <!--
    <div>
        <section class="" style="margin-top: 37px;">
            <v-img  :class="height_class" :src=img></v-img>
        </section>
        <v-container class="mt-10">
            <v-row cols="12" justify="center">
                <p class="text-justify grey--text pa-16" :style="{'font-size': font_size }">
                    {{ text }}
                </p>
            </v-row>
        </v-container>
    </div>
-->
</template>
    
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    name: "EduOffer1",

    data: () => ({
        font_size: "",
        height_class:"",
        img: require("@/assets/pages/page_5/banner1.jpg"),
        text: "Viajar, descansar, disfrutar, divertirse y pasarlo bien es atractivo para todos. Muchas personas desean                     experimentar el contacto con la naturaleza, el clima, las sensaciones, los sabores, los colores y las atracciones que                     ofrecen otros países. El mundo está volviendo a entrar en movimiento y las inversiones en la industria de los Viajes                     y la Hospitalidad no han parado, para ello se requerirán profesionales competitivos, capaces de adaptarse a las                     nuevas exigencias de la industria."
    }),
    mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },
    methods: {


		onResize() {
            console.log(window.innerWidth)
			if (window.innerWidth <= 800) {
                console.log("entro aca")
				this.font_size="250% !important"
                this.height_class="section_img_md"

			} else if ( window.innerWidth > 1650) {
                this.height_class="section_img"
                this.font_size="550% !important"
                this.font_size ="166% !important"
			}
			else if( window.innerWidth > 801 &&  window.innerWidth < 1650) {
                this.height_class="section_img_md"
                this.font_size="380% !important"
                this.font_size="110% !important"
                
			}
		}

    }
});
</script>

<style scoped>
    #bannerIMG{
        background-image: url("@/assets/pages/page_5/banner1.jpg");
        background-size: cover;
        width:100%;
   }    
   @media screen and (max-width:1940px) {
        #bannerIMG{
            height: 550px;
            margin-top: 4%;    
        }
   }
   @media screen and (max-width:1368px) {
        #bannerIMG{
            height: 450px;
            margin-top: 4%;    
        }
   }   
</style>