<template>
  <v-container fluid class="pa-16">
    <v-row aling="center" justify="center">
      <v-col cols="10">
        <v-row aling="center" justify="space-around" class="mt-2">
          <v-col cols="12" sm="12" md="3" class="text-center" v-for=" feature in features">
            <v-hover v-slot:default="{ hover }">
              <v-card class="card bc_rounded" shaped :elevation="hover ? 10 : 0" :class="{ up: hover }">
                <v-img :src="feature.img"> </v-img>
                <v-row style="padding:18px !important; height: 135px;">
                  <v-card-text class="text-cente content_text_feature" width="100" style="min-height: 150px !important; 
																	line-height: 1 !important; align-content: center;">
                      <p class="mt-4">{{ feature.text }} </p>
                    </v-card-text>
                </v-row>
								<v-btn :color="feature.bt_color" style=" border-radius: 14px !important;   
                                height: 42px!important;
                                margin-bottom: -20px;
                                text-transform: unset !important;" 
                                class=" white--text bt_info_offer"
                                v-bind:to="feature.btn_link">
                    <strong> {{ feature.btn_text }}</strong>
                  </v-btn>
              </v-card>
            </v-hover>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
    
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "EduOffer2",
  data: () => ({
    font_size:"",
    font_btn:"",
    features: [
      {
        img: require("@/assets/pages/page_5/card1.png"),
        text: "Hotelería Internacional",
        link: "",
        btn_text: "Más Información",
        bt_color:"primary",
        btn_link:'/educative_offer2'
      },
      {
        img: require("@/assets/pages/page_5/card2.png"),
        text: "Alta Cocina",
        link: "",
        btn_text: "Más Información",
        bt_color:"orange",
        btn_link:'/educative_offer3'
      },
      {
        img: require("@/assets/pages/page_5/card3.png"),
        text: "Bartender",
        link: "",
        btn_text: "Más Información",
        bt_color:"#dbbd00",
        btn_link:'/educative_offer4'
      },
      {
        img: require("@/assets/pages/page_5/card4.png"),
        text: "Pastelería y Panadería",
        link: "",
        btn_text: "Más Información",
        bt_color:"#f8c100",
        btn_link:'/educative_offer5'
      },
    ],
  }),
  mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },
    methods: {

        onResize() {
            if (window.innerWidth > 1650) {
                this.font_size ="166% !important"
                this.font_btn  ="130% !important"
            }
            else {
                this.font_size="110% !important"
                this.font_btn  ="110% !important"
            }
        }
    }
});
</script>

<style scoped>

@media screen and (max-width:1940px){
  .bt_info_offer{
    font-size: 100%;
  }
  .content_text_feature{
    font-size: 140%;
  }
}
@media screen and (max-width:1368px){
  .bt_info_offer{
    font-size: 85%;
  }
  .content_text_feature{
    font-size: 115%;
  }
}
</style>