<template>
<div  class="sect2_content">

  <v-container :class="fluid" :style="{'min-height':height}">
    <v-row no-gutters aling="center" justify="center">
      <v-col cols="10" :class="mt16">
        <v-row aling="center" justify="center" class="mt-16">
          <v-col cols="12" sm="4" md="3" class="text-center" v-for="(feature, i) in features" :key="i">
            <v-hover v-slot:default="{ hover }">
              <v-card style="height: 262px !important;"
                class="card bc_rounded text-left pad_card content_tra text-center" shaped :elevation="hover ? 2 : 0"
                :class="{ up: hover, white: hover }">
                <v-row class="mt-1" justify="center">
                  <v-btn :class="{ round_cd_btn: hover,blue:hover }" class="blue--text white" fab min-width="80" min-height="80"
                    dark :elevation="hover ? 0 : 0">
                    <!-- <v-icon :class="{ icon_cd: hover }" dark size="60">
                      mdi-update
                    </v-icon> -->
                    <span :class="[{ icon_cd: hover  }, feature.icon]"   style="font-size: 85px;"></span>
                  </v-btn>
                </v-row>
                <h2 class="ct_sect2 font-weight-regular white--text"><span :class="{hover_title : hover }">{{
                  feature.title
                }}</span></h2>
              </v-card>

            </v-hover>
          </v-col>
        </v-row>
      </v-col>
    </v-row>



  </v-container>
</div>
</template>
    
<!-- 

icon-recurso-61
icon-bag
icon-like
icon-medal
icon-structure
icon-class
icon-hat

 -->
<script lang="ts">
import Vue from "vue";
import Bag from '@/assets/icons/bag.vue';

export default Vue.extend({
  name: "AboutViewSection2",
  components: {
        Bag,

    },
  data: () => ({
    height:"",
    mt16:"",
    fluid:"",
    features: [
      {
        icon: "icon-like",
        title: "Prestigio",
      },
      {
        icon: "icon-medal",
        title: "Instituto Licenciado",
      },
      {
        icon: "icon-structure",
        title: "Infraestructura",
      },
      {
        icon: "icon-planet_air",
        title: "Programa de aprendizaje vivencial",
      },
      {
        icon: "icon-bag",
        title: "Proceso de selección interno",
      },
      {
        icon: "icon-class",
        title: "Plana docente especializada",
      },
      {
        icon: "icon-hat",
        title: "Formación Integral",
      },
    ],
  }),
  mounted() {
        this.onResize();
        window.addEventListener("resize", this.onResize, { passive: true });
    },
    methods: {
        onResize() {

            if (window.innerWidth > 1650) {
              this.mt16="mt-16"
              this.height="853px"
              this.fluid="container"
            } else {
              this.height="712px"
              this.mt16=""
              this.fluid ="container--fluid"
            }
   
        }
    }
});
</script>

<style>
.sect2_content {
  background: linear-gradient(to top, #5d26b9, #643ac1, #1854e6, #1857ec);
}
.blue{
  background-color : #5d26b9;
}
.ml-75 {
  margin-left: 75px !important;
}

.ct_sect2 {
  font-size: 24px !important;
  line-height: normal !important;
  margin-top: 45px !important;
}
.round_cd_btn {
  background-color: #0077ff !important;
  border-color: #0077ff !important;
}

.icon_cd {
  color: #fff !important;
}

.hover_title{
 color: #2196F3 !important;
}

</style>