<template>
    <section id="bannerIMG">
        <v-row style="height:100%;" align="center">
            <v-col cols="12" >
                <v-content class="text-center">
                    <h1 class="white--text bannerTittle_offer">¿Por qué <strong
                        class="font-italic">COLUMBIA?</strong></h1>
                </v-content>
            </v-col>
        </v-row>
    </section>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    name: "AboutViewSection1",
    data: () => ({
        height_class:"",
        margin_top:"",
        font_size:"",
        img: require("@/assets/pages/page_2/banner.png")
    }),
	mounted() {
		this.onResize()
		window.addEventListener('resize', this.onResize, { passive: true })
	},

	methods: {
        // font-size: 351% !important;
		onResize() {
            console.log(window.innerWidth)
			if (window.innerWidth <= 800) {
                console.log("entro aca")
				this.font_size="250% !important"
                this.margin_top="160px !important"
                this.height_class="section_img_md"

			} else if ( window.innerWidth > 1650) {
                this.height_class="section_img"
                this.margin_top="250px !important"
                this.font_size="550% !important"
			}
			else if( window.innerWidth > 801 &&  window.innerWidth < 1650) {
                this.height_class="section_img_md"
                this.margin_top="165px !important"
                this.font_size="380% !important"
                
			}
		}
	},
});
</script>
<style scoped>
#bannerIMG{
    background-image: url("@/assets/pages/page_2/banner.png");
    background-size: cover;
    width:100%;
}    
@media screen and (max-width:1940px) {
    #bannerIMG{
        height: 55vh;
        margin-top: 4%;    
    }
    .bannerTittle_offer{
        font-size: 450%;
    }
}
@media screen and (max-width:1368px) {
    #bannerIMG{
        height: 75vh;
        margin-top: 4%;    
    }
    .bannerTittle_offer{
        font-size: 450%;
    }
}
</style>