   
<template>
    <v-container  >
        <v-row class="pa-6">
            <v-col cols="12" sm="12" md="5" class="offset-md-1" justify :class="pa1">
                <v-card  outlined class="white--text card_sec1 delete_border content_tra" :style="{'margin-left':margin_card}">
                    <row justify="center" >
                        <v-layout column align-start class="my-6" :class="margin_left">
                            <h1 :style="{'font-size':font_title}" class="blue_text--text font_section_titles half-underline mb-6">{{ title }}</h1>
                            <h3 :style="{'font-size':font_content}" class="black--text text-justify font-weight-regular mt-6">{{ text }}</h3>
                        </v-layout>
                    </row>
                </v-card>
            </v-col>
            <v-col  cols="12" sm="12" md="5" :hidden="hidde">
                <v-img class="mt-8" src="@/assets/pages/page_2/banner2.webp"></v-img>
            </v-col>
        </v-row>
    </v-container>
</template>


<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    name: "AboutViewSection3",
    data: () => ({
        margin_card:"",
        font_title:"",
        font_content:"",
        pa1: "pa-8",
        margin_left:"ml-6",
        hidde: false,
        title: 'Prestigio',
        text: 'Somos una institución educativa que ofrece educación de calidad en la industria de los viajes, el turismo, la hotelería, la alta cocina, los idiomas y las tecnologías. Estamos seguros de que nuestra experiencia y tu talento se complementarán y harán de ti un profesional destacado y exitoso.'
    }),
    mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },
    methods: {

        onResize() {
            if (window.innerWidth <= 600) {

                this.pa1 = "pa-0"
                this.hidde = true
                this.margin_left ="ml-0"
                this.margin_card = ""


            }else if (window.innerWidth >  1650){
                this.font_title="423% !important"
                this.font_content="165% !important"
                this.margin_card = "-68px !important"
            } 
            else {
                this.pa1 = "pa-10"
                this.hidde = false
                this.margin_left ="ml-1"
                this.font_title=""
                this.font_content="unset !important"
                this.margin_card = "-55px !important"
            }
        }
    }

});
</script>

<style>

</style>