<template>
    
    <v-container :fluid="{container_size}" class="mt-12">
        <v-row align="center" justify="center" >
            <v-col cols="4" class="">
                <h1 :style="{'font-size':font_title}" class="blue_text--text font_section_titles half-underline mb-6">{{ title }}</h1>
                <p :style="{'font-size':font_content, 'padding-right':pad_content}" class="text-justify">{{ text }}</p>
            </v-col>
            <v-col md="5">
                <v-img :style="{'height':img_max_height, 'width':img_max_width}" class="mt-8" src="@/assets/pages/page_2/banner2.webp"></v-img>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    name: "AboutViewSection6",
    data: () => ({
        margin_card:"",
        font_title:"",
        font_content:"",
        pa1: "pa-8",
        margin_left: "ml-6",
        hidde: false,
        title: 'Proceso de seleccón interno',
        text: 'Asesoramiento para una rápida inserción en el mercado laboral, gracias a nuestros convenios y alianzas estratégicas.',
        pad_content:'3rem',
        img_max_height:'auto',
        img_max_width:'auto',
        container_size:false,
    }),
    mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },
    methods: {

        onResize() {
            if (window.innerWidth <= 600) {

                this.pa1 = "pa-0",
                this.hidde = true,
                this.margin_left ="ml-0",
                this.img_max_height='300px'
                this.img_max_width='100%'


            }else if (window.innerWidth >  1650){
                this.font_title="310% !important"
                this.font_content="125% !important"
                this.margin_card = "-68px !important"
                this.img_max_height='400px'
                this.img_max_width='100%'
                this.container_size=true
            }  else {
                this.pa1 = "pa-8",
                this.hidde = false,
                this.margin_left ="ml-6"
                this.font_title="250% !important"
                this.font_content="unset !important"
                this.margin_card = "-55px !important"
                this.img_max_height='350px'
                this.img_max_width='100%'
            }
        }
    }
});
</script>