<template>
    <div  style="background-color: #f4f4f4;"    >

        
        <v-container :fluid="{container_size}" class="mt-12">
            <v-row align="center" justify="center" >
                <v-col md="5">
                    <v-img :style="{'height':img_max_height, 'width':img_max_width}" class="mt-8" src="@/assets/pages/page_2/banner6.webp"></v-img>
                </v-col>
                <v-col cols="4" class="text-right">
                    <h1 :style="{'font-size':font_title}" class="blue_text--text font_section_titles half-underline_r mb-6">{{ title }}</h1>
                    <p :style="{'font-size':font_content, 'padding-left':pad_content}" class="text-justify">{{ text }}</p>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>
    
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    name: "AboutViewSection7",
    data: () => ({
        font_title: "",
        font_content: "",
        mt_card:"",
        margin_layout:"",
        align: "text-right",
        margin_left: "ml-10",
        pa1: "pa-16",
        pa2: "pa-12",
        pa3: "pa-3",
        hidde: false,
        title: 'Plana docente especializada',
        text: 'Contamos con profesores especializados, y que actualmente se encuentran laborando en el rubro.',
        pad_content:'3rem',
        img_max_height:'auto',
        img_max_width:'100%',
        container_size:false,
    }),
    mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },

    methods: {

        onResize() {

            if (window.innerWidth <= 600) {
                this.margin_left = "ml-0",
                    this.pa1 = "pa-6",
                    this.pa2 = "pa-0",
                    this.pa3 = "pa-4",
                    this.hidde = true,
                    this.align = "text-justify"
                    this.margin_layout =""
                    this.font_title="366% !important"
                    this.img_max_height='300px'

            }  else if (window.innerWidth > 1650) {
                this.font_title = "320% !important"
                this.font_content = "125% !important"
                this.mt_card ="mt-16"
                this.margin_layout ="46px"
                this.img_max_height='400px'
                
                this.container_size=true

            }else {
                this.margin_left = "ml-10",
                    this.pa1 = "pa-16",
                    this.pa2 = "pa-12",
                    this.hidde = false,
                    this.align = "text-right",
                    this.pa3 = "pa-3"
                    this.font_title = "250% !important"
                    this.font_content = ""
                    this.mt_card ="mt-1"
                    this.margin_layout ="46px"
                    this.img_max_height='350px'

            }
        }
    },
});
</script>