<template>
    <v-container fluid class="mt-15 sect6_content" :style="{ 'height': height_section }">
        <v-row aling="center" justify="center" class="text-justify mt-6">
            <v-col cols="12" sm="12" md="6">
                <h1 class="white--text text-center" :style="{ 'font-size': font_title }">{{ title }}</h1>
                <div class="arrow-down text-center"></div>

            </v-col>
            <v-col cols="12" sm="12" md="12">
                <p :style="{ 'font-size': font_content }" :class="content_width" class="mt-10 white--text text-center">
                    {{ content }}</p>
            </v-col>
            <!-- font-size: 320%; -->
        </v-row>
        <v-row justify="center mt-12">
            <v-dialog v-model="dialog" persistent max-width="850">
                <template v-slot:activator="{ on, attrs }">
                    <v-img max-height="750" max-width="750"
                        :style="{ 'max-height': height_img, 'max-width': width_img }"
                        src="@/assets/portada_video_1.png">
                        <v-btn @click="stop = false" color="transparent"
                            style="width: 100% !important; height:100% !important" dark v-bind="attrs" v-on="on">
                            <!-- Open Modal -->
                        </v-btn>
                    </v-img>
                </template>
                <v-card v-if="!stop">
                    <!-- Para videos de host que no sean youtube, o local -->
                    <!-- <video controls :class="video_content">
                        <source type="video/mp4" src="RUTA_VIDEO" />
                    </video> -->
                    <Embed src="https://www.youtube.com/watch?v=NMNBTjxGqpc&ab_channel=NightVibes"></Embed>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" text @click="dialog = false, stop = true">
                            Cerrar
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
    </v-container>

</template>
<!-- style="color: #bed6f6;" -->
<script lang="ts">
import Vue from "vue";
import Embed from '../../../node_modules/v-video-embed/src/embed.vue';

export default Vue.extend({
    name: "video_about1",
    components: {
        Embed
    },
    data: () => ({
        stop: false,
        height_section: "",
        font_title: "",
        dialog: false,
        video_content: "video_content",
        content_width: "",
        font_content: "",
        height_img: "750px",
        width_img: "750px",
        title: "Programa de aprendizaje vivencial",
        content: "Realizamos viajes nacionales e internacionales para fortalecer el conocimiento práctico de nuestros estudiantes, para otorgarles una mirada mucho más amplia del manejo de los servicios que el cliente busca para vivir una experiencia de viaje mucho más completa.",

    }),
    mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },
    methods: {

        onResize() {
            if (window.innerWidth <= 600) {
                this.video_content = "video_content_sm"
                this.width_img = "550px !important"
                this.height_img = "550px !important"


            } else if (window.innerWidth > 1650) {
                this.height_section = "1100px !important"
                this.video_content = "video_content"
                this.font_title = "423% !important"
                this.content_width = "content_width_video_lg"
                this.font_content = "166% !important"
                this.width_img = "750px !important"
                this.height_img = "750px !important"
            } else {
                this.font_title = "320% !important"
                this.content_width = "content_width_video_md"
                this.font_content = "110% !important"
                this.height_section = "1000px !important"
                this.width_img = "750px !important"
                this.height_img = "750px !important"
            }
        }
    }
});
</script>

<style scope>
.embed-responsive-item {

    width: 100% !important;
    height: 400px !important;
}

.content_width_video_lg {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.content_width_video_md {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
</style>