/* Archivo Main CSS con todos los estilos añadidos para la creacion de esta WebSite */

.btn_banner_eduoffer{
  border-radius: 10px;
  /*padding:.5rem !important;
  */
  font-weight: normal;
  text-transform: unset !important;
  font-size: 1rem !important;
}

.half-underline {

  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

.half-underline:before {
  content: "";
  position: absolute;
  width: 110px;
  top: 110%;
  height: 2px;
  bottom: 0;
  /*top:-1px;*/
  left: 0%;
  border-bottom: .4vh solid #0077ff;
}

.half-underline-white {

  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

.half-underline-white:before {
  content: "";
  position: absolute;
  width: 110px;
  top: 110%;
  height: 2px;
  bottom: 0;
  /*top:-1px;*/
  left: 0%;
  border-bottom: .4vh solid #fff;
}

.half-underline_r {

  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

.half-underline_r:before {
  content: "";
  position: absolute;
  width: 160px;
  top: 110%;
  height: 2px;
  bottom: 0;
  /*top:-1px;*/
  right: 0%;
  border-bottom: .4vh solid #0077ff;
}


.bc_rounded {
  border-radius: 24px 24px 24px 24px !important;
  min-height: 250px !important;
  background-color: #fafafa !important;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
}


.sect6_content {
  background: linear-gradient(to right, #6732bf, #225cea, #225cea, #6732bf);
  height: 750px;
}
.video_content_bg{
  background: linear-gradient(to right, #6732bf, #225cea, #225cea, #6732bf);
  padding-top: 10%;
  padding-bottom: 10%;
}
.video_content_bg_2{
  padding-top: 10%;
  padding-bottom: 10%;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 20px solid #fff;
  margin: auto;
}
main{
  /*font-family: "Roboto", sans-serif !important; */
  font-family: 'Poppins', sans-serif;

}
.video_content {
  width: 80%;
  margin-left: 70px;
  margin-top: 50px;
}

.video_content_sm {
  width: 100%;
  margin-top: 50px;

}

.section_img {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 600px;
 
 
}
.section_img_md {
  background-size: cover;
  background-position: center;
  
  height: 57vh;
}
.section_img_sm {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 720px;
}
.card_sec1 {
  border-radius: 16px 16px 16px 16px !important;
}

.card_home {
  filter: drop-shadow(20px 0px 1px #39126c6c);
}
 
.carousel-divier {
  background: linear-gradient(white, white) padding-box, linear-gradient(to top, #aa36e3, #053ab7, #066df0) border-box !important;
  border-radius: 15px !important;
  border: 20px solid transparent !important;
}
.h1_card_sect1 {

  line-height: 40px;
}

.h4_card {
  max-width: 225px;
}

.card_home:after {

  content: "";
  position: absolute;
  left: 96.8%;
  top: 0px;
  background: #6200ea;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 100%, 30% 50%, 0% 0%);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.v-img_card {
  height: 300px;
  width: 350px;
}

@media only screen and (max-width: 600px) {
  .card_home:after {
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
  }

  .card_home {
    max-width: 316px !important;
  }
}
@media only screen and (min-width: 1651px) {
  .half-underline:before{
    width: 140px;
  }
  .half-underline_r:before {
    
    width: 200px;
  }
}


.btn-play {
  transition: 0.2s;
}

.svg-border-waves .v-image {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  overflow: hidden;
}

#hero {
  z-index: 0;
}

.svg-border-waves img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: -2px;
  z-index: -1;
}

.card {
  min-height: 300px;

  transition: 0.5s ease-out;
}

.card .v-image {
  margin-bottom: 15px;
  transition: 0.75s;
}

.card h1 {
  margin-bottom: 10px;
}

.zoom-efect {
  transform: scale(1.1);
}

.up {
  transform: translateY(-20px);
  transition: 0.5s ease-out;
}

/* .pad_card{
  padding: 30px !important;
} */

section {
  position: relative;
}

.font_section_titles {
  /*font-size: 38px;*/
  line-height: normal !important;
}


.button_card {
  position: absolute;
  margin-top: -6px !important;
  margin-left: -116px;
  border-radius: 10px !important;
  text-transform: unset;
  font-size: 139%;
}


.about_section1 {

  background-size: cover;
  background-position: center;
  position: relative;
  height: 450px;
}

.h1_banner_sect2 {
  font-size: 600% ;
  margin-top: 168px;
}
.h1_banner_sect1 {
  font-size: 300% ;
  margin-top: 168px;
}
.h1_banner_sect3 {
  font-size: 564% ;
  margin-top: 136px;
}

.col-flex-none {
  flex-basis: auto !important;
}

.items_line_card {
  position: absolute;
  width: 80%;
  margin-left: 29px !important;
  border: solid 15px !important;
  border-radius: 6px;
  border-color: #6200ea !important;
}


.font_section_TC {
  font-size: 50px ;
  line-height: normal ;
}

.circulo_s {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  margin-top: -33px;
}

.text_bar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  margin-left: auto;
  margin-top: .1rem;
  width: 630px;
  text-align: right;
}

.items_line {
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, #0b77ff, #0762d5, #7d389f, #aa36e3) border-box !important;
  border-radius: 14px;
  border: 12px solid transparent;
  position: absolute;
  width: 75%;

}

.ml-55 {
  margin-left: 55px !important;
}

.delete_border {
  border: none !important;
}

.content_tra {
  background-color: rgba(255, 255, 255, 0.158) !important;
}

.arrow-down_purple {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 20px solid rgb(116, 18, 207) !important;
  margin: auto;
}



.sect6_content {
  background: linear-gradient(to right, #6732bf, #225cea, #225cea, #6732bf);
  height: 750px;
}

.img_card_profile {
  height: 146px !important;
  width: 146px !important;
  background-position: center center !important;
  margin: -50px auto 0 !important;
  border-radius: 50% !important;
  overflow: hidden !important;
  padding: 0 !important;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
  position: absolute !important;
}

.arrow-down_white {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 20px solid rgb(247, 247, 247);
  margin: auto;
}


.d {
  margin-top: 11px;
  margin-left: 11px;
  width: 28%;
}


.svg_tm_line {
  margin-top: 11px;
  margin-left: 11px;
  width: 28%;
}


.bc_hover {
  /* border-top: 1.2rem solid !important; */
  background:
    linear-gradient(to right, #0074ff, #198aec, #600ee4, #9435c3, #9435c3) top/100% 17px no-repeat,
    #000;
}

.blue_columbia_name{
  color:#003c91;
}

.pad_card {
  padding: 30px 10px 20px 20px !important;
}

.items_line_card_1 {

  width: 40%;
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, #066df0, #053ab7, #7d4399 ,#aa36e3) border-box;
  border-radius: 7px;
  border: 16px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  margin-left:1.8%;
}
.items_line_card_1_2{

  width: 41.5%;
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, #066df0, #053ab7, #7d4399 ,#aa36e3) border-box;
  border-radius: 7px;
  border: 16px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  margin-left: 0px ;
}
.items_line_card_lg {

  width: 84%;
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, #066df0, #053ab7, #7d4399 ,#aa36e3) border-box;
  border-radius: 7px;
  border: 21px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  margin-left: 76px ;
}
.items_line_card_lg2 {

  width: 92%;
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, #066df0, #053ab7, #7d4399 ,#aa36e3) border-box;
  border-radius: 7px;
  border: 21px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  margin-left: 13px ;

}
.circulo_s {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  margin-top: -33px;
}
.lg_btn_circle {

  width: 90px !important;
  height: 90px !important;
  margin-top: -30px !important;
  margin-left: .5rem;
}
.lg_btn_circle:nth-child(2){
  margin-left: 5rem;
}
.text_bar_2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  width: 630px;
  margin-top: 5px;
  margin-left: 170px;
}
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?68015928');
  src: url('../font/fontello.eot?68015928#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?68015928') format('woff2'),
       url('../font/fontello.woff?68015928') format('woff'),
       url('../font/fontello.ttf?68015928') format('truetype'),
       url('../font/fontello.svg?68015928#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?68015928#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-chef:before { content: '\e800'; } /* '' */
.icon-edificio:before { content: '\e801'; } /* '' */
.icon-avion:before { content: '\e802'; } /* '' */
.icon-lupa:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-users:before { content: '\e805'; } /* '' */
.icon-books:before { content: '\e806'; } /* '' */
.icon-camera:before { content: '\e807'; } /* '' */
.icon-planeta:before { content: '\e808'; } /* '' */
.icon-bottles:before { content: '\e809'; } /* '' */
.icon-certificado:before { content: '\e80a'; } /* '' */
.icon-copa:before { content: '\e80b'; } /* '' */
.icon-bar:before { content: '\e80c'; } /* '' */
.icon-recurso-138:before { content: '\e80d'; } /* '' */
.icon-recurso-139:before { content: '\e80e'; } /* '' */
.icon-store:before { content: '\e80f'; } /* '' */
.icon-avion_inclinado:before { content: '\e810'; } /* '' */
.icon-chefhat:before { content: '\e811'; } /* '' */
.icon-cocina:before { content: '\e812'; } /* '' */
.icon-calendar:before { content: '\e813'; } /* '' */
.icon-pointer:before { content: '\e814'; } /* '' */
.icon-recurso-117:before { content: '\e815'; } /* '' */
.icon-reloj:before { content: '\e816'; } /* '' */
.icon-reloj_arrow:before { content: '\e817'; } /* '' */
.icon-class:before { content: '\e818'; } /* '' */
.icon-hat:before { content: '\e819'; } /* '' */
.icon-like:before { content: '\e81a'; } /* '' */
.icon-medal:before { content: '\e81b'; } /* '' */
.icon-structure:before { content: '\e81c'; } /* '' */
.icon-bag:before { content: '\e81d'; } /* '' */
.icon-planet_air:before { content: '\e81e'; } /* '' */
.icon-ding:before { content: '\e81f'; } /* '' */
.icon-cama:before { content: '\e820'; } /* '' */
.icon-pastel:before { content: '\e821'; } /* '' */
.icon-chair-tooth:before { content: '\e822'; } /* '' */



.gradient_text {
  background: -webkit-linear-gradient(rgb(197, 0, 247), rgb(26, 81, 230));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 100%;
}
.lg_normal{
	border-radius: 10px !important;
	font-size: 16px !important;
  margin-top:20px !important;
}
.btn_md_banner{
	border-radius: 10px !important;
	font-size: 16px !important;
  margin-top:0px !important;
}
.btn_sm_banner{
	border-radius: 10px !important;
	font-size: 15px !important;
  height: 22px !important;
  margin-top:"20px !important";
}

.OfferCarrerCotainer{
  margin-left: 3%;
}
@media screen and (max-width:1940px){
  .OfferCarrerCotainer{
 
  }
  .OfferCarrerCotainer p{
    font-size: 2vh;
    
  }
}

@media screen and (max-width: 1368px){
  .OfferCarrerCotainer p{
    font-size: 2.3vh;
    
  }
}