<template>
	<div>
		<section class="banner_container_offer">
			<v-img style="width:100%; height:100%" :src=img>
				<div style="z-index:-1; position:absolute; width:100%;height:100%;background-color:black; opacity:.4;">
					
				</div>
				<v-container>
					<v-row no-gutters justify="center" class="ml-9">
						<v-col cols="12" md="12" sm="12">
							<h1 :class="title_size" class="white--text text-center">{{ title }}</h1>
						</v-col>
						<v-col cols="12" :md="md" sm="12" :style="{ 'height': height_img }">
							<v-img height="100%" :style="{ 'max-width': img_max_w }" :src="img_card">
								<v-card color="transparent" flat>
									<v-card-subtitle class="text-center mt-3">
										<h3 class="white--text text-h6" :class="mb1">
											<span class="font-weight-regular">
												Sede:
											</span>	<strong> San Isidro</strong>
										</h3>
										<v-btn color="#f9c100" class="btn_banner_eduoffer" style="color:#044484;" small>
											Matricúlate aquí
										</v-btn>
									</v-card-subtitle>
								</v-card>
							</v-img>
						</v-col>
					</v-row>
				</v-container>
			</v-img>
		</section>
	</div>
</template>
    
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
	name: "EduOffer3_1",

	data: () => ({
		mb1: "mb-3",
		margin_top: "",
		md: "4",
		font_size: "",
		height_img: "",
		title_size: "",
		btn_size: "",
		img_max_w: "",
		height_class: "",
		img_card: require("@/assets/pages/triangle_buttom.webp"),
		img: require("@/assets/pages/educative_5/banner.png"),
		title: "PASTELERÍA Y PANADERÍA"
	}),
	mounted() {
		this.onResize()
		window.addEventListener('resize', this.onResize, { passive: true })
	},

	methods: {


		onResize() {

			if (window.innerWidth <= 600) {
				this.margin_top = "110px !important"
				this.font_size = "280% !important"
				this.mb1 = "mb-0"
				this.img_max_w = "100% !important"
				this.height_class = "section_img_md	"
				this.btn_size = "btn_sm_banner"
				this.img_card = ""


			} else if (window.innerWidth > 601 && window.innerWidth < 1250) {
				this.btn_size = "lg_normal"
				this.height_img = "152px !important"
				this.md = "3"
				this.title_size = "h1_banner_sect3"
				this.img_max_w = "428px"
				this.height_class = "section_img_md"
				this.margin_top = "110px !important"
				this.img_card = require("@/assets/pages/triangle_buttom.webp")
				this.font_size = "200% !important"

			}
			else if (window.innerWidth > 1650) {
				this.btn_size = "lg_btn"
				this.height_img = "152px !important"
				this.md = "4"
				this.title_size = "h1_banner_sect2"
				this.img_max_w = "431px !important"
				this.height_class = "section_img"
				this.font_size = "400% !important"
				this.img_card = require("@/assets/pages/triangle_buttom.webp")

			} else {
				this.md = "4"
				this.font_size = "200% !important"
				this.margin_top = "";
				this.font_size = "400%";
				this.mb1 = "mb-3"
				this.height_img = "135px !important"
				this.title_size = "h1_banner_sect3"
				this.img_max_w = "431px"
				this.btn_size = "btn_md_banner"
				this.height_class = "section_img"
				this.img_card = require("@/assets/pages/triangle_buttom.webp")

			}
		}
	},

});
</script>


<style scoped>
.btn_banner_eduoffer{
	color: #044484 !important;
}
.lg_btn {
	border-radius: 10px !important;
	font-size: 22px !important;
}
@media screen and (max-width:1940px) {
	h1{
		font-size: 550%;
	}
	.banner_container_offer{
		margin-top:7vh;
		height:55vh;
	}
}
@media screen and (max-width:1368px) {
	h1{
		font-size: 450%;
	}
	.banner_container_offer{
		margin-top:10.5vh;
		height:74vh;
	}
}
</style>
