<template>
  <v-container fluid class="mt-3 mb-10">
    <v-row class="mb-5">
      <v-col cols="12">
        <h1 class="blue_text--text font_section_titles h1_benefi_offer text-center">{{ title }}</h1>
        <div class="arrow-down_purple  mt-4"></div>
      </v-col>
    </v-row>
    
      <v-row aling="center" justify="center">
        <v-col cols="9">
          <v-row aling="center" justify="space-between" class="mt-2">
            <v-col cols="12" sm="12" md="4" class="text-center" v-for="(feature, i) in features" :key="i">
              <v-hover v-slot:default="{ hover }">
                <v-card class="card bc_rounded text-left pad_card" shaped :elevation="hover ? 4 : 0"
                  :class="{ up: hover, bc_hover: hover }" style="height: 275px !important;">
                  <v-row class="py-4 mb-1 ml-3">
                    <span :class="feature.icon" class="primary--text"
                      :style="{ 'font-size': feature.font_icon, 'margin-top': feature.mt, 'margin-left': feature.ml }"></span>
                  </v-row>
                  <h3 style="line-height: 1;" :style="{'font-size':font_size_cd_title}" class="ml-4 grey--text"><strong>{{ feature.title }}</strong></h3>
                  <p  :style="{'font-size':font_size_cd_text}" class="mt-3 ml-4  grey--text subtitle-1">
                    {{ feature.text }}
                  </p>
                </v-card>

              </v-hover>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    
  </v-container>
</template>
      
<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "EduOffer5_4",

  data: () => ({
    title: "Nuestros Beneficios",
    font_size_title:"",
    font_size_cd_title:"",
    font_size_cd_text:"",
    features: [
      {
        icon: "icon-bar",
        font_icon: "33px",
        ml: "-5px",
        mt: "-10px",
        title: "FORMACIÓN CON LOS MEJORES CHEFS",
        text: "Formación profesional con destacados y reconocidos chefs.",
      },
      {
        icon: "icon-bag",
        font_icon: "54px",
        ml: "-15px",
        mt: "-32px",
        title: "CONVENIOS",
        text: "Convenios con prestigiosos restaurantes y hoteles para prácticas profesionales.",
      },
      {
        icon: "icon-certificado",
        font_icon: "33px",
        ml: "-5px",
        mt: "-10px",
        title: "METODOLOGÍA POR COMPETENCIAS",
        text: "Recibe una certificación por cada módulo terminado.",
      },
      {
        icon: "icon-pastel",
        font_icon: "42px",
        ml: "-15px",
        mt: "-28px",
        title: "FORMACIÓN PRÁCTICA Y VIVENCIAL",
        text: "Participación en actividades extracurriculares: festivales gastronómicos, ferias, eventos y visitas a empresas del sector.",
      },
      {
        icon: "icon-cocina",
        font_icon: "33px",
        ml: "-15px",
        mt: "-20px",
        title: "MODERNOS MÓDULOS DE RESTAURANTE",
        text: "Enseñanza práctica; infraestructura moderna con equipos de alta tecnología y calidad.",
      },
      {
        icon: "icon-copa",
        font_icon: "33px",
        ml: "-5px",
        mt: "-20px",
        title: "OPORTUNIDADES LABORALES",
        text: "Departamento de asesoría y colocación laboral (COLUMBIA JOBS).",
      },
    ],
  }),
  mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },

    methods: {

        onResize() {

            if (window.innerWidth > 1650) {
              this.font_size_title ="423% !important"
              this.font_size_cd_title ="155% !important"
              this.font_size_cd_text =" 115% !important"
            }
            else {
              this.font_size_title =""
              this.font_size_cd_title =""
              this.font_size_cd_text =""

            }
        }
    },
});
</script>

<style scoped>

@media screen and (max-width:1940px){
  .h1_benefi_offer{
    font-size:5vh;
  }
}
@media screen and (max-width:1368px){
  .h1_benefi_offer{
    font-size:6vh;
  }
}
</style>
