<template>
  <v-container fluid class="mt-15 sect6_content" style="height: auto !important;">
    <v-row aling="center" justify="center" class="text-justify">
      <v-col cols="12" sm="12" md="7" class="mt-6">
        <h1 class="white--text text-center" style="font-size: 320%;">{{ title }}</h1>
        <div class="mt-5 arrow-down_white text-center"></div>
      </v-col>
    </v-row>
    <v-row justify="center" class="text-justify" height="auto">
      <v-col cols="12" sm="12" md="7" class="">
       
          <v-carousel v-model="model" hide-delimiters>
            <template v-slot:prev="{ on, attrs }">
              <v-btn id="btn_left" depressed fab dark small color="white" v-bind="attrs" v-on="on">
                <v-icon dark color="info" size="40">
                  mdi-chevron-left
                </v-icon>
              </v-btn>
            </template>
            <template  v-slot:next=" { on, attrs }">
              <v-btn id="btn_right" depressed fab dark small color="white" v-bind="attrs" v-on="on">
                <v-icon dark color="info" size="40">
                  mdi-chevron-right
                </v-icon>
              </v-btn>
            </template>
            <v-carousel-item v-for="profile in profiles" :key="profile.name">
              <v-sheet color="transparent" height="750px" tile>
                <v-row class="fill-height" align="center" justify="center" height="auto">
                  <v-col md="6" sm="12" >
                    <v-card height="300px" style="margin-top: -100px !important;">
                      <v-row align="center" justify="center" class="mb-16">
                        <v-img :src=profile.img class="img_card_profile" />
                      </v-row>
                      <v-card-text class="">
                        <h1 class="text-center orange--text"><strong>{{ profile.name }}</strong></h1>
                        <h2 style="padding-right:6rem; padding-left:6rem;" class="mt-3 text-center black--text">{{ profile.subtitle }}</h2>
                        <p class="black--text font-weight-regular text-center mt-8">{{ profile.msg }}</p>
                        
                      </v-card-text>
                    </v-card>
                  </v-col>
                </v-row>
              </v-sheet>
            </v-carousel-item>
          </v-carousel>
    
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "EduOffer3_5",
  data: () => ({
    title: "¿Qué dicen nuestros egresados?",
    content: "Realizamos viajes nacionales e internacionales para fortalecer el conocimiento práctico de nuestros estudiantes, para otorgarles una mirada mucho más amplia del manejo de los servicios que el cliente busca para vivir una experiencia de viaje mucho más completa.",
    model: 0,
    profiles: [
      {
        name: "Renato Valdivia",
        subtitle: "Chef Ejecutivo - Restaurante Bogotá",
        msg: '“El instituto Columbia siempre me dio las mejores opciones de aprendizaje con los mejores equipos y módulos de cocina”.',
        img: require("@/assets/pages/page_6/perfil.png")
      },
      {
        name: "Name",
        subtitle: "Title",
        msg: "Message",
        img: require("@/assets/pages/page_6/perfil.png")

      },
      {
        name: "Name2",
        subtitle: "Title2",
        msg: "Message",
        img: require("@/assets/pages/page_6/perfil.png")
      },
    ],
  }),

});
</script>

<style>
.sect6_content {
  background: linear-gradient(to right, #6732bf, #225cea, #225cea, #6732bf);
  height: 750px;
}

.img_card_profile {
  height: 146px !important;
  width: 146px !important;
  background-position: center center !important;
  margin: -50px auto 0 !important;
  border-radius: 50% !important;
  overflow: hidden !important;
  padding: 0 !important;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
  position: absolute !important;
}

</style>