<template>
  <v-container >
    <v-row :style="{ 'height': height }">
      <v-col cols="12" sm="12" md="5" align="center" justify="center">
        <br>
        <h1 style="font-size: 45px !important;" class="mt-16 half-underline  blue_text--text text-left font_section_titles">{{ items.title }}</h1>
        <h3 class="text-left mt-10 text-justify">{{ items.texto }}</h3>
      </v-col>
      <v-col cols="12" sm="12" md="6" offset-md="1">
        <v-row :class="margin_top2">
          <video controls :class="margin_top" :style="{ 'width': width }" style="margin-bottom: 80px !important;">
            <source type="video/mp4" :src=items.video_url />
          </video>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "EduOffer3_7",
  data: () => ({
    height: "650px",
    margin_top: "mt-12",
    margin_top2: "mt-8",
    width: "90%",
    items: {
      title: "Vive tu carrera desde el primer momento",
      texto: "Nuestros alumnos desarrollan su talento de la mano de chefs especializados y en los mejores módulos de cocina, teniendo una experiencia práctica desde el primer momento y demostrando su conocimiento en concursos y en importantes eventos.",
      video_url: require("@/assets/prueba.mp4")
    }
  }),
  mounted() {
    this.onResize()
    window.addEventListener('resize', this.onResize, { passive: true })
  },

  methods: {

    onResize() {

      if (window.innerWidth <= 600) {
        this.height = "900px";
        this.margin_top2 = "mt-0";
        this.width = "100%";
        this.margin_top = "mt-0";
      } else {
        this.height = "650px";
        this.width = "90%";
        this.margin_top = "mt-16";
        this.margin_top2 = "mt-8"
      }
    }
  },

});
</script>

