<template>
  <v-container  class="mt-10">
    <v-row class="mb-11 mt-3 ">
          <v-col cols="12">
            <h1  class="blue_text--text font_section_titles text-center">{{ title }}</h1>
            <div class="arrow-down_purple .arrow-down mt-4"></div>
        </v-col>
      </v-row>
      <v-row aling="center" justify="center" class="text-justify ">
          <v-col md="4" sm="12" class="pa-16  d-flex child-flex " v-for="item in items">
              <v-card rounded="xl" class="mx-auto" style="min-height: 450px;" min-width="300">
                  <template slot="progress">
                      <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
                  </template>
                  <v-img height="" :src=item.img>
                  </v-img>
                  <v-row class="pa-5 mt-2"  >
                      <v-col sm="12" md="12" class="pa-2" align="center" justify="center" :style="{'height':height_content}" >
                          <p class="p_text_chef_offer font-weight-regular mt-1" v-for="(txt, i) in item.text_list" :key="i"> - {{ txt.text }}</p>
                      </v-col>
                  </v-row>
              </v-card>
          </v-col>
      </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "AboutViewSection3",
  
  data: () => ({
    title:"Aprende de la mano de verdaderos expertos",
    font_title_section:"",
    font_size_content:"",
    height_content:"",
      items:[
          {
              img:require("@/assets/pages/educative_3/card1.svg"),
              text_list:[
                  {
                    text:"Especialista en cocina italiana y francesa.",
                  },
                  {
                    text:"Consultor gastronómico",
                  },

              ]
          },
          {
              img:require("@/assets/pages/educative_3/card2.svg"),
              text_list:[
                  {
                    text:"Embajador Marca Perú.",
                  },
                  {
                    text:"Especialista en cocina peruana.",
                  },
                  {
                    text:"Chef Ejecutivo del Restaurante El Señorío de Sulco.",
                  },
              ]
          },
          {
              img:require("@/assets/pages/educative_3/card3.svg"),
              text_list:[
                  {
                    text:"Especialista en cocina japonesa.",
                  },
                  {
                    text:"Chef Ejecutivo de los restaurantes Lima Thai y Sushi ito.",
                  },
              ]
          },
          {
              img:require("@/assets/pages/educative_3/card4.svg"),
              text_list:[
                  {
                    text:"Chef profesional con 17 años de experiencia en restaurantes y hoteles.",
                  },
                  {
                    text:"Especialista en cocin italiana.",
                  },
              ]
          },
          {
              img:require("@/assets/pages/educative_3/card5.svg"),
              text_list:[
                  {
                    text:"Especialista en cocina china y tailandesa.",
                  },
              ]
          },
      ]
  }),
  mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },

    methods: {

        onResize() {

            if (window.innerWidth > 1650) {
              this.font_size_content ="150% !important"
              this.height_content ="230px !important"
              this.font_title_section ="423% !important"
            }else {
     
              this.font_size_content =""
              this.height_content =""
              this.font_title_section =""
            }
        }
    },
});
</script>

<style scoped>
.sect6_content {
  background: linear-gradient(to right, #6732bf, #225cea, #225cea, #6732bf);
  height: 750px;
}

.arrow-down_purple {
  border-top: 20px solid #4646d3 !important;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 20px solid #0077ff;
  margin: auto;
}

@media screen and (max-width:1940px){
  .font_section_titles{
    font-size: 6vh !important;
  }
  .p_text_chef_offer{
    font-size: 105%;
  }
}
@media screen and (max-width:1368px){
  .font_section_titles{
    font-size: 7vh !important;
  }
  .p_text_chef_offer{
    font-size: 100%;
  }
}
</style>