<template>

    <v-container fluid class="video_content_bg_2">
      <v-row justify="center" algin="center">
          <v-col  cols="12" md="5" >
              <v-row align="center" justify="center" id="contentTextVideo">
                  <h1 class=" half-underline blue_text--text text-left" id="h1_tittle_video">
                      {{ items.title }}
                  </h1>
                  <p class="pr-16 mt-10 font-weight-regular text-justify">
                      {{items.texto}}
                  </p>
              </v-row>
          </v-col>
          <v-col cols="12" md="5">
              <v-dialog v-model="dialog" persistent max-width="850">
                  <template v-slot:activator="{ on, attrs }">
                      <v-img
                      src="@/assets/portada_video_4.png">
                          <v-btn @click="stop = false"  color="transparent" style="width: 100% !important; height:100% !important" dark
                              v-bind="attrs" v-on="on">
                              <!-- Open Modal -->
                          </v-btn>
                      </v-img>
                  </template>
                  <v-card v-if ="!stop" id="video_columbia_container">
                      <!-- Para videos de host que no sean youtube, o local -->
                      <!-- <video controls :class="video_content">
                          <source type="video/mp4" src="RUTA_VIDEO" />
                          <Embed  id="video_columbia" src="https://www.youtube.com/watch?v=NMNBTjxGqpc&ab_channel=NightVibes"></Embed>
                      </video> -->
                      <iframe width="100%" height="450" src="https://www.youtube.com/embed/uzB_bVqXgLU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                      
                      
                      <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="primary" text @click="dialog = false, stop = true">
                              Cerrar
                          </v-btn>
                      </v-card-actions>
                  </v-card>
              </v-dialog>
          </v-col>
      </v-row>
          
    </v-container>
  
  </template>
  
  <script lang="ts">
  import Vue from "vue";
  import Embed from '../../../node_modules/v-video-embed/src/embed.vue';
  export default Vue.extend({
    name: "EduOffer2_6",
    components: {
          Embed
      },
    data: () => ({
      stop:false,
          height_section: "",
          font_title: "",
          dialog: false,
          video_content: "video_content",
          content_width:"",
          font_content:"",
          height_img: "750px",
          width_img: "750px",
          margin_top:"",
      items:{
        title: "Vive tu carrera desde el primer momento",
      texto: "Nuestros alumnos tienen la oportunidad de realizar sus prácticas en las mejores cadenas hoteleras, tanto en el Perú como en el extranjero. Conoce el testimonio de nuestra alumna Rosalí Barboza, quien realizó sus prácticas en España.",
      video_url: require("@/assets/prueba.mp4")
      }
    }),
    mounted() {
          this.onResize()
          window.addEventListener('resize', this.onResize, { passive: true })
      },
      methods: {
  
          onResize() {
              if (window.innerWidth <= 800) {
                  this.video_content = "video_content_sm"
                  this.width_img ="550px !important"
                  this.height_img ="550px !important"
                  this.height_section = "800px !important"
                  this.width_img ="100% !important"
                  this.height_img ="100% !important"
                  this.margin_top = "mt-0"
  
  
              } else if ( window.innerWidth > 1000 &&window.innerWidth <= 1200 ) {
                  this.height_section = "600px !important"
              } else if ( window.innerWidth > 800 &&window.innerWidth < 1000 ) {
                  this.height_section = "1000px !important"
              }  
              else if (window.innerWidth > 1650) {
                  this.height_section = "750px !important"
                  this.video_content = "video_content"
                  this.font_title = "423% !important"
                  this.content_width ="content_width_video_lg"
                  this.font_content ="166% !important"
                  this.width_img ="750px !important"
                  this.height_img ="750px !important"
                  this.margin_top = "mt-16"
              } else {
                  this.font_title = "320% !important"
                  this.content_width ="content_width_video_md"
                  this.font_content ="110% !important"
                  this.height_section = "600px !important"
                  this.width_img ="750px !important"
                  this.height_img ="750px !important"
                  this.margin_top = "mt-16"
              }
          }
      }
  });
  </script>
  
  <style scoped>
  
  #h1_tittle_video{
      font-size: 5vh;
      line-height: 4.5vh;
  }
  
  @media screen and (max-width:1940px){
      #contentTextVideo{
          margin-top: 10%;
      }
      p{
          font-size: 1.7vh;
      }
  }
  @media screen and (max-width:1366px){
      #contentTextVideo{
          margin-top: 10%;
      }
      #h1_tittle_video {
          font-size: 6vh;
          line-height: 6vh;
      }
      p{
          font-size: 2.2vh;
      }
  }
  
  
  .embed-responsive-item {
  
      width: 100% !important;
      height: 400px !important;
  }
  
  .content_width_video_lg {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
  }
  .content_width_video_md {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
  }
  </style>