<template> 
  <div>
    <AboutViewSection1 />
    <AboutViewSection2 />
    <AboutViewSection3 />
    <AboutViewSection4 />
    <video_about2 />
    <Loader/>

    
  </div>
</template>

<script lang="ts">
import Vue from "vue";

const AboutViewSection1 = () => import("@/components/About_2/Section1.vue")
const AboutViewSection2 = () => import("@/components/About_2/Section2.vue")
const AboutViewSection3 = () => import("@/components/About_2/Section3.vue")
const AboutViewSection4 = () => import("@/components/About_2/Section4.vue")
const video_about2 = () => import("@/components/About_2/Video_about2.vue")
const Loader = () => import("@/components/Loader.vue")





export default Vue.extend({
  name: "About",

  components: {
    AboutViewSection1,
    AboutViewSection2,
    AboutViewSection3,
    AboutViewSection4,
    video_about2,
    Loader


  },
});
</script>
