<template> 
  <div>
    <AboutViewSection1 />
    <AboutViewSection2 />
    <AboutViewSection3 />
    <AboutViewSection4 />
    <AboutViewSection5 />
    <video_about1 />
    <AboutViewSection6 />
    <AboutViewSection7 />
    <Loader />
    
  </div>
</template>

<script lang="ts">
import Vue from "vue";

const AboutViewSection1 = () => import("@/components/About_1/Section1.vue")
const AboutViewSection2 = () => import("@/components/About_1/Section2.vue")
const AboutViewSection3 = () => import("@/components/About_1/Section3.vue")
const AboutViewSection4 = () => import("@/components/About_1/Section4.vue")
const AboutViewSection5 = () => import("@/components/About_1/Section5.vue")
const AboutViewSection6 = () => import("@/components/About_1/Section6.vue")
const AboutViewSection7 = () => import("@/components/About_1/Section7.vue")
const video_about1 = () => import("@/components/About_1/Video_about1.vue")

const Loader = () => import("@/components/Loader.vue")




export default Vue.extend({
  name: "About",

  components: {
    AboutViewSection1,
    AboutViewSection2,
    AboutViewSection3,
    AboutViewSection4,
    AboutViewSection5,
    AboutViewSection6,
    AboutViewSection7,
    video_about1,
    Loader


  },
});
</script>
