<template> 
  <div>
    <AboutViewSection1 />
    <AboutViewSection2 />
    <Loader/>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
const AboutViewSection1 = () => import ("@/components/About_3/Section1.vue");
const AboutViewSection2 = () => import ("@/components/About_3/Section2.vue");
const Loader = () => import("@/components/Loader.vue")

export default Vue.extend({
  name: "About3_1",

  components: {
    AboutViewSection1,
    AboutViewSection2,
    Loader
  },
});
</script>
