<template> 
  <div>
    <EduOffer4_1/>
    <EduOffer4_2/>
    <EduOffer4_3/>
    <EduOffer4_4/>
    <!-- <EduOffer4_5/> -->
    <Video_Eduoffer_4/>
    <Form/>
    <Loader/>

  </div>
</template>


<script lang="ts">
import Vue from "vue";
const EduOffer4_1 = () => import("@/components/EduOffer_4/Section1.vue");
const EduOffer4_2 = () => import("@/components/EduOffer_4/Section2.vue");
const EduOffer4_3 = () => import("@/components/EduOffer_4/Section3.vue");
const EduOffer4_4 = () => import("@/components/EduOffer_4/Section4.vue");
// const EduOffer4_5 = () => import("@/components/EduOffer_4/Section5.vue");
const Video_Eduoffer_4 = () => import("@/components/EduOffer_4/Video_Eduoffer_4.vue");
const Loader = () => import("@/components/Loader.vue");
const Form = () => import("@/components/Form.vue");

export default Vue.extend({
  name: "EducativeOffer4",

  components: {
    EduOffer4_1,
    EduOffer4_2,
    EduOffer4_3,
    EduOffer4_4,
    // EduOffer4_5,
    Video_Eduoffer_4,
    Form,
    Loader
  },
});
</script>
