<template> 
  <div>
    <EduOffer3_1/>
    <EduOffer3_2/>
    <EduOffer3_3/>
    <EduOffer3_4/>
    <EduOffer3_5/>
    <EduOffer3_6/>
    <!-- <EduOffer3_7/> -->
    <Video_Eduoffer_3/>
    <Form/>
    <Loader/>

  </div>
</template>


<script lang="ts">
import Vue from "vue";
const EduOffer3_1 = () => import("@/components/EduOffer_3/Section1.vue");
const EduOffer3_2 = () => import("@/components/EduOffer_3/Section2.vue");
const EduOffer3_3 = () => import("@/components/EduOffer_3/Section3.vue");
const EduOffer3_4 = () => import("@/components/EduOffer_3/Section4.vue");
const EduOffer3_5 = () => import("@/components/EduOffer_3/Section5.vue");
const EduOffer3_6 = () => import("@/components/EduOffer_3/Section6.vue");
// const EduOffer3_7 = () => import("@/components/EduOffer_3/Section7.vue");
const Video_Eduoffer_3 = () => import("@/components/EduOffer_3/Video_Eduoffer_3.vue");
const Form = () => import("@/components/Form.vue");
const Loader = () => import("@/components/Loader.vue");

export default Vue.extend({
  name: "EducativeOffer3",

  components: {
    EduOffer3_1,
    EduOffer3_2,
    EduOffer3_3,
    EduOffer3_4,
    EduOffer3_5,
    EduOffer3_6,
    // EduOffer3_7,
    Video_Eduoffer_3,
    Form,
    Loader
  },
});
</script>
