<template> 
  <div>
    <EduOffer5_1/>
    <EduOffer5_2/>
    <EduOffer5_3/>
    <EduOffer5_4/>
    <!-- <EduOffer5_5/> -->
    <Video_Eduoffer_5/>
    <Form/>
    <Loader/>

  </div>
</template>


<script lang="ts">
import Vue from "vue";
const EduOffer5_1 = () => import("@/components/EduOffer_5/Section1.vue");
const EduOffer5_2 = () => import("@/components/EduOffer_5/Section2.vue");
const EduOffer5_3 = () => import("@/components/EduOffer_5/Section3.vue");
const EduOffer5_4 = () => import("@/components/EduOffer_5/Section4.vue");
// const EduOffer5_5 = () => import("@/components/EduOffer_5/Section5.vue");
const Video_Eduoffer_5 = () => import("@/components/EduOffer_5/Video_Eduoffer_5.vue");
const Form = () => import("@/components/Form.vue");
const Loader = () => import("@/components/Loader.vue");

export default Vue.extend({
  name: "EducativeOffer5",

  components: {
    EduOffer5_1,
    EduOffer5_2,
    EduOffer5_3,
    EduOffer5_4,
    Video_Eduoffer_5,
    Form,
    Loader
  },
});
</script>
