<template> 
  <div>
    <EduOffer8_1/>
    <EduOffer8_2/>
    <EduOffer8_3/>
    <EduOffer8_4/>
    <EduOffer8_5/>
    <Video_Eduoffer_3/>
    <Form/>
    <Loader/>
    
  </div>
</template>


<script lang="ts">
import Vue from "vue";
const EduOffer8_1 = () => import("@/components/EduOffer_8/Section1.vue");
const EduOffer8_2 = () => import("@/components/EduOffer_8/Section2.vue");
const EduOffer8_3 = () => import("@/components/EduOffer_8/Section3.vue");
const EduOffer8_4 = () => import("@/components/EduOffer_8/Section4.vue");
const EduOffer8_5 = () => import("@/components/EduOffer_8/Section5.vue");
// const EduOffer8_6 = () => import("@/components/EduOffer_8/Section6.vue");
const Video_Eduoffer_3 = () => import("@/components/EduOffer_8/Video_Eduoffer_8.vue");
const Form = () => import("@/components/Form.vue");
const Loader = () => import("@/components/Loader.vue");



export default Vue.extend({
  name: "EducativeOffer8",

  components: {
    EduOffer8_1,
    EduOffer8_2,
    EduOffer8_3,
    EduOffer8_4,
    EduOffer8_5,
    Video_Eduoffer_3,
    Loader,
    Form
  },
});
</script>
