<template> 
  <div>
    <EduOffer7_1/>
    <EduOffer7_2/>
    <Form/>
    <Loader/>
  </div>
</template>


<script lang="ts">
import Vue from "vue";
const EduOffer7_1 = () => import("@/components/EduOffer_7/Section1.vue");
const EduOffer7_2 = () => import("@/components/EduOffer_7/Section2.vue");
const Form = () => import("@/components/Form.vue");
const Loader = () => import("@/components/Loader.vue");


export default Vue.extend({
  name: "EducativeOffer7",

  components: {
    EduOffer7_1,
    EduOffer7_2,
    Form,
    Loader
  },
});
</script>
