<template> 
  <div>
    <EduOffer2_1/>
    <EduOffer2_2/>
    <EduOffer2_3/>
    <EduOffer2_4/>
    <EduOffer2_5/>
    <Video_Eduoffer_2/>
    <Form />
    <Loader/>
  </div>
</template>


<script lang="ts">
import Vue from "vue";
const EduOffer2_1 = () => import("@/components/EduOffer_2/Section1.vue");
const EduOffer2_2 = () => import("@/components/EduOffer_2/Section2.vue");
const EduOffer2_3 = () => import("@/components/EduOffer_2/Section3.vue");
const EduOffer2_4 = () => import("@/components/EduOffer_2/Section4.vue");
const EduOffer2_5 = () => import("@/components/EduOffer_2/Section5.vue");
const Video_Eduoffer_2 = () => import("@/components/EduOffer_2/Video_Eduoffer_2.vue");
const Form = () => import("@/components/Form.vue");
const Loader = () => import("@/components/Loader.vue");

export default Vue.extend({
  name: "EducativeOffer2",

  components: {
    EduOffer2_1,
    EduOffer2_2,
    EduOffer2_3,
    EduOffer2_4,
    EduOffer2_5,
    Video_Eduoffer_2,
    Form,
    Loader

  },
});
</script>
