<template> 
  <div>
    <EduOffer1 />
    <EduOffer2 />
    <EduOffer3 />
    <EduOffer4 />
    <EduOffer5 />
    <EduOffer6 />
    <div class="mt-10"></div>
    <Form />
    <Loader />

  </div>
</template>

<script lang="ts">
import Vue from "vue";

const EduOffer1 = () => import("@/components/EduOffer_1/Section1.vue");
const EduOffer2 = () => import("@/components/EduOffer_1/Section2.vue");
const EduOffer3 = () => import("@/components/EduOffer_1/Section3.vue");
const EduOffer4 = () => import("@/components/EduOffer_1/Section4.vue");
const EduOffer5 = () => import("@/components/EduOffer_1/Section5.vue");
const EduOffer6 = () => import("@/components/EduOffer_1/Section6.vue");
const Form = () => import("@/components/Form.vue");
const Loader = () => import("@/components/Loader.vue");

export default Vue.extend({
  name: "EducativeOffer1",

  components: {
    EduOffer1,
    EduOffer2,
    EduOffer3,
    EduOffer4,
    EduOffer5,
    EduOffer6,
    Form,
    Loader

  },
});
</script>
