<template> 
  <div>
    <EduOffer6_1/>
    <EduOffer6_2/>
    <EduOffer6_3/>
    <EduOffer6_4/>
    <EduOffer6_5/>
    <EduOffer6_6/>
    <Form/>
    <Loader/>
  </div>
</template>


<script lang="ts">
import Vue from "vue";
const EduOffer6_1 = () => import("@/components/EduOffer_6/Section1.vue");
const EduOffer6_2 = () => import("@/components/EduOffer_6/Section2.vue");
const EduOffer6_3 = () => import("@/components/EduOffer_6/Section3.vue");
const EduOffer6_4 = () => import("@/components/EduOffer_6/Section4.vue");
const EduOffer6_5 = () => import("@/components/EduOffer_6/Section5.vue");
const EduOffer6_6 = () => import("@/components/EduOffer_6/Section6.vue");
const Form = () => import("@/components/Form.vue");
const Loader = () => import("@/components/Loader.vue");

export default Vue.extend({
  name: "EducativeOffer6",

  components: {
    EduOffer6_1,
    EduOffer6_2,
    EduOffer6_3,
    EduOffer6_4,
    EduOffer6_5,
    EduOffer6_6,
    Form,
    Loader
  },
});
</script>
