<template> 
  <div>
    <Partners_1 />
    <Partners_2 />
    <Partners_3 />
    <Form />
    <Loader/>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
const Partners_1 = () => import("@/components/Partners/Section1.vue");
const Partners_2 = () => import("@/components/Partners/Section2.vue");
const Partners_3 = () => import("@/components/Partners/Section3.vue");
const Form = () => import("@/components/Form.vue");
const Loader = () => import("@/components/Loader.vue");


export default Vue.extend({
  name: "About2_1",

  components: {
    Partners_1,
    Partners_2,
    Partners_3,
    Form,
    Loader
  },
});
</script>

