<template> 
  <div>
    <Section1 />
    <Section2 />
    <Loader/>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
const Section1 = () => import("@/components/Portal_Section/Section1.vue");
const Section2 = () => import("@/components/Portal_Section/Section2.vue");
const Loader = () => import("@/components/Loader.vue");

export default Vue.extend({
  name: "Portal_1",

  components: {
    Section1,
    Section2,
    Loader
  },
});
</script>