<template> 
  <div>
    <Section1 />
    <Section2 />
    <Section3 />
    <Form />
    <Loader/>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
const Section1 = () => import("@/components/Professionals/Section1.vue");
const Section2 = () => import("@/components/Professionals/Section2.vue");
const Section3 = () => import("@/components/Professionals/Section3.vue");
const Form = () => import("@/components/Form.vue");
const Loader = () => import("@/components/Loader.vue");

export default Vue.extend({
  name: "Portal",

  components: {
    Section1,
    Section2,
    Section3,
    Form,
    Loader
  },
});
</script>
