<template>
  <v-container class="mt-15 mb-10" >
    <v-row no-gutters >
      <v-col cols="12" sm="12" md="7">
        <h1 id="benefi-offer-tittle-home" class="font-italic half-underline blue_text--text">Beneficios de estudiar en <strong
            >COLUMBIA</strong></h1>
      </v-col>
    </v-row>
    <v-row >
      <v-col class="12">
        <v-row class="mt-2">
          <v-col cols="12" sm="12" md="4" xl="4" class="text-center">
            <v-hover v-slot:default="{ hover }">
              <v-card style="min-height: 280px !important;"
                class="mt-10 card bc_rounded text-left pad_card font-weight-bold" shaped :elevation="hover ? 16 : 0"
                :class="{ up: hover, bc_hover: hover }">
                <v-row style="margin-top:-28px;">
                  <span class=" icon-like primary--text" :style="{ 'font-size': '60px' }"></span>
                </v-row>
                <h3 class="text-uppercase  ml-4 mt-5 grey--text" style="margin-top: -16px; font-size: 140%;">
                  Prestigio
                </h3>
                <p style="font-size:115% !important" class="mt-2 ml-4 grey--text subtitle-1 text-justify">
                  Gran trayectoria de éxitos y miles de egresados trabajando en las mejores empresas con una valiosa y
                  excelente formación.
                </p>
              </v-card>
            </v-hover>
          </v-col>
          <v-col cols="12" sm="12" md="4" xl="4" class="text-center" v-for="(feature, i) in features" :key="i">
            <v-hover v-slot:default="{ hover }">
              <v-card style="min-height: 280px !important;" class="mt-10 card bc_rounded text-left pad_card" shaped
                :elevation="hover ? 16 : 0" :class="{ up: hover, bc_hover: hover }">
                <v-row class="py-4 ml-3">
                  <span :class="feature.icon" class="primary--text"
                    :style="{ 'font-size': feature.font_icon }"></span>
                </v-row>
                <h3 style="font-size: 140%;" class="ml-4 mt-5 grey--text">{{ feature.title }}</h3>
                <p style="font-size:115% !important" class="mt-2 ml-4   grey--text subtitle-1 text-justify">
                   {{ feature.text }}
                </p>
              </v-card>
            </v-hover>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
    
<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "HomePageSection4",

  data: () => ({
    col: "",
    font_title:"",
    width_title:"",
    features: [
      // {
      //   icon: "icon-like",
      //   title: "Prestigio",
      //   font_icon :"70px",
      //   text: "Gran trayectoria de éxitos y miles de egresados trabajando en las mejores empresas con una valiosa y excelente formación.",
      // },
      {
        icon: "icon-camera",
        font_icon: "21px",
        title: "ZOOM",
        text: "Clases en vivo y sincrónicas para aprendizaje online. Lo mejor y lo último que hay.",
      },
      {
        icon: "icon-lupa",
        font_icon: "26px",
        title: "COLUMBIA JOBS",
        text: "Las empresas y organizaciones recurren a Columbia Jobs, para reclutar personal calificado y especializado",
      },
      {
        icon: "icon-books",
        font_icon: "26px",
        title: "INGLÉS ESPECIALIZADO",
        text: "Reforzamos tu idioma inglés, clases vivenciales. Nueva metodología.",
      },
      {
        icon: "icon-star",
        font_icon: "26px",
        title: "FORMACIÓN DE CALIDAD",
        text: "Profesores destacados y altamente capacitados. Equipamiento, infraestructura, experiencia y calidad.",
      },
      {
        icon: "icon-users",
        font_icon: "28px",
        title: "NETWORKING",
        text: "Convenios y afiliaciones nacionales e internacionales. Desarrollo de alianzas y sinergias positivas.",
      },
    ],
  }),
  mounted() {
    this.onResize()
    window.addEventListener('resize', this.onResize, { passive: true })
  },
  methods: {
    onResize() {


      if (window.innerWidth < 600) {
        this.font_title="150% !important"
        this.col = "12"

      } else if (window.innerWidth > 1650) {
        this.col = "10"
        this.font_title="423% !important"
        this.width_title ="100% !important"

      } else {
        this.col = "10"
        this.font_title="355% !important"
        this.width_title="100% !important"
      }
    }
  }
  });
</script>

<style scoped>
@media screen and (max-width:1940px){
  #benefi-offer-tittle-home{
    margin-left:1.5%;
    font-size: 5.9vh;
    line-height: 6vh;
  }
}
@media screen and (max-width:1368px){
  #benefi-offer-tittle-home{
    margin-left:1.5%;
    font-size: 8.5vh;
    line-height: 8vh;
  }
}
</style>