<template>
  <section style="padding: 75px;">
    <v-container class="mt-15" style="max-width: 1600px !important;">
      <v-row class="mb-5">
        <v-col cols="12" id="container-offer-home">
          <h1 class="blue_text--text  text-center">Nuestra oferta educativa</h1>
          <div class="arrow-down_purple mt-4"></div>
        </v-col>
      </v-row>
      <v-row aling="center" justify="center">
        <v-col cols="12">
          <v-row aling="center" justify="space-around" class="mt-2">
            <v-col cols="12" sm="12" md="3" xl="3" class="text-center " v-for=" feature in features">
              <v-hover v-slot:default="{ hover }">
                <v-card class="card bc_rounded mt-5" shaped :elevation="hover ? 10 : 0" :class="{ up: hover }">
                  <v-img :src="feature.img"> </v-img>
                  <v-row style="padding:18px !important">
                    <v-card-title >
                      <p class=" text-card-conetent-home text-justify font-weight-regular">{{ feature.text }} </p>
                    </v-card-title>
                  </v-row>
                  <v-btn style=" border-radius: 14px !important;  
                                margin-bottom: -20px;
                                text-transform: unset !important;" 
                                class=" white--text primary btn-card-offer-home"
                                v-bind:to="feature.btn_link">
                    <strong> {{ feature.btn_text }}</strong>
                  </v-btn>
                </v-card>
              </v-hover>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "HomePageSection2",

  data: () => ({
    font_btn:"",
    features: [
      {
        img: require("@/assets/pages/home/card1.png"),
        text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod nonummy nibh euismod ddddd.",
        link: "",
        btn_text: "Más Información",
        btn_link:"/educative_offer"
      },
      {
        img: require("@/assets/pages/home/card2.png"),
        text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod nonummy nibh euismod ddddd.",
        link: "",
        btn_text: "Más Información",
        btn_link:"/educative_offer7"
      },
      {
        img: require("@/assets/pages/home/card3.jpg"),
        text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod nonummy nibh euismod ddddd.",
        link: "",
        btn_text: "Más Información",
        btn_link:"/educative_offer6"
      },
    ],
  }),

	mounted() {
		this.onResize()
		window.addEventListener('resize', this.onResize, { passive: true })
	},
	methods: {

		onResize() {
			if (window.innerWidth > 1650) {

				this.font_btn  ="130% !important"

			}
			else {
		
				this.font_btn  ="110% !important"
		
			}
		}
	}


});
</script>

<style scoped>
@media screen and (max-width:1940px){
  #container-offer-home h1{
    font-size: 6vh;
  }
  .text-card-conetent-home{
    font-size:1.8vh ;
    line-height: 3vh;
  }
  .btn-card-offer-home{
      font-size: 1.6vh;
  }
}
@media screen and (max-width:1368px){
  #container-offer-home h1{
    font-size: 7vh;
  }
  .text-card-conetent-home{
    font-size: 2.3vh ;
    line-height: 3.5vh;
  }
  .btn-card-offer-home{
    font-size: 2.2vh;
  }
}

</style>