<template>
    <!-- 
    <section id="bannerCity">
        
            <v-row not-gutters style="height:100% !important;" align="start">
                <v-col offset="1" cols="6" lg="5" style="max-height:100%;">
                    <v-img src="@/assets/pages/home/geometric.png" id="imgDegradado" >
                        <v-container fluid>
                            <v-row>
                                <v-col offset="1" cols="12" lg="6">
                                    <h1 id="TitleBannerDegradado">Aviaci&oacute;n Comercial</h1>
                                </v-col>
                            </v-row>

                            <v-row>
                                <v-col offset="1" cols="9" id="contentDegradado">
                                    <span >Direccion:</span> <span > <b> &nbsp; 2 años </b> </span> <br>
                                    <span >Inicio:</span> <span ><b> &nbsp; 9 de enero 2023</b> </span> <br>
                                    <span >Sedes:</span> <span > <b> &nbsp; Lince y los Olivos</b> </span> <br>
                                </v-col>
                            </v-row>

                            <v-row>
                                <v-col offset="1" cols="4">
                                    <v-btn color="info" id="btn_banner" small rounded>
                                        button
                                    </v-btn>
                                </v-col>
                            </v-row>

                        </v-container>
                    </v-img>
                </v-col>
                
            </v-row>
        
    </section>
    -->
    <v-row id="bannerCity">
        <v-container fluid>
            <v-row>
                <v-col offset="1" id="containerGeometric">
                    <v-img src="@/assets/pages/home/GeometricSmall.png" max-height="100%" cover></v-img>
                    <v-container style="position:absolute;" id="containerContent">
                        <v-row>
                            <h1>
                                Aviaci&oacute;n Comercial
                            </h1>
                        </v-row>
                        <v-row id="contentDegradado">
                            <v-container>
                                <v-row>
                                    <span >Direccion:</span> <span > <b> &nbsp; 2 años </b> </span>
                                </v-row>
                                <v-row>
                                    <span >Inicio:</span> <span ><b> &nbsp; 9 de enero 2023 </b> </span>
                                </v-row>
                                <v-row>
                                    <span >Sedes:</span> <span > <b> &nbsp; Lince y los Olivos</b> </span>
                                </v-row>
                            </v-container>
                        </v-row>
                        <v-row  id="Btn-container-Degradado">
                            <v-btn small color="info" style="border-radius:7px;" class="px-1 py-0 font-weight-regular" id="btn-Degradado">
                                Inscribete
                            </v-btn>
                        </v-row>
                    </v-container>
                </v-col>
                
            </v-row>
        </v-container>
    </v-row>
</template>

<style scoped>
    #bannerCity{
        background: url("@/assets/pages/home/BannerSmall.png") no-repeat center center;
        background-size: cover;
        
    }    
    #containerGeometric{
        margin-top:5vh;
        max-width:30%;
        height:450px;
        
    }
    #containerContent{
        width:18%;
        color:white;
        
    }
    #contentDegradado{
        margin-top: 10%;
    }
    #btn-Degradado{
        text-transform: unset;
        bottom:0px;
    }
    #containerContent h1{
            margin-top: 10%;
        }
    @media screen and (max-width:1920px){
        #bannerCity{
            margin-top:7vh;
            height:500px;
        } 
        #containerGeometric{
            
            max-width:25%;
            height:400px;
            
        }
        #containerContent{
            left:11%;
            top:3.5%;
            height:300px;
        }
        #containerContent h1{
            font-size: 5vh;
            line-height: 6vh;
        }
        #contentDegradado{
            font-size: 2vh;
            line-height: 3.5vh;
        }
        #Btn-container-Degradado{
            margin-top:40px;
        }
        #btn-Degradado{
            font-size: 1.5vh;
        }
    }
    @media screen and (max-width:1440px){
        
    }
    @media screen and (max-width:1366px){
        #bannerCity{
            margin-top:4.5%;
            height:70vh;
        }
        #containerGeometric{
            max-width:25%;
            height:380px;
            
        }
        #containerContent{
            width:22%;
            left:11%;
            top:3%;
            height:240px;
        }
        #containerContent h1{
            font-size: 250%;
            line-height: 3rem;
            margin-top: 10%;
        }
        #contentDegradado{
            font-size: 100%;
            line-height: 1.5rem;
        }
        #Btn-container-Degradado{
            margin-top:30px;
        }
        #btn-Degradado{
            font-size: 80%;
        }
    }
    /*
    #bannerCity{
        background-image: url("@/assets/pages/home/Banner.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top:12vh;
    }
    #imgDegradado{
        /*
        color:white;
        max-width: 100%;
        max-height: 80%;
        -----------------------
        max-width:75%;
        max-height:100%;
        color:white;
        margin-top: 4vh;
        
    }
    #TitleBannerDegradado{
        font-size: 300%;
        line-height: 8vh;
        /* margin-top: 15%; ----------------
        margin-top:4vh;
    }
    #contentDegradado > *{
        font-size: 105%;
        line-height: 4vh;
    }
    
    #btn_banner{
        border-radius: 7px;
        font-size: 12px;
        line-height: 0rem;
        margin-top:5%;
    }

    @media screen and (min-width:1400px){
        
        #TitleBannerDegradado{
            font-size: 400%;
            /*margin-top: 25%;---------------
            margin-top:6vh;
            line-height: 8vh;
        }  
        #contentDegradado > *{
            font-size: 145%;
            line-height: 2.5rem;
        }
        #btn_banner{
            border-radius: 7px;
            font-size: 12px;
            line-height: 0rem;
        }
    }
    */
</style>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    name: "HomePageSection1",

    data: () => ({
        font:"card_font_lg",
        xl:"3",
        lg_size :'',
        height_img:"",
        img_card_width:"",
        title_size:"50px",
        font_content_degradado:'',
        font_height:'',
        dragadado_width:'300px;',
        degradado_height:'',
        banner_height:'',
        buttom_top:'',
        
    }),
 
	mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },

    methods: {

        onResize() {
           // console.log(window.innerWidth)
         
           if (window.innerWidth <= 600) {
                

            } else if (window.innerWidth > 1650) {
                this.title_size="75px"
                this.dragadado_width='100px;'
                this.degradado_height='270px;'
                this.banner_height='600px'
                this.font_content_degradado='22px'
                this.font="20px"
                this.font_height="80px"
                this.buttom_top="30px"
            }
            else {
                this.banner_height="470px"
                this.title_size="55px"
                this.lg_size='4';
                this.font=this.font_content_degradado="16px"
                this.font_height="60px"
                this.buttom_top="10px"
                
            }
        }
    },


});
</script>