<template>
  <v-container style="height:650px;">
    <v-row no-gutters>
      <h1 id="prof-columbiatitle-home" class="blue_text--text half-underline mb-16">Profesionales <strong
          class="font-italic">COLUMBIA</strong></h1>
    </v-row>
    <v-row >
      <v-col cols="10" >
        <v-carousel show-arrows hide-delimiter-background  delimiter-icon="mdi-circle-outline">
          <template v-slot:prev="{ on, attrs }">
            <v-btn id="button_left_carousel_home" color="white" v-bind="attrs" v-on="on" > 
              <v-icon dark color="info" size="60">
              mdi-chevron-left
              </v-icon>
          </v-btn>
          </template>
          <template v-slot:next="{ on, attrs }">
            <v-btn id="button_right_carousel_home" fab color="white" v-bind="attrs" v-on="on"> 
              <v-icon dark color="info" size="50">
              mdi-chevron-right
              </v-icon>
          </v-btn>
          </template>
          <v-carousel-item v-for="item in items">
            <v-row>
              <v-col cols="12" sm="12" md="5">
                <v-img :src="item.src"></v-img>
              </v-col>
              
              <v-col cols="12" sm="12" md="5" class="pa-5 ">
                <v-card  class="grey--text" color="transparent" flat>
                  <v-row no-gutters>
                    <v-col align-self="center" cols="12">
                      <p class="content-text-carousel-home text-justify mt-8 font-weight-regular">{{ item.content }}</p>
                    </v-col>
                  </v-row>
                  <v-row no-gutters>
                    <v-col cols="12">
                      <h1 class="name-carousel-home mt-2">{{ item.name }}</h1>
                    </v-col>
                  </v-row>
                  <v-row no-gutters>
                    <v-col cols="12">
                      <h4 class="pie-text-carousel-home font-weight-regular">{{ item.sub }}</h4>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </v-carousel-item>
        </v-carousel>
      </v-col>
      <v-col cols="2" style="height:100%;">
        <v-row justify="start" no-gutters align="center">
          <v-divider id="vertical-divider-carousel-home" class="carousel-divier"
            vertical></v-divider>
        </v-row>
        <v-row id="container-logos-divider" justify="space-between">
        
          <v-col cols="12" v-for="icon in icons_divider">
            <v-img  :src="icon.icon_src" class="mt-4" :style="{'height':icon.height,'width':icon.width}">
              
            </v-img>
          </v-col>
        </v-row>
      </v-col>
        
    </v-row>
      
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "HomePageSection3",

  data: () => ({
    mt:"40px",
    padding: "33px",
    font_texto: "151% !important",
    font_name: "361% !important",
    font_sub: "125% !important",
    show:true,
    width_container: "1600px !important;",
    margin_btn_crousel:'',
    margin_top_btn_crousel:'',
    icons_divider: [
          {
            icon_src: require("@/assets/icons/avion_1.webp"),
            width: "70px",
            height: "70px",

          },
          {
            icon_src: require("@/assets/icons/chef_outline.webp"),
            width: "70px",
            height: "70px",
          },
          {
            icon_src: require("@/assets/icons/edificio.webp"),
            width: "70px",
            height: "70px",
          }
        ],
    items: [
      {
        content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorpeutem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.",
        name: "Mitchell Collantes",
        sub: "Tripulante de Cabina en SKY Airlines",
        src: require("@/assets/pages/home/carousel_photo.webp"),
        
      },
      {
        content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorpeutem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.",
        name: "Mitchell Collantes",
        sub: "Tripulante de Cabina en SKY Airlines",
        src: require("@/assets/pages/home/carousel_photo.webp"),
        
      },
    ],
  }),

  mounted() { this.onResize()
    window.addEventListener('resize', this.onResize, { passive: true }) },
  methods: {
    onResize() {
      

      if (window.innerWidth > 900 && window.innerWidth < 1500) {

        this.font_texto = "151% !important";
        this.font_name = "320% !important";
        this.font_sub = "125% !important";
        this.mt ="",
        this.padding =""
        this.show =true
        this.margin_btn_crousel="-10rem"
        this.margin_top_btn_crousel="-12rem"

      } else if (window.innerWidth < 1000){
        this.show =false

      }
      else if (window.innerWidth > 1500) {
        this.mt ="40px",
        this.padding ="33px"
        this.font_texto = "151% !important";
        this.font_name = "331% !important";
        this.font_sub = "125% !important";
        this.show =true
        this.margin_btn_crousel="-2.5rem"
        this.margin_top_btn_crousel="-4.5rem"
      }
    }
  },
});



</script>

<style>
.v-window__prev > #button_left_carousel_home{
  display: none !important;
}
.v-window__prev, .v-window__next{
  background:rgba(0,0,0,0) !important;
}
.theme--dark.v-btn.v-btn--icon {
  color: #07f !important;
}
@media screen and (max-width:1940px) {
  h1.name-carousel-home{
    font-size: 250%;
  }
  p.content-text-carousel-home{
    font-size: 105%;
  }
  h4.pie-text-carousel-home{
    
  }
  .v-window__next > #button_right_carousel_home{
    margin-top: -270%;
    margin-left: -970%;
   }
   #vertical-divider-carousel-home{
    height:400px;
    width: 10px !important;
  }
  #container-logos-divider{
    position:absolute; margin-top:-23%; margin-left:-4%;
  }
}
@media screen and (max-width:1368px) {
  h1.name-carousel-home{
    font-size: 200%;
  }
  p.content-text-carousel-home{
    font-size: 95%;
  }
  h4.pie-text-carousel-home{
    font-size: 90%;
  
  }
  .v-window__next > #button_right_carousel_home{
   margin-top: -225%;
   margin-left: -970%;
  }
  #vertical-divider-carousel-home{
    height:400px;
  }
  #container-logos-divider{
    position:absolute; margin-top:-28%; margin-right:30%;
  }
}
</style>
