<template>
    <v-container :fluid="true" style=" background-color: #f4f4f4;">
        <v-row aling="center" justify="center">
            <v-col sm="12" md="4" lg="3"  :class="padding" v-for="item in items">
                <v-card  rounded="xl" class="mx-auto my-3 box_shadow_card" style="min-height: 430px;">
                    <template slot="progress">
                        <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
                    </template>
                    <v-img min-height="250px" :src=item.img></v-img>
                    <!--
                        <v-row class="py-5" :style="{'max-height': height_content,'min-height':min_height_content}">    
                    -->
                    <v-row class="py-5">
                        <v-col class="pa-6" :class="margin_top"  >
                            <h4 :style="{'font-size':font_size}" class="font-weight-regular text-center px-3">{{ item.text }}</h4>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    name: "AboutViewSection3",
    data: () => ({
        
        font_size:"",
        padding:"",
        margin_top:"",
        height_content:"",
        min_height_content:"",
        items:[
            {
                img:require("@/assets/pages/about_2/card1.svg"),
                text:"Formar profesionales con principios y valores, con excelente preparación académica para ofrecer al mundo su aporte."
            },
            {
                img:require("@/assets/pages/about_2/card2.svg"),
                text:"Ser líderes en ofrecer educación de calidad para la superación de las personas y contribuir con la sociedad y la preservación del ambiente."
            }            
        ]
    }),
    mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },
    methods: {

        onResize() {
            if (window.innerWidth <= 600) {
                this.height_content ="51px !important"
                this.padding ="p-0 ml-16"
            }
            else if (window.innerWidth >  1650){
   
                this.padding ="p-4 ml-16"
                this.margin_top ="mt-4"
                this.font_size ="140%"
                this.height_content ="251px !important"
                this.min_height_content="251px"
            } 
            else {
                this.padding =" ml-16"
                this.margin_top =""
                this.font_size =""
                this.height_content ="51px !important"
                this.min_height_content="41px"
            }
        }
    }
});
</script>

<style scope>
.sect6_content {
    background: linear-gradient(to right, #6732bf, #225cea, #225cea, #6732bf);
    height: 750px;
}

.box_shadow_card{
    box-shadow: 0px 12px 12px -3px rgba(0, 0, 0, 0.2), 0px 15px 20px 6px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12) !important;
}
</style>