<template>
    <v-container fluid class="mt-15 sect6_content">
        <v-row aling="center" justify="center" class="text-justify">
            <v-col cols="12" sm="12" md="6" justify="center" align="center">
                <h1 class="white--text text-center" style="font-size: 320%;">{{ title }}</h1>
                <div class="arrow-down text-center"></div>
                <h3 class="mt-10" style="color: #bed6f6;">{{ content }}</h3>
                <v-row heigth="100px">
                    <video controls class="video_content">
                        <source type="video/mp4" src="@/assets/prueba.mp4" />
                    </video>
                </v-row>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    name: "AboutViewSection5",
    data: () => ({
        title: "Un horizonte de carreras internacionales",
        content: "Buscamos generar mayores oportunidades para jóvenes peruanos en el apasionante mundo de los viajes y el turismo.",

    }),

});
</script>

<style scope>

</style>