<template>
    <div>
        <section class="mt-6">
            <v-img :class="height_class" class="" :src=img>
                <v-container fluid="true" style="height:100%;">
                    <!--
                    <v-row no-gutters justify="center" class="ml-9 text-center">
                        <h1 class="white--text" :style="{'font-size':font_size, 'margin-top':margin_top}">{{ title }}</h1>
                    </v-row>
                    -->
                    <v-row justify="center" align="center" align-content="center" style="height:100%;">
                        <v-col cols="12" >
                            <v-content class="text-center">
                                <h1 class="white--text" :style="{'font-size':font_size}">{{ title }}</h1>
                            </v-content>
                        </v-col>
                    </v-row>
                </v-container>
            </v-img>
        </section>
    </div>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    name: "@/assets/pages/about_2/banner.png",
    data: () => ({
        height_class:"",
        margin_top:"",
        font_size:"",
        title:"Nuestra Historia",
        img: require("@/assets/pages/about_2/banner.png")
    }),
	mounted() {
		this.onResize()
		window.addEventListener('resize', this.onResize, { passive: true })
	},

	methods: {
        // font-size: 351% !important;
		onResize() {
            console.log(window.innerWidth)
			if (window.innerWidth <= 800) {
                console.log("entro aca")
				this.font_size="250% !important"
                this.margin_top="160px !important"
                this.height_class="section_img_md"

			} else if ( window.innerWidth > 1650) {
                this.height_class="section_img"
                this.margin_top="250px !important"
                this.font_size="550% !important"
			}
			else if( window.innerWidth > 801 &&  window.innerWidth < 1650) {
                this.height_class="section_img_md"
                this.margin_top="165px !important"
                this.font_size="380% !important"
                
			}
		}
	},
});
</script>
<style scope >

</style>