<template>
    <v-container fluid class="mt-15 " style="height: auto !important;">
        <v-row aling="center" justify="center" class="text-justify">
            <v-col cols="12" sm="12" md="7" class="mt-6">
                <h1 class="blue_text--text text-center" :style="{'font-size': font_title}">{{ title }}</h1>
                <div class="arrow-down_purple text-center"></div>
            </v-col>
        </v-row>
        <v-row justify="center" class="text-justify mt-8" >
            <v-col cols="12" sm="12" md="9" class="" :style="{'font-size':font_size}">
                <h3  class="grey--text font-weight-regular" v-for="content in contents">{{ content.parrafo }}<br><br></h3>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    name: "AboutViewSection2",
    data: () => ({
        font_size:"",
        font_title:"",
        title: "¿Quiénes somos?",
        contents: [
            {
                parrafo: "COLUMBIA, fue fundada en el año 1983 para brindar educación de calidad a las nuevas generaciones y así atender la necesidad de formación pertinente y relevante para obtener trabajo en diversos campos de la actividad humana.",
            },
            {
                parrafo: "El nombre, COLUMBIA, proviene de la decisión de transmitir la idea de formación moderna y avanzada que intentábamos realizar en educación, y en esa época los avances en la ciencia, el conocimiento y la tecnología estaban representados por los exitosos logros del transbordador espacial Columbia en sus viajes espaciales, y el futuro de la humanidad se proyectaba lleno de cambios y nuevos logros que demostraban la capacidad humana de superación, la marca que escogimos tenía esa connotación y ese significado.",
            },
            {
                parrafo: "En 1995, se fundó el Instituto Tecnológico Superior Columbia para ofrecer carreras de Administración de Hotelería y Administración de Empresas. En el año 2003 se dio inicio a la carrera de Cocina en lo que se llamó el HOSPITALITY MANAGEMENT SCHOOL COLUMBIA.",
            },
            {
                parrafo: "Hoy COLUMBIA es una organización educativa de nivel superior, comprometida en ofrecer calidad en sus diversas carreras y programas educativos. Procuramos realizar un trabajo de excelencia brindando no solo formación y capacitación, también enseñamos el refinamiento del profesionalismo, lo que da a nuestros egresados la capacidad de sobresalir en las organizaciones más prestigiosas.",
            }
        ]
    }),
    mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },
    methods: {

        onResize() {
        if (window.innerWidth >  1650){
                this.font_size="150% !important"
                this.font_title ="423% !important"
            } 
            else {
                this.font_size=""
                this.font_title ="320% !important"
            }
        }
    }

});
</script>

<style scope>
</style>