<template>
    <v-container v-if="show" class="mt-16" :style="{ 'height': height_container }">
        <v-img
            :style="{ 'position': time_line.position, 'width': time_line.width, 'height': time_line.height, 'left': time_line.left }"
            src="@/assets/pages/about_2/time_line.webp" class="img_line"></v-img>
        <!-- seccion 1 -->
        <v-row class="mt-16">
            <v-col sm="12" md="4" lg="4" xl="5" style="background-color:  ;">
                <v-card flat color="transparent" :style="{ 'margin-top': contenido_1.margin_top_card }">
                    <div class="black--text">
                        <v-card-text
                            :style="{ 'font-size': contenido_1.font_size_title, 'line-height': contenido_1.line_height_title }"
                            style="color:#0077ff" class="">
                            <h4>
                                Nuestro inicio
                            </h4>
                        </v-card-text>
                    </div>

                    <v-card-text
                        :style="{ 'font-size': contenido_1.font_size_text, 'line-height': contenido_1.line_height_text }"
                        :class="contenido_1.margin_top_text" class="black--text text-justify">
                        Con la decisión de ofrecer enseñanza de calidad,
                        innovadora, y con formación de primer nivel para
                        acceder a puestos de trabajo en diversos sectores
                        económicos, se creó Columbia en Lima, con una
                        intensa vocación por la calidad que dio como
                        resultado recibir premios y reconocimientos, que
                        acreditan el valor de estudiar en Columbia.
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col sm="12" md="3" lg="3" xl="2" style="background-color:;">
                <v-img src="@/assets/pages/about_2/bandera.svg" :style="{
                    'height': contenido_1.img_height, 'width': contenido_1.img_width,
                    'margin-left': contenido_1.img_margin_l, 'margin-top': contenido_1.img_margin_t
                }"></v-img>
            </v-col>
            <v-col sm="12" md="5" lg="5" xl="5" style="background-color:  ;">
                <h1 :style="{ 'font-size': contenido_1.font_size_number, 'margin-top': contenido_1.number_margin_t }"
                    style="color:#0077ff">
                    1983
                </h1>
            </v-col>
        </v-row>
        <!-- seccion 2 -->
        <v-row class="mt-16">
            <v-col sm="12" md="5" lg="5" xl="5" style="background-color: ;" class="text-right">
                <h1 :style="{ 'font-size': contenido_2.font_size_number, 'margin-top': contenido_2.number_margin_t }"
                    style="color:#0077ff">
                    2003
                </h1>
            </v-col>
            <v-col sm="12" md="3" lg="3" xl="2" style="background-color:  ;">
                <v-img src="@/assets/pages/about_2/planeta.svg"
                    :style="{ 'width': contenido_2.img_width, 'height': contenido_2.img_height, 'margin-top': contenido_2.img_margin_t, 'margin-left': contenido_2.img_margin_l }"></v-img>
            </v-col>
            <v-col sm="12" md="4" lg="4" xl="5" style="background-color:  ;">
                <v-card flat color="transparent" :style="{ 'margin-top': contenido_2.margin_top_card }">
                    <div class="black--text">
                        <v-card-text
                            :style="{ 'font-size': contenido_2.font_size_title, 'line-height': contenido_2.line_height_title }"
                            style="color:#b9008c" class="text-right">
                            <h4>
                                Creación Escuela De
                                Dirección Hotelera
                                Y Alta Cocina
                            </h4>
                        </v-card-text>
                    </div>
                    <v-card-text
                        :style="{ 'font-size': contenido_2.font_size_text, 'line-height': contenido_2.line_height_text }"
                        :class="contenido_2.margin_top_text" class="black--text text-right">
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <!-- seccion 3 -->
        <v-row class="mt-16">
            <v-col sm="12" md="4" lg="4" xl="5" style="background-color:  ;">
                <v-card flat color="transparent" :style="{ 'margin-top': contenido_3.margin_top_card }">
                    <div class="black--text">
                        <v-card-text
                            :style="{ 'font-size': contenido_3.font_size_title, 'line-height': contenido_3.line_height_title }"
                            style="color:#7e24b1" class="">
                            <h4>Apertura sede Lince</h4>
                        </v-card-text>
                    </div>
                    <v-card-text
                        :style="{ 'font-size': contenido_3.font_size_text, 'line-height': contenido_3.line_height_text }"
                        :class="contenido_3.margin_top_text" class="black--text text-justify">
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col sm="12" md="3" lg="3" xl="2" style="background-color:  ;">
                <v-img src="@/assets/pages/about_2/edificio.svg" :style="{
                    'width': contenido_3.img_width, 'height': contenido_3.img_height,
                    'margin-top': contenido_3.img_margin_t, 'margin-left': contenido_3.img_margin_l
                }"></v-img>
            </v-col>
            <v-col sm="12" md="5" lg="5" xl="5" style="background-color:  ;">
                <h1 :style="{ 'font-size': contenido_3.font_size_number, 'margin-top': contenido_3.number_margin_t }"
                    style="color:#0077ff">
                    2012
                </h1>
            </v-col>
        </v-row>
        <!-- seccion 4 -->
        <v-row class="mt-16">
            <v-col sm="12" md="5" lg="5" xl="5" style="background-color: ;" class="text-right">
                <h1 :style="{ 'font-size': contenido_4.font_size_number, 'margin-top': contenido_4.number_margin_t }"
                    style="color:#0077ff">
                    2014
                </h1>
            </v-col>
            <v-col sm="12" md="3" lg="3" xl="2" style="background-color:  ;">
                <v-img src="@/assets/pages/about_2/edificio.svg" :style="{
                    'width': contenido_4.img_width, 'height': contenido_4.img_height,
                    'margin-top': contenido_4.img_margin_t, 'margin-left': contenido_4.img_margin_l
                }"></v-img>
            </v-col>
            <v-col sm="12" md="4" lg="4" xl="5" style="background-color:  ;">
                <v-card flat color="transparent" :style="{ 'margin-top': contenido_4.margin_top_card }">
                    <div class="black--text">
                        <v-card-text
                            :style="{ 'font-size': contenido_4.font_size_title, 'line-height': contenido_4.line_height_title }"
                            style="color:#2b57e5" class="text-right">
                            <h4>
                                Apertura sede Los Olivos
                            </h4>
                        </v-card-text>
                    </div>
                    <v-card-text
                        :style="{ 'font-size': contenido_4.font_size_text, 'line-height': contenido_4.line_height_text }"
                        :class="contenido_4.margin_top_text" class="black--text text-right">
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <!-- seccion 5 -->
        <v-row class="mt-16">
            <v-col sm="12" md="4" lg="4" xl="5" style="background-color:  ;">
                <v-card flat color="transparent" :style="{ 'margin-top': contenido_5.margin_top_card }">
                    <v-card-title
                        :style="{ 'font-size': contenido_5.font_size_title, 'line-height': contenido_5.line_height_title }"
                        style="color:#b9008c" class="">
                        Licenciamento
                    </v-card-title>
                    <v-card-text
                        :style="{ 'font-size': contenido_5.font_size_text, 'line-height': contenido_5.line_height_texto }"
                        :class="contenido_1.margin_top_text" class="black--text text-justify">
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col sm="12" md="3" lg="3" xl="2" style="background-color:  ;">
                <v-img src="@/assets/pages/about_2/medalla.svg" :style="{
                    'width': contenido_5.img_width, 'height': contenido_5.img_height,
                    'margin-top': contenido_5.img_margin_t, 'margin-left': contenido_5.img_margin_l
                }"></v-img>
            </v-col>
            <v-col sm="12" md="5" lg="5" xl="5" style="background-color:  ;">
                <h1 :style="{ 'font-size': contenido_5.font_size_number, 'margin-top': contenido_5.number_margin_t }"
                    style="color:#0077ff">
                    2019
                </h1>
            </v-col>
        </v-row>
        <!-- seccion 6 -->
        <v-row class="mt-16">
            <v-col sm="12" md="5" lg="5" xl="5" style="background-color: ;" class="text-right">
                <h1 :style="{ 'font-size': contenido_6.font_size_number, 'margin-top': contenido_6.number_margin_t }"
                    style="color:#0077ff">
                    2020
                </h1>
            </v-col>
            <v-col sm="12" md="3" lg="3" xl="2" style="background-color:  ;">
                <v-img src="@/assets/pages/about_2/avion.svg"
                    :style="{ 'width': contenido_6.img_width, 'height': contenido_6.img_height, 'margin-top': contenido_6.img_margin_t, 'margin-left': contenido_6.img_margin_l }"></v-img>
            </v-col>
            <v-col sm="12" md="4" lg="4" xl="5" style="background-color:  ;">
                <v-card flat color="transparent" :style="{ 'margin-top': contenido_6.margin_top_card }">
                    <div class="black--text">
                        <v-card-text
                            :style="{ 'font-size': contenido_6.font_size_title, 'line-height': contenido_6.line_height_title }"
                            style="color:#7e24b1" class="text-right">
                            <h4> Lanzamiento Columbia ONLINE</h4>
                        </v-card-text>
                        <v-card-text
                            :style="{ 'font-size': contenido_6.font_size_text, 'line-height': contenido_6.line_height_texto }"
                            :class="contenido_1.margin_top_text" class="  text-right">
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        </v-card-text>
                    </div>
                </v-card>
            </v-col>
        </v-row>
        <!-- FIN -->
    </v-container>
</template>

<script >
import Vue from "vue";
export default Vue.extend({
    name: "AboutViewSection4",
    mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },

    methods: {

        onResize() {

            if (window.innerWidth <= 900) {
                this.show = false

            } else if (window.innerWidth > 950 && window.innerWidth < 1255) {
                this.show = true
                this.height_container = "1800px !important"
                this.time_line.width = "151px"
                this.time_line.height = "29%"
                this.time_line.left = "42%"
                this.contenido_1.font_size_title = "150% !important"
                this.contenido_1.font_size_text = "67% !important"
                this.contenido_1.line_height_title = "1.5rem"
                this.contenido_1.line_height_text = "1rem"
                this.contenido_1.margin_top_text = "mt-0"
                this.contenido_1.img_height = "90px"
                this.contenido_1.img_width = "90px"
                this.contenido_1.img_margin_t = "85px"
                this.contenido_1.img_margin_l = "40px"
                this.contenido_1.font_size_number = "240%"
                this.contenido_1.number_margin_t = "98px"
                ////////////////////////////////////////
                this.contenido_2.font_size_title = "150% !important"
                this.contenido_2.font_size_text = "67% !important"
                this.contenido_2.line_height_title = "1.5rem"
                this.contenido_2.line_height_text = "1rem"
                this.contenido_2.margin_top_text = "mt-0"
                this.contenido_2.img_height = "90px"
                this.contenido_2.img_width = "90px"
                this.contenido_2.img_margin_t = "15px"
                this.contenido_2.img_margin_l = "65px"
                this.contenido_2.font_size_number = "240%"
                this.contenido_2.number_margin_t = "30px"
                this.contenido_2.margin_top_card = "-50px"
                /////////////////////////////////////////////
                this.contenido_3.font_size_title = "150% !important"
                this.contenido_3.font_size_text = "67% !important"
                this.contenido_3.line_height_title = "1.5rem"
                this.contenido_3.line_height_text = "1rem"
                this.contenido_3.margin_top_text = "mt-0"
                this.contenido_3.img_height = "90px"
                this.contenido_3.img_width = "90px"
                this.contenido_3.img_margin_t = "-10px"
                this.contenido_3.img_margin_l = "65px"
                this.contenido_3.font_size_number = "240%"
                this.contenido_3.number_margin_t = "0px"
                this.contenido_3.margin_top_card = "-40px"
                ////////////////////////////////////////////////
                this.contenido_4.font_size_title = "150% !important"
                this.contenido_4.font_size_text = "67% !important"
                this.contenido_4.line_height_title = "1.5rem"
                this.contenido_4.line_height_text = "1rem"
                this.contenido_4.margin_top_text = "mt-0"
                this.contenido_4.img_height = "90px"
                this.contenido_4.img_width = "90px"
                this.contenido_4.img_margin_t = "10px"
                this.contenido_4.img_margin_l = "65px"
                this.contenido_4.font_size_number = "240%"
                this.contenido_4.number_margin_t = " 20px"
                this.contenido_4.margin_top_card = "-40px"
                /////////////////////////////////////////////////
                this.contenido_5.font_size_title = "150% !important"
                this.contenido_5.font_size_text = "67% !important"
                this.contenido_5.line_height_title = "1.5rem"
                this.contenido_5.line_height_text = "1rem"
                this.contenido_5.margin_top_text = "mt-0"
                this.contenido_5.img_height = "90px"
                this.contenido_5.img_width = "90px"
                this.contenido_5.img_margin_t = "0px"
                this.contenido_5.img_margin_l = "35px"
                this.contenido_5.font_size_number = "240%"
                this.contenido_5.number_margin_t = "10px"
                this.contenido_5.margin_top_card = "-40px"
                /////////////////////////////////////////////////
                this.contenido_6.font_size_title = "150% !important"
                this.contenido_6.font_size_text = "67% !important"
                this.contenido_6.line_height_title = "1.5rem"
                this.contenido_6.line_height_text = "1rem"
                this.contenido_6.margin_top_text = "mt-0"
                this.contenido_6.img_height = "90px"
                this.contenido_6.img_width = "90px"
                this.contenido_6.img_margin_t = "0px"
                this.contenido_6.img_margin_l = "65px"
                this.contenido_6.font_size_number = "240%"
                this.contenido_6.number_margin_t = "20px"
                this.contenido_6.margin_top_card = "-40px"
            }

            else if (window.innerWidth > 1650) {
                    this.time_line.position ='absolute'
                    this.time_line.height= '39%'
                    this.time_line.width= '256px'
                    this.time_line.left= '44%'
                    this.show = true
                    this.height_container = "2600px !important"
                    this.contenido_1.font_size_title = '423% !important'
                    this.contenido_1.font_size_text = '166% !important'
                    this.contenido_1.line_height_title = "4rem"
                    this.contenido_1.line_height_text = "2rem"
                    this.contenido_1.margin_top_text = 'mt-9'
                    this.contenido_1.font_size_number = '523% !important'
                    this.contenido_1.img_height = '160px'
                    this.contenido_1.img_width = '160px'
                    this.contenido_1.img_margin_l = '20px'
                    this.contenido_1.img_margin_t = '190px'
                    this.contenido_1.number_margin_t = '200px'
                    this.contenido_1.margin_top_card = ''
                    //////////////////////////////////
                     this.contenido_2.font_size_title= '423% !important'
                     this.contenido_2.font_size_text= '166% !important'
                     this.contenido_2.line_height_title= "4rem"
                     this.contenido_2.line_height_text= "2rem"
                     this.contenido_2.margin_top_text= 'mt-9'
                     this.contenido_2.font_size_number= '523% !important'
                     this.contenido_2.img_height= '160px'
                     this.contenido_2.img_width= '160px'
                     this.contenido_2.img_margin_l= '110px'
                     this.contenido_2.img_margin_t= '90px'
                     this.contenido_2.number_margin_t= '100px'
                     this.contenido_2.margin_top_card= ''
                    ///////////////////////////////////
                     this.contenido_3.font_size_title= '423% !important'
                     this.contenido_3.font_size_text= '166% !important'
                     this.contenido_3.line_height_title= "4rem"
                     this.contenido_3.line_height_text= "2rem"
                     this.contenido_3.margin_top_text= 'mt-9'
                     this.contenido_3.font_size_number= '523% !important'
                     this.contenido_3.img_height= '160px'
                     this.contenido_3.img_width= '160px'
                     this.contenido_3.img_margin_l= '10px'
                     this.contenido_3.img_margin_t= '-11px'
                     this.contenido_3.number_margin_t= '0px'
                     this.contenido_3.margin_top_card= ''
                     ////////////////////////////////////////
                    this.contenido_4.font_size_title= '423% !important'
                    this.contenido_4.font_size_text= '166% !important'
                    this.contenido_4.line_height_title= "4rem"
                    this.contenido_4.line_height_text= "2rem"
                    this.contenido_4.margin_top_text= 'mt-9'
                    this.contenido_4.font_size_number= '523% !important'
                    this.contenido_4.img_height= '160px'
                    this.contenido_4.img_width= '160px'
                    this.contenido_4.img_margin_l= '104px'
                    this.contenido_4.img_margin_t= '-10px'
                    this.contenido_4.number_margin_t= '-10px'
                    this.contenido_4.margin_top_card= '-50px'       
                    /////////////////////////////////////////////   
                    this.contenido_5.font_size_title= '423% !important'
                    this.contenido_5.font_size_text= '166% !important'
                    this.contenido_5.line_height_title= "4rem"
                    this.contenido_5.line_height_text= "2rem"
                    this.contenido_5.margin_top_text= 'mt-9'
                    this.contenido_5.font_size_number= '523% !important'
                    this.contenido_5.img_height= '160px'
                    this.contenido_5.img_width= '160px'
                    this.contenido_5.img_margin_l= '10px'
                    this.contenido_5.img_margin_t= '-25px'
                    this.contenido_5.number_margin_t= '-30px'
                    this.contenido_5.margin_top_card= '-50px'           
                    //////////////////////////////////////////////
                    this.contenido_6.font_size_title= '423% !important'
                    this.contenido_6.font_size_text= '166% !important'
                    this.contenido_6.line_height_title= "4rem"
                    this.contenido_6.line_height_text= "2rem"
                    this.contenido_6.margin_top_text= 'mt-9'
                    this.contenido_6.font_size_number= '523% !important'
                    this.contenido_6.img_height= '160px'
                    this.contenido_6.img_width= '160px'
                    this.contenido_6.img_margin_l= '104px'
                    this.contenido_6.img_margin_t= '40px'
                    this.contenido_6.number_margin_t= '40px'
                    this.contenido_6.margin_top_card= ''
                    //////////////////////////////////////////////

            }
            else {
                this.show = true
                this.height_container = "1800px !important"
                this.time_line.width = "183px"
                this.time_line.height = "36%"
                this.time_line.left = "42%"
                this.contenido_1.font_size_title = "220% !important"
                this.contenido_1.font_size_text = "105% !important"
                this.contenido_1.line_height_title = "2.5rem"
                this.contenido_1.line_height_text = "1.5rem"
                this.contenido_1.margin_top_text = "mt-1"
                this.contenido_1.img_height = "110px"
                this.contenido_1.img_width = "110px"
                this.contenido_1.img_margin_t = "125px"
                this.contenido_1.img_margin_l = "75px"
                this.contenido_1.font_size_number = "350%"
                this.contenido_1.number_margin_t = "125px"
                ////////////////////////////////////////
                this.contenido_2.font_size_title = "220% !important"
                this.contenido_2.font_size_text = "105% !important"
                this.contenido_2.line_height_title = "2.5rem"
                this.contenido_2.line_height_text = "1.5rem"
                this.contenido_2.margin_top_text = "mt-2"
                this.contenido_2.img_height = "110px"
                this.contenido_2.img_width = "110px"
                this.contenido_2.img_margin_t = "-30px"
                this.contenido_2.img_margin_l = "65px"
                this.contenido_2.font_size_number = "400%"
                this.contenido_2.number_margin_t = "-30px"
                this.contenido_2.margin_top_card = "-90px"
                /////////////////////////////////////////////
                this.contenido_3.font_size_title = "220% !important"
                this.contenido_3.font_size_text = "105% !important"
                this.contenido_3.line_height_title = "2.5rem"
                this.contenido_3.line_height_text = "1.5rem"
                this.contenido_3.margin_top_text = "mt-2"
                this.contenido_3.img_height = "110px"
                this.contenido_3.img_width = "110px"
                this.contenido_3.img_margin_t = "-75px"
                this.contenido_3.img_margin_l = "65px"
                this.contenido_3.font_size_number = "400%"
                this.contenido_3.number_margin_t = "-75px"
                this.contenido_3.margin_top_card = "-110px"
                ////////////////////////////////////////////////
                this.contenido_4.font_size_title = "220% !important"
                this.contenido_4.font_size_text = "105% !important"
                this.contenido_4.line_height_title = "2.5rem"
                this.contenido_4.line_height_text = "1.5rem"
                this.contenido_4.margin_top_text = "mt-2"
                this.contenido_4.img_height = "110px"
                this.contenido_4.img_width = "110px"
                this.contenido_4.img_margin_t = "-3   0px"
                this.contenido_4.img_margin_l = "65px"
                this.contenido_4.font_size_number = "400%"
                this.contenido_4.number_margin_t = "-30px"
                this.contenido_4.margin_top_card = "-80px"
                /////////////////////////////////////////////////
                this.contenido_5.font_size_title = "220% !important"
                this.contenido_5.font_size_text = "105% !important"
                this.contenido_5.line_height_title = "2.5rem"
                this.contenido_5.line_height_text = "1.5rem"
                this.contenido_5.margin_top_text = "mt-2"
                this.contenido_5.img_height = "110px"
                this.contenido_5.img_width = "110px"
                this.contenido_5.img_margin_t = "-50px"
                this.contenido_5.img_margin_l = "65px"
                this.contenido_5.font_size_number = "400%"
                this.contenido_5.number_margin_t = "-50px"
                this.contenido_5.margin_top_card = "-70px"
                /////////////////////////////////////////////////
                this.contenido_6.font_size_title = "220% !important"
                this.contenido_6.font_size_text = "105% !important"
                this.contenido_6.line_height_title = "2.5rem"
                this.contenido_6.line_height_text = "1.5rem"
                this.contenido_6.margin_top_text = "mt-2"
                this.contenido_6.img_height = "110px"
                this.contenido_6.img_width = "110px"
                this.contenido_6.img_margin_t = "-20px"
                this.contenido_6.img_margin_l = "65px"
                this.contenido_6.font_size_number = "400%"
                this.contenido_6.number_margin_t = "-20px"
                this.contenido_6.margin_top_card = "-90px"
            }
        }
    },

    data: () => ({
        show: true,
        height_container: '',
        contenido_1: {
            font_size_title: '423% !important',
            font_size_text: '166% !important',
            line_height_title: "4rem",
            line_height_text: "2rem",
            margin_top_text: 'mt-9',
            font_size_number: '523% !important',
            img_height: '160px',
            img_width: '160px',
            img_margin_l: '20px',
            img_margin_t: '190px',
            number_margin_t: '200px',
            margin_top_card: ''
        },
        contenido_2: {
            font_size_title: '423% !important',
            font_size_text: '166% !important',
            line_height_title: "4rem",
            line_height_text: "2rem",
            margin_top_text: 'mt-9',
            font_size_number: '523% !important',
            img_height: '160px',
            img_width: '160px',
            img_margin_l: '110px',
            img_margin_t: '90px',
            number_margin_t: '100px',
            margin_top_card: ''
        },
        contenido_3: {
            font_size_title: '423% !important',
            font_size_text: '166% !important',
            line_height_title: "4rem",
            line_height_text: "2rem",
            margin_top_text: 'mt-9',
            font_size_number: '523% !important',
            img_height: '160px',
            img_width: '160px',
            img_margin_l: '10px',
            img_margin_t: '-11px',
            number_margin_t: '0px',
            margin_top_card: ''
        },
        contenido_4: {
            font_size_title: '423% !important',
            font_size_text: '166% !important',
            line_height_title: "4rem",
            line_height_text: "2rem",
            margin_top_text: 'mt-9',
            font_size_number: '523% !important',
            img_height: '160px',
            img_width: '160px',
            img_margin_l: '104px',
            img_margin_t: '-10px',
            number_margin_t: '-10px',
            margin_top_card: '-50px'
        },
        contenido_5: {
            font_size_title: '423% !important',
            font_size_text: '166% !important',
            line_height_title: "4rem",
            line_height_text: "2rem",
            margin_top_text: 'mt-9',
            font_size_number: '523% !important',
            img_height: '160px',
            img_width: '160px',
            img_margin_l: '10px',
            img_margin_t: '-25px',
            number_margin_t: '-30px',
            margin_top_card: '-50px'
        },
        contenido_6: {
            font_size_title: '423% !important',
            font_size_text: '166% !important',
            line_height_title: "4rem",
            line_height_text: "2rem",
            margin_top_text: 'mt-9',
            font_size_number: '523% !important',
            img_height: '160px',
            img_width: '160px',
            img_margin_l: '104px',
            img_margin_t: '40px',
            number_margin_t: '40px',
            margin_top_card: ''
        },
        time_line: {
            position: 'absolute',
            height: '39%',
            width: '256px',
            left: '44%'
        }
    }),

});
</script>

<style scope>

</style>