<template>
    <v-footer dark padless>
        <v-card flat tile class="footer_color white--text text-center">
            <v-row justify="center" no-gutters class="mt-7">
                <v-btn :style="{ 'font-size': font }" v-for="link in footer_links"
                    v-bind:class="link != 'Blog' ? 'btn_foot_border' : ''" :key="link" color="white" text
                    class="my-2 ">
                    {{ link }}
                </v-btn>
            </v-row>

            <v-row no-gutters class="mt-8"  :class="padding"> 
                <v-col cols="12" sm="12" md="6" class="pa-6">

                    <img class="img_footer" src="@/assets/pages/footer/recurso_footer.webp" alt="Logo">
                    

                </v-col>
                <v-col cols="12" md="6" sm="12" class="text-md-left text-sm-center">
                    <v-row no-glutters>
                        <v-col cols="12" md="4" sm="6">
                            <h1 :style='{"font-size": ft}' class="mt-4">015007000</h1>
                            <v-btn v-bind:style="{'width':wd, 'height':mxh}" style="border-radius:10px !important" class="mt-6" outlined color="white">
                                <icon :style="{'min-width':min_width_img_btn}" class="svg_icon_pay" name="pay"></icon>
                            </v-btn>
                        </v-col>
                        <v-col cols="12" md="6" sm="6" class="">
                            <v-card-text :class="mt3">
                                <!--
                                    <v-btn style="" v-for="icon in icons" :key="icon" class="white--text ml-3" icon large>
                                    
                                    <v-icon :size="size_icon">
                                        {{ icon }}
                                    </v-icon>
                                </v-btn>
                                -->

                                <section class="justify-content-between">
                                    <v-btn class="white--text ml-5 mt-2" icon>
                                        <img class="img_icons_footer" src="@/assets/icons/Footer_icons/Recurso50.svg" alt="">
                                    </v-btn>
                                    <v-btn class="white--text ml-5 mt-2" icon>
                                        <img class="img_icons_footer" src="@/assets/icons/Footer_icons/Recurso47.svg" alt="">
                                    </v-btn>
                                    <v-btn class="white--text ml-5 mt-2" icon>
                                        <img class="img_icons_footer" src="@/assets/icons/Footer_icons/Recurso48.svg" alt="">
                                    </v-btn>
                                    <v-btn class="white--text ml-5 mt-2" icon>
                                        <img class="img_icons_footer" src="@/assets/icons/Footer_icons/Recurso51.svg" alt="">
                                    </v-btn>
                                    <v-btn class="white--text ml-5 mt-2" icon>
                                        <img class="img_icons_footer" src="@/assets/icons/Footer_icons/Recurso49.svg" alt="">
                                    </v-btn>
                                </section>
                                                                    
                                
                            </v-card-text>
                            <v-container :class="mt3" class="ml-5">
                                <v-btn v-bind:style="{'width':wd, 'height':mxh}" style="border-radius:10px !important" outlined color="white">
                                    <icon  class="svg_icon_book btn_foot" name="book"></icon>
                                    <div>Libro de reclamaciones</div>
                                </v-btn>
                            </v-container>

                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
            <v-row class="pl-15 pr-15">
                <v-divider class="test"></v-divider>
            </v-row>
            <v-card-text class="white--text mt-2">
                <v-row no-gutters>
                    <v-col cols="12" md="6" sm="12" >
                        <p :style="{ 'font-size': font }" class="text_footer_font text-center" >Copyright 2022
                            TODOS LOS DERECHOS RESERVADOS A CORPORACIÓN EDUCA S.A.C. - RUC: 20602618995 </p>
                    </v-col>
                    <v-col cols="12" md="2" sm="4" >
                        <p :style="{ 'font-size': font }" class="text_footer_font text-center" >Térmios y
                            Condiciones </p>
                    </v-col>
                    <v-col cols="12" md="2" sm="4" >
                        <p :style="{ 'font-size': font }" class="text_footer_font text-center" > Política de
                            Privacidad</p>
                    </v-col>
                    <v-col cols="12" md="2" sm="4" >
                        <p :style="{ 'font-size': font }" class="text-center" >Política de
                            Privacidad</p>
                    </v-col>
                </v-row>
            </v-card-text>
            
        </v-card>
    </v-footer>
</template>
<style scoped>
    .img_icons_footer{
        width: 30px;
        height: 30px;
    }
    .img_footer{
        width: 250px;
        height: 110px;
    }
    @media screen and (min-width:1651px){
        .img_footer{
            width:280px;
            height:130px;
        }
    }
    
</style>

<script lang="ts">
import Vue from "vue";
import Icon from '@/assets/icons/Icon.vue';

export default Vue.extend({
    components: {
        Icon,

    },
    name: "Footer",
    data: () => ({
        font: "",
        size_button: "",
        img_footer: "",
        ft:"",
        wd:"",
        mxh:"",
        min_width_img_btn:"",
        size_icon :"30",
        mt3:"",
        padding:"",

        icons: [
            'mdi-facebook',
            'mdi-linkedin',
            'mdi-youtube',
            'mdi-instagram',
            'mdi-twitter',
        ],
        footer_links: [
            'Inicio',
            'Sobre Columbia',
            'Oferta Educativa',
            'Partners',
            'Profesionales Columbia',
            'Portal del Alumno',
            'Blog'
        ],
    }),
    mounted() {
        this.onResize();
        window.addEventListener("resize", this.onResize, { passive: true });
    },
    methods: {
        onResize() {

            if (window.innerWidth > 1650) {
                this.font = "18px"
                this.ft ="290%"
                this.img_footer = "img_footer"
                this.wd= "270px !important"
                this.mxh = "50px !important"
                this.min_width_img_btn = "160px"
                this.size_icon ="50"
                this.mt3="mt-3"
                this.padding="pa-12"


            } else {
                this.font = "12px"
                this.ft= ""
                //this.img_footer = "img_footer2"
                this.wd= ""
                this.mxh = ""
                this.min_width_img_btn =""
                this.size_icon ="30"
                this.mt3=""
                this.padding=""

            }
   
        }
    }
});
</script>

<style>
.footer_color {
    background: rgba(42, 45, 206, 0.774);
    background: linear-gradient(0deg, hsla(256, 95%, 62%, 0.582), #0059f3 98%);
}

.test {

    border-color: rgb(255, 255, 255) !important;
    height: 100%;
}

.v-card {
    width: 100%;
}

.svg_icon_book {
    width: 30px;
    height: 20px;
    margin-right: 10px;
    fill: white;
}

.svg_icon_pay {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    fill: white;
}

.text_footer_font {
    
    border-right: solid 1px;
    color:white;
}

.btn_foot_border {
    border-right: 1px solid !important;
    border-radius: unset !important;
}



.btn_foot {
    font-size: 54px !important;
}
</style>