<template>
  <v-img src="@/assets/pages/form/recurso-form.png">
    <v-container :style="{ 'height': section_height }">
      <v-row class="mt-16">
        <v-col cols="12" sm="12" md="4" lg="5" xl="4" offset-xl="1" class="mt-16" justify=" right">
          <v-img class="pa-1 mt-16" :style="{ 'height': height_img }" src="@/assets/pages/form/geometric_form.webp">
            <v-card color="transparent" outlined class="white--text" :class="pa1">
              <v-layout column align-start :class="margin_top2">
                <h1 class="h1_card_sect1 mb-3" :style="{ 'font-size': font_size_title }">¡PREINSCRÍBETE!</h1>
                <span :class="margin_top" :style="{ 'font-size': font_size_text }">Déjanos tus datos para brindarte mayor
                  información sobre nuestras carreras y
                  programas.</span>
              </v-layout>
            </v-card>
          </v-img>
        </v-col>
        <v-col cols="12" sm="12" md="7" lg="7" xl="6" :class="padding">
          <v-card style="  border-radius: 24px 24px 24px 24px !important;
           background-color: rgba(255, 255, 255, 0.88) !important;
           min-height: 275px !important;" class="card_form pa-md-12">
            <v-form ref="form" v-model="valid" lazy-validation class="">
              <v-row>
                <v-col cols="12" md="6" sm="12" :class="padding_form">
                  <v-text-field v-model="name" :counter="25" :rules="nameRules" label="Nombres y Apellidos"
                    prepend-icon="mdi mdi-card-account-details-outline info--text" required>
                  </v-text-field>
                </v-col>
                <v-col cols="12" md="6" sm="12" :class="padding_form">
                  <v-text-field v-model="phone" :rules="phoneRules" label="Celular" prepend-icon="mdi mdi-cellphone info--text"
                    required></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="6" sm="12" :class="padding_form">
                  <v-text-field v-model="email" :rules="emailRules" label="Correo Electrónico"
                    prepend-icon="mdi mdi-email-outline info--text" required></v-text-field>
                </v-col>
                <v-col cols="12" md="6" sm="12" :class="padding_form">
                  <v-select :items="items" :rules="[v => !!v || 'Debe elegir una opción']" label="Distrito"
                    prepend-icon="mdi mdi-map-marker-radius-outline info--text" required></v-select>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="6" sm="12" :class="padding_form">
                  <v-select :items="items" :rules="[v => !!v || 'Debe elegir una opción']"
                    label="Carrera o programa de interés" prepend-icon="mdi mdi-book-education-outline info--text"
                    required></v-select>
                </v-col>
                <v-col cols="12" md="6" sm="12" :class="padding_form">
                  <v-select :items="items" :rules="[v => !!v || 'Debe elegir una opción']"
                    label="Estado académico actual" prepend-icon="mdi mdi-school-outline info--text" required></v-select>
                </v-col>
              </v-row>
              <v-checkbox :class="padding_form" :rules="[v => !!v || 'Debe Aceptar para Continuar!']"
                label="Acepto la Política de Privacidad y Protección de Datos Personales" required>
              </v-checkbox>

              <v-btn :class="btn_position" :disabled="!valid" small color="primary" @click="validate">
                enviar
              </v-btn>
            </v-form>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-img>
</template>
    
<script>
import Vue from "vue";

//  
//  alert("La resolución de tu pantalla es: " + screen.width + " x " + screen.height);

export default Vue.extend({
  name: "Form",
  data: () => ({
    padding_form: "",
    margin_left: "mx-auto",
    margin_top: "",
    margin_top2: "",
    pa1: "px-16",
    font_size_text: "",
    font_size_title: "",
    section_height: "",
    name: '',
    padding: "",
    height_img: "",
    btn_position:"",
    valid: true,
    nameRules: [
      v => !!v || 'Nombre y Apellido son requeridos',
      v => (v && v.length > 6) || 'El nombre debe contener mas de 6 carácteres',
      v => (v && v.length <= 25) || 'El nombre debe contener menos de 25 carácteres',
    ],
    phone: '',
    phoneRules: [
      v => !!v || 'Numero de celular es requerido',
      // v => (v && v.length > 6) || '#restriccion',
      // v => (v && v.length <= 25) || '#restriccion',
    ],
    email: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
    select: null,
    items: [
      'Item 1',
      'Item 2',
      'Item 3',
      'Item 4',
    ],
    checkbox: false,

  }),

  mounted() {
    this.onResize()
    window.addEventListener('resize', this.onResize, { passive: true })
  },


  methods: {
    validate() {
      this.$refs.form.validate()
    },
    reset() {
      this.$refs.form.reset()
    },
    resetValidation() {
      this.$refs.form.resetValidation()
    },
    onResize() {
      console.log(window.innerWidth)
      if (window.innerWidth <= 600) {
        this.btn_position ="button_position_sm"
        this.pa1 = "pa-1"
        this.padding_form = "pa-10"
        this.padding = ""
        this.font_size_text = "109% !important"
        this.height_img = "172px !important"
        this.font_size_title = "184% !important"
        this.margin_top = "mt-0"
        this.margin_top2 = ""
        this.section_height = "1535px !important"

      }else if (window.innerWidth > 600 && window.innerWidth < 1000 ) {
        this.section_height = "1250px !important"


      } 
      else if (window.innerWidth > 1000 && window.innerWidth < 1650 ) {

        this.padding_form = ""
        this.padding = "pa-12"
        this.pa1 = "px-8"
        this.height_img = "208px !important"
        this.font_size_text = "112% !important"
        this.font_size_title = "233% !important"
        this.margin_top = "mt-2"
        this.margin_top2 = "mt-10"
        this.section_height = "650px !important"
        this.btn_position =""
      }
      else if (window.innerWidth > 1650) {
        this.padding_form = ""
        this.padding = "pa-12"
        this.height_img = "248px !important"
        this.font_size_text = "120% !important"
        this.font_size_title = "250% !important"
        this.margin_top = "mt-2"
        this.margin_top2 = "mt-10"
        this.pa1 = "px-8"
        this.section_height = "650px !important"
        this.btn_position =""
      }
      else {
        this.pa1 = "px-8"
        this.padding_form = ""
        this.padding = ""
        this.height_img = "206px !important"
        this.font_size_text = ""
        this.font_size_text = "100% !important"
        this.font_size_title = "270% !important"
        this.section_height = "650px !important"
        this.btn_position =""
      }
    }
  },

});
</script>
<style scoped>
.card_form {
  border-radius: 24px 24px 24px 24px !important;
  background-color: rgba(255, 255, 255, 0.88) !important;
  min-height: 275px !important;
}


@media only screen and (max-width: 600px) {

  .card_form {
    padding: 20px !important;

  }
}

@media only screen and (max-width: 1000px) {

  .card_form {
    padding: 20px !important;
    background-color: transparent;
  }
}

.v-img_card_form {
  max-height: 271px;
  max-width: 622px;
}

.button_position_sm {
  margin-top: -50px;
  margin-left: 50px;
}
</style>