<template>
  <div>
   <Loader />
   <HomePageSection1 />
   <HomePageSection2 />
   <HomePageSection3 />
   <HomePageSection4 />
   <Form  />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
const HomePageSection1 = () => import("./Home_Sections/Section1.vue")
const HomePageSection2 = () => import("./Home_Sections/Section2.vue")
const HomePageSection3 = () => import("./Home_Sections/Section3.vue")
const HomePageSection4 = () => import("./Home_Sections/Section4.vue")
const Form = () => import("./Form.vue")
const Loader = () => import("@/components/Loader.vue")


export default Vue.extend({
  name: "HomePage",

  components: {
    HomePageSection1,
    HomePageSection2,
    HomePageSection3,
    HomePageSection4,
    Form,Loader
  },
  data: () => ({
  }),
});
</script>

