<template>
  <div class="text-center">
    <v-overlay :value="overlay_loader" color="black">
      <v-progress-circular color="primary" indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>

export default {
  data: () => ({
    overlay_loader: true,
  }),

  mounted() {
   
    this.overlay()


  },
  methods: {
    overlay() {
      setTimeout(() => {
        this.overlay_loader = false
      }, 1500)
    },
  },



}
</script>