<template>
  <section style="padding: 75px;">
    <v-container class="mt-7 mb-10" style="max-width: 1600px !important;">
      <v-row no-gutters>
        <v-col cols="12" md="4" sm="12" class="blue_text--text">
          <h2 class="text-uppercase font-weight-black" style="font-size: 155% !important; "> Instituto Columbia</h2>
          <v-list-item three-line class="delete_padding font-weight-black " >
            <v-list-item-content style="padding: 30px 0px !important; margin-top: -16px !important;">
              <v-list-item-subtitle class="font-weight-regular" style="font-size: 100% !important;">
                <i> RM No. 010-2019 MINEDU</i>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <h2 class="text-uppercase font-weight-black" style="font-size: 155% !important; ">CARRERAS</h2>
          <v-list-item three-line class="delete_padding font-weight-black ">
            <v-list-item-content style="padding: 30px 0px !important; margin-top: -16px !important;">
              <v-list-item-subtitle class="font-weight-regular " style="font-size: 100% !important;">
                Hotelería Internacional
              </v-list-item-subtitle>
              <v-list-item-subtitle class="font-weight-regular mt-3" style="font-size: 100% !important;">
                Alta Cocina
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <h2 class="text-uppercase font-weight-black" style="font-size: 155% !important;">PROGRAMAS DE FORMACIÓN CONTINUA</h2>
          <v-list-item three-line class="delete_padding font-weight-black ">
            <v-list-item-content style="padding: 30px 0px !important; margin-top: -16px !important;">
              <v-list-item-subtitle class="font-weight-regular " style="font-size: 100% !important;">
                Cabin Crew: Servicio y hospitalidad en
                vuelos comerciales
              </v-list-item-subtitle>
              <v-list-item-subtitle class="font-weight-regular mt-3" style="font-size: 100% !important;">
                Servicio y atención de viajeros a bordo
              </v-list-item-subtitle>
              <v-list-item-subtitle class="font-weight-regular mt-3" style="font-size: 100% !important;">
                Counter
              </v-list-item-subtitle>
              <v-list-item-subtitle class="font-weight-regular mt-3" style="font-size: 100% !important;">
                Software informático para Hoteles y Restaurantes
              </v-list-item-subtitle>
              <v-list-item-subtitle class="font-weight-regular mt-3" style="font-size: 100% !important;">
                Bartender
              </v-list-item-subtitle>
              <v-list-item-subtitle class="font-weight-regular mt-3" style="font-size: 100% !important;">
                Panadería y Pastelería
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-col>
        <v-col cols="12" offset-md="1" md="3" sm="12" class="blue_text--text">
          <h2 class="text-uppercase font-weight-black" style="font-size: 155% !important;">CETPRO COLUMBIA</h2>
          <v-list-item three-line class="delete_padding font-weight-black ">
            <v-list-item-content style="padding: 30px 0px !important; margin-top: -16px !important;">
              <v-list-item-subtitle class="font-weight-regular " style="font-size: 100% !important;">
                <i> RDR No. 05741-2009 DRELM - Lince</i>
              </v-list-item-subtitle>
              <v-list-item-subtitle class="font-weight-regular " style="font-size: 100% !important;">
                <i> RDR No. 111885-2014 - Los Olivos</i>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <h2 class="text-uppercase font-weight-black" style="font-size: 155% !important;">ESPECIALIDAD</h2>
          <v-list-item three-line class="delete_padding font-weight-black ">
            <v-list-item-content style="padding: 30px 0px !important; margin-top: -16px !important;">
              <v-list-item-subtitle class="font-weight-regular " style="font-size: 100% !important;">
                Aviación Comercial
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-col>
        <v-col cols="12" offset-md="1" md="3" sm="12" class="blue_text--text">
          <h2 class="text-uppercase font-weight-black" style="font-size: 155% !important;">Sedes </h2>
          <v-list-item three-line class="delete_padding font-weight-black ">
            <v-list-item-content style="padding: 30px 0px !important; margin-top: -16px !important;">
              <v-list-item-subtitle class=" font-weight-regular" style="font-size: 100% !important;">
                Av. Javier Prado Este 515
                <br> <strong><span style="font-size: 105% !important;">SAN ISIDRO</span></strong> 
              </v-list-item-subtitle>
              <v-list-item-subtitle class="font-weight-regular mt-5" style="font-size: 100% !important;">
                Av. Paseo de la República 2232
                <br> <strong><span style="font-size: 105% !important;"> LINCE</span></strong>
              </v-list-item-subtitle>
              <v-list-item-subtitle class="font-weight-regular mt-5" style="font-size: 100% !important;">
                Av. Angélica Gamarra 160-174
                <br> <strong> <span style="font-size: 105% !important;">LOS OLIVOS</span></strong>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>
    
<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "Pre_footer",

  data: () => ({

  }),

});
</script>

<style scoped>
.delete_padding {
  padding: 0 !important;
}
</style>