<template>
    <v-container v-if="md === true" :style="{'height':height_section}">
        <v-row no-gutters align="center" justify="center" class="" >
            <v-divider class="items_line"
                :style="{ 'border': divider_border, 'margin-left': ml_divider, 'width': width_divider}"></v-divider>
            <v-col cols="12" md="2" sm="12" lg="2" xl="2" v-for="(item, i) in items" :key=i class="text-center"
                style="height: 300px;">
                <v-card flat color="transparent" class="pb-3">
                    <div :style="{ 'width': icon_width, 'height': icon_height,'margin-top':mt_icons }" style="margin-left: auto; margin-right: auto;">
                        <v-img :src="item.icon"></v-img>
                    </div>
                    <v-card-text :style="{'margin-left': ml_content}">
                        <h5 :style="{'font-size':font_size_title}" class=" grey--text">{{ item.title }}</h5>
                        <h4 v-if="item.text_array?.length" v-for="tex in item.text_array" class="grey--text mt-2 text-horarios">
                            <strong>
                                {{ tex.text }}
                            </strong>
                        </h4>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>

    </v-container>

    <!--
    <v-container v-else-if="sm === true" class="mt-7">
        <v-row>
            <v-col sm="12" cols="12" class="text-center" width="100%">
                <v-btn class="mx-auto" fab dark large color="white" justify>
                    <clockf class="svg_tm_line" name="clockf"></clockf>
                </v-btn>
                <h5 class=" grey--text mt-2">Duración:</h5>
                <h4 class=" grey--text">
                    <strong>
                        3 años
                    </strong>
                </h4>
            </v-col>
            <v-col sm="12" cols="12" class="text-center" width="100%">
                <v-btn class="mx-auto" fab dark large color="white" justify>
                    <calendar class="svg_tm_line" name="calendar"></calendar>
                </v-btn>
                <h5 class=" grey--text mt-2">Frecuencia:</h5>
                <h4 class=" grey--text">
                    <strong>
                        Lunes a Viernes
                    </strong>
                </h4>
            </v-col>
            <v-col sm="12" cols="12" class="text-center" width="100%">
                <v-btn class="mx-auto" fab dark large color="white" justify>
                    <clock class="svg_tm_line" name="clock"></clock>
                </v-btn>
                <h5 class=" grey--text mt-2">Horarios:</h5>
                <h4 class=" grey--text"><strong>Mañana</strong></h4>
                <h4 class=" grey--text"><strong>8:00 a.m. - 12:20 m.</strong></h4>
                <h4 class=" grey--text"><strong>Tarde</strong></h4>
                <h4 class=" grey--text"><strong>2:00 p.m. - 6:20 p.m</strong></h4>
            </v-col>
            <v-col sm="12" cols="12" class="text-center" width="100%">
                <v-btn class="mx-auto" fab dark large color="white" justify>
                    <pointer class="svg_tm_line" name="pointer"></pointer>
                </v-btn>
                <h5 class=" grey--text mt-2">Sede donde estudiar:</h5>
                <h4 class=" grey--text">
                    <strong>
                        San Isidro
                    </strong>
                </h4>
            </v-col>
            <v-col sm="12" cols="12" class="text-center" width="100%">
                <v-btn class="mx-auto" fab dark large color="white" justify>
                    <bag class="svg_tm_line" name="bag"></bag>
                </v-btn>
                <h5 class=" grey--text mt-2">Campo laboral:</h5>
                <h4 class=" grey--text"><strong>Restaurantes</strong></h4>
                <h4 class=" grey--text"><strong>Hoteles</strong></h4>
                <h4 class=" grey--text"><strong>Cruceros</strong></h4>
                <h4 class=" grey--text"><strong>Resorts</strong></h4>
            </v-col>

        </v-row>
    </v-container>
    -->

</template>

<script lang="ts">
import Vue from "vue";
import Bag from '@/assets/icons/bag.vue';
import Calendar from '@/assets/icons/calendar.vue';
import Clock from '@/assets/icons/clock.vue';
import Clockf from '@/assets/icons/clockf.vue';
import Pointer from '@/assets/icons/pointer.vue';

export default Vue.extend({
    name: "EduOffer2_3",
    components: {
        Bag,
        Calendar,
        Clock,
        Clockf,
        Pointer,
    },

    mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },

    methods: {

        onResize() {

            if (window.innerWidth <= 600) {
                this.sm = true;
                this.md = false;

            } else if (window.innerWidth > 1650) {
                this.divider_border = "10px solid transparent"
                this.ml_divider = "34px"
                this.width_divider = "57%"
                this.mt_icons = "118px"
                this.ml_content ="-9px"
                this.font_size_title="110% !important"
                this.font_size_text="118% !important"
                this.icon_width ="80px !important"
                this.icon_height ="80px !important"
                this.height_section ="550px"
            }
            else {
                this.divider_border = "12px solid transparent"
                this.ml_divider = "34px"
                this.width_divider = "73%"
                this.mt_icons = "110px"
                this.ml_content ="-5px"
                this.font_size_title="90% !important"
                this.font_size_text="110% !important"
                this.icon_width ="80px !important"
                this.icon_height ="80px !important"
                this.height_section ="400px"
                this.sm = false;
                this.md = true;
            }
        }
    },

    data: () => ({
        md: true,
        sm: false,
        icon_width: "150px",
        icon_height: "150px",
        mt_icons:"",
        divider_border: "",
        ml_divider: "",
        width_divider: "",
        ml_content:"",
        font_size_title:"",
        font_size_text:"",
        height_section:"",
        items: [
            {
                icon: require("@/assets/icons/time_line/reloj_arrow.svg"),
                ml: "4px",
                mt: "7px  ",
                size: "90",
                title: "Duración:",
                text_array: [
                    { text: "8 meses" }
                ],
            },
            {
                icon: require("@/assets/icons/time_line/calendar.svg"),
                ml: "4px",
                mt: "10px",
                size: "90",
                title: "Frecuencia:",
                text_array: [
                    { text: "Luneas," },
                    { text: "miércoles," },
                    { text: "y viernes" },
                ],
            },
            {
                icon: require("@/assets/icons/time_line/reloj.svg"),
                ml: "4px",
                mt: "8px",
                size: "90",
                title: "Horarios:",
                text_array: [
                    { text: "Mañana" },
                    { text: "11:30a.m. - 1:55p.m." },
                    { text: "Tarde" },
                    { text: "6:30p.m. - 8:55p.m." }
                ]

            },
            {
                icon: require("@/assets/icons/time_line/pointer.svg"),
                ml: "4px",
                mt: "8px",
                size: "90",
                title: "Sede donde estudiar:",
                text_array: [
                    { text: "San Isidro" }
                ],
            },
            {
                icon: require("@/assets/icons/time_line/bag.svg"),
                ml: "0px",
                mt: "-2px",
                size: "65",
                title: "Campo Laboral:",
                text_array: [
                    { text: "Restaurantes" },
                    { text: "Hoteles" },
                    { text: "Catering" },
                    { text: "Resorts" },
                ]

            },
        ],
    }),

});
</script>

<style scoped>
    h4{
        line-height: 1rem;
    }
@media screen and (max-width: 1940px) {
    h4{
        line-height: 1.5rem;
    }
    h4.text-horarios{
        font-size: 110%;
    }
}
@media screen and (max-width: 1368px) {
    h4{
        line-height: 1.4rem;
    }
    h4.text-horarios{
        font-size: 110%;
    }
}
</style>