<template>
  <v-container fluid class="sect6_content" :style="{'height': height}">
    <v-row style="height: auto;">
      <v-col  cols="12" :class="pa1" sm="12" md="6" align="center" justify="center">
        <br>
        <h1 style="
        font-size: 54px; width: 82%; margin-left: -50px !important;" class="half-underline-white ml-6 white--text text-left font_section_titles">{{ items.title }}</h1>
        <h3 :class="margin_left " class="white--text text-left mt-10 text-justify">{{items.texto}}</h3>
      </v-col>
      <v-col cols="12" sm="12" md="6" class="text-center" style="background-color: ;">
        <v-row class="mt-8">
          <video controls :class="margin_top" :style="{'width': width}" style="margin-bottom: 80px !important;">
            <source type="video/mp4" :src=items.video_url />
          </video>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "EduOffer4_4",
  data: () => ({
    height:"650px",
    pa1:"pa-16",
    margin_left:"ml-6" ,
    margin_top:"mt-16",
    width:"90%",
    items:{
      title: "Fórmate en nuestro moderno módulo de bar",
      texto: "Una malla enfocada a desarrollar tu creatividad y conocimientos de coctelería nacional e internacional. Aprende de la mano de reconocidos bartenders, en los mejores ambientes y con una infraestructura de primer nivel. Accede a nuestra bolsa laboral y convenio con importantes cadenas hoteleras, restaurantes y bares.",
      video_url: require("@/assets/prueba.mp4")
    }
  }),
	mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },

    methods: {

        onResize() {

            if (window.innerWidth <= 600) {
                this.height="900px";
                this.pa1="pa-3";
                this.margin_left="ml-0";
                this.width="100%";
                this.margin_top="mt-0";
              } else {
                this.height="650px";
                this.pa1="pa-16";
                this.margin_left="ml-6";
                this.width="90%";
                this.margin_top="mt-16";
            }
        }
    },
});
</script>
<style scope>

.sect6_content {
  background: linear-gradient(to right, #6732bf, #225cea, #225cea, #6732bf);
  height: 750px;
}
</style>

