<template>
  <v-container fluid class="mt-15 sect6_content" style="height: auto !important;" >
    <v-row aling="center" justify="center" class="text-justify">
      <v-col cols="12" sm="12" md="6">
        <v-row justify="center">
          <h1 class="white--text text-center mt-15 title_partners_3" >{{ title }}</h1>
          <div class="arrow-down_white mt-7 text-center"></div>
        </v-row>
        <v-row justify="center" align="center">
          <v-col cols="11">
            <p class="mt-10 font-weight-regular white--text text-center">{{ content }}</p>
          </v-col>
        </v-row>
        <v-row justify="center" class="mb-10">
          <v-col cols="9">
            <v-img :src=img cover eager></v-img>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "AboutViewSection6",
  data: () => ({
    title: "Columbia y la Universidd de Anáhuac en Cancún",
    img: require("@/assets/pages/partners/img.png"),
    content: "Gracias a nuestros convenios de complementación académica, tienes la oportunidad de vivir una experiencia estudiantil en la mejor universidad de Cancún y tercera mejor universidad a nivel México.", 
  }),

});
</script>

<style scoped>
.sect6_content {
  background: linear-gradient(to right, #6732bf, #225cea, #225cea, #6732bf);
  height: 750px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 20px solid #fff;
  margin: auto;
}

.video_content {
  width: 80%;
  margin-left: 70px;
  margin-top: 50px;
}
@media screen and (max-width:1940px){
  p{
    font-size: 1.9vh;
  }
  .title_partners_3{
    font-size: 6vh;
    line-height: 7vh;
  }
}
@media screen and (max-width:1368px){
  p{
    font-size: 2.8vh;
    line-height: 4vh;
  }
  .title_partners_3{
    font-size: 7vh;
    line-height: 8vh;
  }
}
</style>