<template>
	<div>
		<section class="bannerIMG_container">
			<v-img style="width:100%; height:100%;" src="@/assets/pages/partners/banner1.png">
                <div style="z-index:-1; position:absolute; width:100%;height:100%;background-color:black; opacity:.3;">
					
				</div>
				<v-container style="height:100%;">
					<v-row style="height:100%;" align="center" justify="center">
						<h1 class="white--text banner_title"><span>{{ title }}</span></h1>
					</v-row>
				</v-container>
			</v-img>
		</section>
	</div>
</template>
<script lang="ts">
    import Vue from "vue";
    export default  Vue.extend({
        name:"Partners_1",
        data:() =>({
            title:'Partners',
            
        }),

    });
</script>
<style scoped>
@media screen and (max-width:1940px){
    .bannerIMG_container{
        margin-top: 7vh;
        height: 55vh;
    }
    .banner_title{
        font-size: 600%;
    }

}
@media screen and (max-width:1368px){
    .bannerIMG_container{
        margin-top: 10vh;
        height: 75vh;
    }
    .banner_title{
        font-size: 550%;
    }

}

</style>