<template>
	<div>
		<v-container>
			<div v-for="item in items">
				<v-row justify="center" class="mt-10">
					<v-col cols="12">
						<h1 class="blue_text--text text-center banner_title" >{{ item.title }}</h1>
						<div class="arrow-down mt-4"></div>
					</v-col>
				</v-row>
				<v-row>
					<v-col cols="12" class="mb-10">
						<v-img :src=item.img cover eager></v-img>
					</v-col>
				</v-row>
			</div>
				
		</v-container>
	</div>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
	name: "Partners_2",
	data: () => ({
		padding:"60px 120px 50px",
		items: [
			{
				title: 'Convenios y alianzas estratégicas',
				img: require("@/assets/pages/partners/partners_img.png"),
			},
			{
				title: 'Convenios de complementación académica',
				img: require("@/assets/pages/partners/partners_img2.png"),
			},
		]
	}),
  mounted() {
    this.onResize()
    window.addEventListener('resize', this.onResize, { passive: true })
  },

  methods: {

    onResize() {
      if (window.innerWidth <= 600) {
				this.padding =" 0px 0px 0px";
      } else {
				this.padding="60px 120px 50px";
      }
    }
  },
});
</script>

<style scoped>
.arrow-down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 20px solid rgb(116, 18, 207);
	margin: auto;
}
@media screen and (max-width:1940px){
	.banner_title{
		font-size: 4.5vh;
	}
}
@media screen and (max-width:1368px){
	.banner_title{
		font-size: 7vh;
	}
}
</style>