<template>
	
			
			<section id="bannerIMG">
				<v-row no-gutters style="height:100%;">
					<v-col align-self="center" cols="12 text-center">
						<h1 class="" id="bannerTittle">
							{{title}}
						</h1>
					</v-col>
					
				</v-row>
			</section>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
	name: "Section1",
	data: () => ({
			height_class:"",
			margin_top:"",
			font_size:"",
			title:"Portal del alumno",
			img: require("@/assets/pages/portal/banner1.png")
	}),
mounted() {
	this.onResize()
	window.addEventListener('resize', this.onResize, { passive: true })
},

methods: {
			// font-size: 351% !important;
	onResize() {
					console.log(window.innerWidth)
		if (window.innerWidth <= 800) {
							console.log("entro aca")
			this.font_size="250% !important"
							this.margin_top="70px !important"

		} else if ( window.innerWidth > 1650) {
							this.height_class="section_img"
							this.margin_top="205px !important"
							this.font_size="550% !important"
		}
		else if( window.innerWidth > 801 &&  window.innerWidth < 1650) {
							this.height_class="section_img_md"
							this.margin_top="185px !important"
							this.font_size="380% !important"
		}
	}
},
});
</script>
<style scoped>
.title_banner {
	font-size: 400% !important;
	margin-top: 75px;
}
#bannerIMG{
    background-image: url("@/assets/pages/portal/banner1.png");
    background-size: cover;
    height: 84vh;
}
#bannerTittle{
    margin-top: 14vh;
    font-size: 10vh;
    color:white;
}
@media screen and (max-width:1940px){
	#bannerTittle{
	
		font-size: 10vh;
	
	}
}
@media screen and (max-width:1368px){
	#bannerTittle{
	
		font-size: 12vh;
	
	}	
}
</style>