<template>
  <v-container class="mt-10 mb-12">
    <v-row class="pa-12">
      <v-col class="pa-2 mt-8" col="12" md="4" sm="12" v-for="item in items">
        <v-card style="height: 600px;" class="mt-2">
          <v-img  :src=item.img width="100%" height="100%">
            <v-row style="height: 100%;" class="text-center" align="center">
              <v-col cols="12" justify="center">
                <h1 class="white--text"><strong>{{ item.title }}</strong></h1>
              </v-col>
            </v-row>
          </v-img>
          <div justify="center" align="center">
            <v-btn :to="item.route" x-large color="primary" 
              style="margin-top: -20px; 
              border-radius: 15px !important; 
              text-transform: unset !important;
              background-color:#0077ff !important;
              padding-left: 55px !important;
              padding-right: 55px !important;"
              :style="{'font-size':btn_font}">
             <strong>Ingresar</strong>
            </v-btn>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "Portal_2",
  data: () => ({
    btn_font:"",
    items: [
      {
        title: "Empleabilidad",
        img: require("@/assets/pages/portal/card1.png"),
        route: ""
      },
      {
        title: "ColumbiaNET",
        img: require("@/assets/pages/portal/card2.png"),
        route: ""
      },
      {
        title: "Correo Institucional",
        img: require("@/assets/pages/portal/card3.png"),
        route: ""
      }            
    ]

  }),
	mounted() {
		this.onResize()
		window.addEventListener('resize', this.onResize, { passive: true })
	},

	methods: {
        // font-size: 351% !important;
		onResize() {
            console.log(window.innerWidth)
			if (window.innerWidth <= 800) {


			} else if ( window.innerWidth > 1650) {
        this.btn_font ="159% !important"
			}
			else if( window.innerWidth > 801 &&  window.innerWidth < 1650) {

                
			}
		}
	},
});
</script>
<style scope>
.title_banner {
  font-size: 400% !important;
  margin-top: 75px;
}
</style>