<template>
    <section>
        <v-container fluid style=" margin-top:6%;">
            <v-row justify="center" align="center">
                <v-col cols="4">
                    <v-row style=" padding:5%;">
                        <v-img src="@/assets/pages/page_6/banner2.webp">

                        </v-img>
                    </v-row>
                </v-col>
                <v-col cols="6" class="OfferCarrerCotainer">
                    <v-row style="">
                        <v-col cols="11">
                            <h1 class="blue_text--text half-underline">{{ title }}</h1>
                        </v-col>
                        
                    </v-row>
                    <v-row style=" margin-top:3.5%;">
                        <v-col cols="11">
                            <p class="grey--text text-justify"> {{ text }} </p>
                        </v-col>
                        
                    </v-row>
                    <v-row class="mt-5">
                        <v-btn 
                                style="border-radius: 10px !important;  text-transform: unset !important"
                                color="#003c91"
                                class="white--text">Descarga malla curricular</v-btn>
                    </v-row>
                </v-col>
            </v-row>
        </v-container>
    </section>
</template>
    
    
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    name: "EduOffer2_2",
    data: () => ({
        btn_crd: "",
        mt_text :"",
        font_size_title: "",
        font_size_text: "",
        margin_left: "ml-6",
        margin_top: "mt-16",
        margin_left_col: "",
        height_container: "",
        max_height_img:'',
		max_width_img:'',
        title: 'Sé parte de una industria en alto crecimiento',
        text: 'Recibe una formación práctica que te permitirá trabajar en las mejores cadenas hoteleras y realizar línea de carrera. Vive tu carrera desde el primer ciclo realizando visitas guiadas y participa de viajes internacionales a reconocidos hoteles y resorts antes de terminar tu carrera.',
    }),

    mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },

    methods: {

        onResize() {

            if (window.innerWidth <= 600) {
                this.margin_left = "ml-0";
                this.margin_top = "mt-0";

            } else if (window.innerWidth > 1650) {
                this.font_size_title = "390% !important"
                this.font_size_text = "159% !important"
                this.margin_left_col = "0px !important"
                this.height_container = "750px"
                this.max_height_img ="850px"
				this.max_width_img ="600px"
                this.btn_crd = "btn_crd2"
                this.mt_text ="mt-16"
            }
            else {

                this.margin_left = "ml-6";
                this.margin_top = "mt-16"
                this.font_size_title = "249%"
                this.font_size_text = "99% !important"
                this.margin_left_col = ""
                this.height_container = ""
                this.max_height_img ="370px"
                this.mt_text ="mt-8"
                this.btn_crd = ""

            }
        }
    },

});
</script>

<style scoped>
.btn_crd2 {

    font-size: 159% !important;
    height: 48px !important;
    width: 386px !important;
}
@media screen and (max-width:1940px){
    .half-underline{
        font-size: 5.5vh;
        line-height: 3.5rem;
    }
}
@media screen and (max-width:1368px){
    .half-underline{
        font-size: 6.7vh;
        line-height: 3.5rem;
    }
}
</style>