<template>
  <v-container fluid class="mt-3 mb-10">
    <v-row class="mb-5">
      <v-col cols="12">
        <h1 class="blue_text--text font_section_titles h1_benefi_offer text-center">{{ title }}</h1>
        <div class="arrow-down_purple  mt-4"></div>
      </v-col>
    </v-row>
    
      <v-row aling="center" justify="center">
        <v-col cols="9">
          <v-row aling="center" justify="space-between" class="mt-2">
            <v-col cols="12" sm="12" md="4" class="text-center" v-for="(feature, i) in features" :key="i">
              <v-hover v-slot:default="{ hover }">
                <v-card class="card bc_rounded text-left pad_card" shaped :elevation="hover ? 16 : 0"
                  :class="{ up: hover, bc_hover: hover }" style="height: 275px !important;">
                  <v-row class="py-4 ml-1 mb-3">
                    <span :class="feature.icon" class="primary--text" :style="{ 'font-size': feature.font_icon, 'margin-top':feature.mt,'margin-left':feature.ml }"></span>
                  </v-row>
                  <h3 style="line-height: 1.2;" :style="{'font-size':font_size_cd_title}" class="ml-4 grey--text"><strong>{{ feature.title }}</strong></h3>
                  <p  :style="{'font-size':font_size_cd_text}" class="mt-3 ml-4  grey--text text-justify">
                    {{ feature.text }}
                  </p>
                </v-card>

              </v-hover>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
  </v-container>
</template>
      
<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "EduOffer2_4",

  data: () => ({
    title: "Nuestros Beneficios",
    font_size_title:"",
    font_size_cd_title:"",
    font_size_cd_text:"",
    features: [
      {
        icon: "icon-avion_inclinado",
        font_icon :"26px",
        ml:"-5px",
        mt:"-10px",
        title: "PASANTÍAS INTERNACIONALES",
        text: "Viajes internacionales de estudio, visitas y prácticas en los mejores resorts y hoteles cinco estrellas.",
      },
      {
        icon: "icon-bag",
        font_icon :"50px",
        ml:"-15px",
        mt:"-32px",
        title: "CONVENIOS",
        text: "Oportunidades laborales y convenios en nuestra Área de Columbia Jobs.",
      },
      {
        icon: "icon-certificado",
        font_icon :"34px",
        ml:"-6px",
        mt:"-17px",
        title: "CERTIFICACIÓN POR COMPETENCIAS",
        text: "Recibe una certificación por cada módulo terminado.",
      },
      {
        icon: "icon-ding",
        font_icon :"30px",
        ml:"",
        mt:"-15px",
        title: "FORMACIÓN PRÁTICA VIVENCIAL",
        text: "Visitas guiadas a reconocidas cadenas hoteleras desde el primer ciclo.",
      },
      {
        icon: "icon-cama",
        font_icon :"30px",
        ml:"",
        mt:"-15px",
        title: "MODERNOS MÓDULOS",
        text: "Modernos módulos implementados con todo lo necesario para que desarrolles tu potencial.",
      },
      {
        icon: "icon-recurso-138",
        font_icon :"30px",
        ml:"",
        mt:"-15px",
        title: "INGLÉS ESPECIALIZADO",
        text: "Reforzamos tus habilidades con el idioma inglés en clases prácticas vivenciales.",
      },
    ],
  }),
  mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },

    methods: {

        onResize() {

            if (window.innerWidth > 1650) {
              this.font_size_title ="423% !important"
              this.font_size_cd_title ="155% !important"
              this.font_size_cd_text =" 115% !important"
            }
            else {
              this.font_size_title =""
              this.font_size_cd_title =""
              this.font_size_cd_text =""

            }
        }
    },
});
</script>

<style scoped>

@media screen and (max-width:1940px){
  .h1_benefi_offer{
    font-size:5vh;
  }
}
@media screen and (max-width:1368px){
  .h1_benefi_offer{
    font-size:6vh;
  }
}

</style>