<template>
	<div>
		<section class="bannerIMG_container">
			<v-img style="widht:100%; height:100%;" :src=img>
				<v-container class="mt-9 mb-1">
					<v-row no-gutters justify="center" class="ml-9">
						<h1 class="white--text h1_banner_sect2">{{ title }}</h1>
					</v-row>
				</v-container>
			</v-img>
		</section>
		
			<v-row justify="center">
				<v-col class="pa-14"  sm="12" md="9">
						<p class="text-content-offer7 text-justify grey--text" >{{ text_content }}</p>
				</v-col>
			</v-row>
			<v-row aling="center" justify="center">
      <v-col cols="10">
        <v-row aling="center" justify="space-around">
          <v-col cols="12" sm="12" md="3" class="text-center" v-for=" feature in features">
            <v-hover v-slot:default="{ hover }">
              <v-card class="card bc_rounded" shaped :elevation="hover ? 10 : 0" :class="{ up: hover }">
                <v-img :src="feature.img"> </v-img>
                <v-row style="padding:18px !important; height: 135px;">
                    <v-card-text class="text-center" :style="{'font-size':font_size}" style="min-height: 150px !important; 
																	line-height: 1 !important; align-content: center;">
                      <p class="mt-4">{{ feature.text }} </p>
                    </v-card-text>
                </v-row>
								<v-btn style=" border-radius: 14px !important;  
                                height: 42px!important;
                                margin-bottom: -20px;
                                text-transform: unset !important;" 
                                class=" white--text info bt_info_offer"
                                >
                    <strong> {{ feature.btn_text }}</strong>
                  </v-btn>
              </v-card>
            </v-hover>
          </v-col>
        </v-row>
      </v-col>
    </v-row>			
	</div>
</template>
    
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
	name: "EduOffer7_1",

	data: () => ({
		img: require("@/assets/pages/educative_7/banner.png"),
		title: "",
		title2: "",
		font_btn:"",
		font_size:"",
		text_content: "En Columbia te formamos con los conocimientos para adaptarte a los cambios y destacar en el mundo de la Aviación Comercial. Nuestro plan curricular está enfocado en aportar conocimientos técnicos, potenciar habilidades y desarrollar la vocación de servicio de nuestros alumnos, de la mano de profesionales especializados y con gran experiencia en el rubro. Ingresa a un mundo apasionante y lleno de emociones.",
		features: [
        {
          img: require("@/assets/pages/educative_7/card1.png"),
          text: "Aviación Comercial",
          link:"",
          btn_text:"Más Información",
        },     
      ],
	}),

	mounted() {
		this.onResize()
		window.addEventListener('resize', this.onResize, { passive: true })
	},
	methods: {

		onResize() {
			if (window.innerWidth > 1650) {
				this.font_size = "146% !important"
				this.font_btn  ="130% !important"

			}
			else {
				this.font_size = "110% !important"
				this.font_btn  ="110% !important"
		
			}
		}
	}
});
</script>

<style scoped>
@media screen and (max-width:1940px){
	.text-content-offer7{
		font-size: 2.3vh;
	}
	.bt_info_offer{
		font-size: 100%;
	}
	.bannerIMG_container{
		margin-top:7vh;
		height:55vh;
	}
}
@media screen and (max-width:1368px){
	.text-content-offer7{
		font-size: 2.7vh;
	}
	.content_text_feature{
		font-size: 115%;
	}
	.bannerIMG_container{
		margin-top:10vh;
		height:75vh;
	}
}
</style>