<template>
  <v-app>
    <Navigation_bar />
    <div>
      <v-main>
        <router-view />
      </v-main>
    </div>
    <Pre_footer />
    <Footer />
  </v-app>
</template>

<script lang="ts">

import Vue from "vue";
import Navigation_bar from "./components/Navigation_bar.vue";
import Pre_footer from "./components/Pre_footer.vue";
import Footer from "./components/Footer.vue";
import "@/assets/css/main.css"

export default Vue.extend({
  name: "App",
  components: {
    Navigation_bar,
    Footer,
    Pre_footer,

  },
  data: () => ({
    //


  }),
});
</script>
<style>

</style>