<template>
    <v-container fluid>
        <v-row aling="center" justify="center" class="text-justify">
            <v-col md="3" sm="12" :class="pa1" v-for="item in items">
                <v-card elevation="10" rounded="xl" class="mx-auto my-12" style="height: 465px;">
                    <template slot="progress">
                        <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
                    </template>
                    <v-img height="240" :src=item.img></v-img>
                    <v-row class="py-4 px-1">
                        <v-col :class="flex_basis" sm="12" md="12" class="px-4" align="center" justify="center">
                            <h2 class="blue_text--text"> <strong> {{ item.title }} </strong></h2>
                            <h3 class="font-weight-regular " style="padding-left:2rem; padding-right:2rem; max-height: 60px; min-height: 55px;">{{ item.texto }}</h3>
                        </v-col>
                        <v-col sm="12" md="12" justify="center" align="center" class="text-center">
                            <v-btn :to=item.route depressed fab dark class="mt-4" color="#03c100">
                                <v-icon dark size="40">
                                    mdi-whatsapp
                                </v-icon>
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    name: "About2_1",

    data: () => ({
        flex_basis: "",
        pa1 :"pa-9",
        items: [
            {
                title: "SAN ISIDRO",
                texto: "Av. Javier Prado Este 515",
                img: require("@/assets/pages/about_3/card1.png"),
                route: "",
            },
            {
                title: "LINCE",
                texto: "Av. Paseo de la República 2232 - Vía Expresa",
                img: require("@/assets/pages/about_3/card2.png"),
                route: "",
            },
            {
                title: "LOS OLIVOS",
                texto: "Av. Angélica Gamarra 160 - 174",
                img: require("@/assets/pages/about_3/card3.png"),
                route: "",
            }
        ]
    }),
    methods: {
        onResize() {

            if (window.innerWidth <= 600) {
                this.flex_basis = "col-flex-none",
                this.pa1 = "pa-0"
            } else {
                this.flex_basis = "",
                this.pa1 = "pa-9"
            }
        }
    },
    mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    }

});
</script>

<style scope>

</style>