<template>
    <section id="bannerIMG">
        <v-row no-gutters style="height:100%;">
            <v-col align-self="center" cols="12 text-center">
                <h1 class="" id="bannerTittle">
                    Nuestras sedes
                </h1>
            </v-col>
            
        </v-row>
    </section>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    name: "About2_1",
    data: () => ({
        height_class:"",
        margin_top:"",
        font_size:"",
        title:"Nuestras Sedes",
        img: require("@/assets/pages/about_3/banner.png")
    }),
	mounted() {
		this.onResize()
		window.addEventListener('resize', this.onResize, { passive: true })
	},

	methods: {
        // font-size: 351% !important;
		onResize() {
            console.log(window.innerWidth)
			if (window.innerWidth <= 800) {
                console.log("entro aca")
                this.margin_top="160px !important"
                this.height_class="section_img_md"

			} else if ( window.innerWidth > 1650) {
                this.height_class="section_img"
                this.margin_top="250px !important"
                
			}
			else if( window.innerWidth > 801 &&  window.innerWidth < 1650) {
                this.height_class="section_img_md"
                this.margin_top="165px !important"
                
                
			}
		}
	},
});
</script>
<style scoped>
   #bannerIMG{
    background-image: url("@/assets/pages/about_3/banner.png");
    background-size: cover;
   }

   #bannerTittle{
    margin-top: 14vh;
    font-size: 10vh;
    color:white;
   }
   @media screen and (max-width:1940px){
    #bannerIMG{
        height: 65vh;
    }
   }
   @media screen and (max-width:1368px){
    #bannerIMG{
        height: 75vh;
    }
   }
</style>