<template>
	<div>
		<section class="bannerIMG_container">
			<v-img style="width:100%; height:100%;" :src=img>
				<v-container class="mt-9 mb-1">
					<v-row no-gutters justify="center" class="ml-9">
						<h1  class="white--text h1_banner_sect2 width_content">{{ title }}</h1>
					</v-row>
				</v-container>
			</v-img>
		</section>
		<v-container fluid>
			<v-row>
				<v-col class="pa-8 mt-6 text-center" sm="12" md="12">
					
						<h1 id="tittle_cabin_crew" class="blue_text--text font_section_titles">{{
							title2
						}}</h1>
					
					
					
					
				</v-col>
			</v-row>
			<v-row align="center" justify="center">
				<div class="arrow-down_purple text-center"></div>
			</v-row>
			<v-row class="mt-0">
				<p style="max-width: 1450px !important; margin-left: auto !important; margin-right: auto !important;" 
				class="text-justify grey--text pa-16" :style="{ 'font-size': font_size }">
					{{ text_content }}
				</p>
			</v-row>
		</v-container>
	</div>
</template>
    
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
	name: "EduOffer6_1",

	data: () => ({
		img: require("@/assets/pages/educative_6/banner.png"),
		title: "",
		font_size: "",
		font_size_title: "",
		width_title: "",
		title2: "El mundo en tus manos con solo un click",
		text_content: "La adaptación al cambio es una de las principales habilidades que Columbia fomenta entre su comunidad. Esto nos ha impulsado a crear una propuesta educativa adecuada a los tiempos actuales, por ello te presentamos Columbia Online, una plataforma en donde encontrarás programas de extensión que el mercado laboral de hoy solicita y a la cual podrás acceder desde cualquier parte del mundo. Nuestro objetivo es acortar distancias para extender límites y acompañar a nuestros alumnos a alcanzar sus objetivos."
	}),
	mounted() {
		this.onResize()
		window.addEventListener('resize', this.onResize, { passive: true })
	},
	methods: {

		onResize() {
			if (window.innerWidth > 1650) {
				this.font_size = "166% !important"
				this.font_size_title = "400% !important"
				this.width_title = ""
			}
			else {
				this.font_size = "110% !important"
				this.font_size_title = "325% !important"
			}
		}
	}
});
</script>

<style>
.arrow-down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 20px solid #0077ff;
	margin: auto;
}
@media screen and (max-width:1940px){
	#tittle_cabin_crew{
		font-size: 5vh;	
	}
	.bannerIMG_container{
		margin-top:7vh;
		height:55vh;
	}
}
@media screen and (max-width:1368px){
	#tittle_cabin_crew{
		font-size: 6vh;	
	}
	.bannerIMG_container{
		margin-top:10vh;
		height:75vh;
	}
}
</style>