<template>
  <section class="pt-10 pb-4" style="margin-top: 140px;" id="CounterBannerSection">
      <v-container fluid class="mb-10">
          <v-row  justify="center">

            <v-col cols="12" md="5" >
                  
              <v-row class="text-left" justify="start" id="CabinCrew-tittle-container">
                  <h1 class="rightTittleBannerCard">{{
                      banner.title
                  }}</h1>
              </v-row>
              <v-row >
                  <v-divider class="items_line_card_1_2"></v-divider>
                      <div 
                          class="text_bar_divider text-uppercase font-weight-black white--text">{{ banner.subtitle }}
                      </div>
              </v-row>
              <v-row class="bannerCardContentContainer" id="CabinCrewBanner2">
                  <p class="text-justify grey--text bannerCardContent">
                      {{ banner.content }} <br>
                      En Columbia te capacitamos profesionalmente para que en solo 6 meses puedas acceder a grandes oportunidades e iniciar tu carrera profesional en la industria de mayor crecimiento global.
                  </p>
              </v-row>
              <v-row>
                  <h2 class="blue_text--text bannerCardDuration">Duracion: {{
                      banner.duration
                  }}</h2>
              </v-row>
              <v-row>
                <h2 class="blue_text--text bannerCardDuration">Modalidad: {{
                    banner.modalidad
                }}</h2>
            </v-row>
              <v-row>
                  <v-btn class="white--text font-weight-regular btn_crd_banner px-4"
                      style="border-radius: 8px;"
                      color="#f44336"
                      v-bind:to="'/educative_offer2'"
                      >
                      Descargar brochure
                  </v-btn>
              </v-row>
          </v-col>

              <v-col cols="12" sm="12" md="4">
                  <v-row justify="center" class="">
                    <v-col cols="12">
                      <v-img src="@/assets/pages/educative_6/banner_3.webp" cover class="imgLeftBannerCard"></v-img>
                    </v-col>
                      
                  </v-row>
                  
              </v-col>
              
              
          </v-row>
      </v-container>
  </section>

</template>
  
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "EduOffer3",

  data: () => ({
      btn_crd: "",
      font_size_title: "",
      font_size_text: "",
      ml_col: "",
      ml_text: "",
      height_container: "",
      height_img_offer:'',
      fluid_container:false,
      font_size_sub: "",
      lg_btn_circle:"",
      banner: {
        title: "Counter",
        subtitle: "PROGRAMA DE FORMACIÓN CONTINUA",
        content: "El trabajo en Counter o Asistente de Servicio al Pasajero es el que ofrece con mayor frecuencia oportunidades de ingresar a la industria de los viajes; puede realizarse en el counter de una aerolínea, en la ciudad o en el aeropuerto, incluso de manera remota con los servicios en línea que ofrecen diversas compañías aéreas. ",
        content2:"En Columbia te capacitamos profesionalmente para que en solo 6 meses puedas acceder a grandes oportunidades e iniciar tu carrera profesional en la industria de mayor crecimiento global.",
        duration: "6 meses",
        modalidad: "100% Online"
      }
  }),
  mounted() {
      this.onResize()
      window.addEventListener('resize', this.onResize, { passive: true })
  },
  methods: {

      onResize() {
          
          if (window.innerWidth > 1650) {
              this.font_size_title = "430% !important"
              this.font_size_text = "159% !important"
              this.ml_text = "117px !important"
              this.ml_col = "67px"
              this.btn_crd = "btn_crd"
              this.height_container = "700px"
              this.height_img_offer='100%'
              this.fluid_container=true,
              this.font_size_sub = "132% !important"
              this.lg_btn_circle ="lg_btn_circle"
          } else if (window.innerWidth > 1400) {
              this.ml_text = "9vh !important"
          }
          else {
              this.font_size_title = "350% !important"
              this.font_size_text = "99% !important"
              this.ml_text = "-25px"
              this.ml_col = "43px"
              this.btn_crd = ""
              this.height_container = ""
              this.height_img_offer='80%'
              this.font_size_sub = ""
              this.lg_btn_circle =""
          }
      }
  }
});
</script>

<style scoped>

.card_tittle_offerColumb{
  margin-left:1.8rem;
}
.items_line_card {
  position: absolute;
  width: 80%;
  margin-left: 29px !important;
  border: solid 15px !important;
  border-radius: 6px;
  border-color: #6200ea !important;
}

.font_section_TC {
  font-size: 50px !important;
  line-height: normal !important;
  
}

.circulo_s {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  margin-top: -33px;
}
.rightTittleBannerCard{
  color:#0077ff;
}

.text_bar_divider {
  z-index: 10;
  margin-top: .6rem;
  width: 95%;
  text-align: right;
}
.btn_crd_banner {
  text-transform: unset !important;
  font-size: 3vh !important;
}
.bannerCardContent{
  font-size: 2.2vh;
}
@media  screen and (max-width: 1920px) {
  .text_bar_divider {
      margin-top: .4rem;
      
  }
  .card_tittle_offerColumb{
      margin-left:1.2rem;
  }
  .btn_crd_banner {
      font-size: 2vh !important;
      margin-top:5%;
  }
  
  .leftContentBannerCard{
      margin-top: .7%;
  }
  .rightTittleBannerCard{
      font-size: 5vh;
      margin-bottom: 3%;
  }
  .bannerCardContent{
      font-size: 1.9vh;
  }
  .bannerCardContentContainer{
      margin-top: 12%;
  }
  #CabinCrew-tittle-container{
    line-height: 5vh;
  }
}
@media screen and (max-width:1368px){
  .btn_crd_banner {
      font-size: 2.5vh !important;
      margin-top: 5%;
  }
  .text_bar_divider {
      margin-top: .3rem;
      
    }
  .bannerCardContent{
      font-size: 2.5vh;
      
  }
  .rightTittleBannerCard{
      margin-top:-2%;
      font-size: 6.5vh;
  }
  .bannerCardContentContainer{
      margin-top:17%;
  }
  .bannerCardDuration{
      font-size: 3vh;
  }
  #CabinCrew-tittle-container{
    line-height: 8vh;
  }
}
</style>