<template>
  <section class="">
    <v-container class="mb-16" style="max-width: 1600px !important;">
      <v-row aling="center" justify="center">
        <v-col cols="12">
          <v-row aling="center" justify="space-around" class="mt-2">
            <v-col style="padding: 37px !important;" cols="12" sm="12" md="3" lg="3" xl="3" class="text-center" v-for=" feature in features">
              <v-hover v-slot:default="{ hover }">
                <v-card class="card bc_rounded mt-5 " shaped :elevation="hover ? 10 : 0" :class="{ up: hover }">
                  <v-img :src="feature.img"> </v-img>
                  <v-row style="padding:18px !important">
                    <v-card-text class="text-center" width="100" :style="{'font-size':font_text}" style="min-height: 150px !important; 
                        line-height: 1 !important; align-content: center;">
                      <p class="mt-4">{{ feature.text }} </p>
                    </v-card-text>
                  </v-row>
                  <v-btn style="border-radius: 14px !important;  
                                height: 42px!important;
                                margin-bottom: -20px;
                                text-transform: unset !important;" 
                                color="#e00814"
                                >
                    <strong><a class=" white--text" style="text-decoration:none;" v-bind:href="feature.link">{{ feature.btn_text }}</a> </strong>
                    
                  </v-btn>
                </v-card>
              </v-hover>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name:"EduOffer6_2", 
   data: () => ({
    font_text:"",
    font_btn:"",
      features: [
      {
        img: require("@/assets/pages/educative_6/card1.png"),
        text: "Cabin Crew",
        link:"#CabinCrewBannerSection",
        btn_text:"Más Información",
      },
      {
        img: require("@/assets/pages/educative_6/card2.png"),
        text: "Counter",
        link:"#CounterBannerSection",
        btn_text:"Más Información",          
      },
      {
        img: require("@/assets/pages/educative_6/card3.png"),
        text: "Servicio y atención de viajeros a bordo",
        link:"#ViajerosBannerSection",
        btn_text:"Más Información",          
      },
      {
        img: require("@/assets/pages/educative_6/card4.png"),
        text: "Software Informático para Hoteles y Restaurantes",
        link:"#SoftwareHRbannerSection",
        btn_text:"Más Información",          
      },        
    ], 
  }),

	mounted() {
		this.onResize()
		window.addEventListener('resize', this.onResize, { passive: true })
	},
	methods: {

		onResize() {
			if (window.innerWidth > 1650) {
        this.font_text ="166% !important"
        this.font_btn  ="130% !important"
			}
			else {
    
        this.font_text ="140% !important"
        this.font_btn  ="110% !important"
        
			}
		},
	}
});
</script>

<style scoped>

</style>